<h1 mat-dialog-title>{{ 'PET.REJECT.TITLE' | translate }}</h1>
<div mat-dialog-content>
      <!-- REACTIVE FORM EXAMPLE -->
      <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="rejectForm" [formGroup]="rejectForm" novalidate (ngSubmit)="hantar()">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field fxFlex="200">

                  <textarea matInput placeholder="{{ 'PET.REJECT.DETAILS' | translate }}" formControlName="catatan"></textarea>

              </mat-form-field>

          </div>

          <div mat-dialog-actions>
            <button mat-raised-button mat-dialog-close color = "warn">{{ 'PET.BTN.BACK' | translate }}</button>
            <button mat-raised-button mat-dialog-submit color = "accent" >{{ 'PET.BTN.SUBMIT' | translate }}</button>
          </div>

      </form>
</div>