<div id="ngx-datatable" class="page-layout simple fullwidth">
 
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'NOTIFIKASI.TITLE' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'NOTIFIKASI.TITLE' | translate }}</div>
        </div>
    </div>

    <div class="page-layout blank p-24" fusePerfectScrollbar>
        <mat-table #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}" >

            <!-- Name Column -->
            <ng-container cdkColumnDef="maklumat">
                <mat-header-cell *cdkHeaderCellDef>Maklumat</mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.maklumat}}</mat-cell>
            </ng-container>

            <!-- Owner Column -->
            <ng-container cdkColumnDef="createdby">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>Owner</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.createdby.name}} </mat-cell>
            </ng-container>

            <!-- Owner Column -->
            <ng-container cdkColumnDef="createddate">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>Date Share</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.createddate | date: 'dd/MM/yyyy' }} </mat-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.createddate | date: 'hh:mm' }} </mat-cell>
            </ng-container>


            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                    (click)="onSelect(row)"
                    [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                    matRipple
                    [@animate]="{value:'*',params:{y:'100%'}}"
            >
            </mat-row>
        </mat-table>
    </div>
</div>








































<!-- <div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
 
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'NOTIFIKASI.TITLE' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'NOTIFIKASI.TITLE' | translate }}</div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'NOTIFIKASI.SEARCH' | translate }}">
            </mat-form-field>
        </div>
        
    </div>

    <div class="page-layout blank p-24" fusePerfectScrollbar>
 
        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">
        
            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
        
                
                </ngx-datatable-column>
                <ngx-datatable-column name="{{ 'NOTIFIKASI.USER' | translate }}" prop="createdby.name" ></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'NOTIFIKASI.INFOR' | translate }}" prop="maklumat" ></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'NOTIFIKASI.DATE' | translate }}"
                    [canAutoResize]="false"
                    [sortable]="false">
                    <ng-template let-row="row"
                    ngx-datatable-cell-template>
                        {{ row.createon | date : 'dd/MM/yyyy'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column 
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
 
                    <button mat-raised-button (click)="readNoti(row.id)">
                        <mat-icon class="secondary-text">pageview</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
                
            </ngx-datatable>
        </div>
    
</div> -->