
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
   
    <!-- <button class="cust-add-btn ml-20" mat-fab color="warn"><mat-icon matSuffix>add</mat-icon></button> -->
    <!-- / HEADER -->

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.MANAGE' | translate}}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.APPROVAL' | translate}}</span>
            </div>
            <div class="h1 mt-16">{{'NAV.USER.APPROVAL' | translate}}</div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
            </mat-form-field>
        </div>

        

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">

            <ngx-datatable-column name="No IC" prop="username" ></ngx-datatable-column>
            <ngx-datatable-column name="Nama" prop="name" ></ngx-datatable-column>
            <ngx-datatable-column name="Emel" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Kementerian / Agensi" [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template>
                    <p *ngIf="row?.agensi && row?.kementerian">{{row.agensi.name}}</p>
                    <p *ngIf="!row?.agensi && row?.kementerian">{{row.kementerian.name}}</p>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tarikh Permohonan" prop="createddate" [sortable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'dd/MM/yyyy'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" [sortable]="false" >
                <ng-template let-row="row"
                    ngx-datatable-cell-template>
                    <mat-chip-list>
                        <mat-chip color="accent" selected="true" *ngIf="row?.status == '1'" >
                            Baru
                        </mat-chip>
                        <mat-chip color="primary" selected="true" *ngIf="row?.status == '2'" >
                            Ulangan
                        </mat-chip>
                        <mat-chip color="warn" selected="true" *ngIf="row?.status == '3'" >
                            Ditolak
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tindakan"
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
                    <swal
                        #approveSwal
                        title="Luluskan permohonan? "
                        text="Adakah anda pasti untuk luluskan permohonan?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="approve(row.id)">
                    </swal>
                    <swal
                        #rejectSwal
                        title="Tolak permohonan? "
                        text="Adakah anda pasti untuk tolak permohonan?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="reject(row.id)">
                    </swal>
                    <span *ngIf="row?.status != '3'">
                        <button mat-icon-button [swal]="approveSwal"
                                aria-label="Toggle important" fxHide.xs>
                            <mat-icon class="green-fg" >check_circle</mat-icon>
                        </button>
                        <button
                            mat-icon-button [swal]="rejectSwal"
                            aria-label="Toggle star" 
                            fxHide.xs>
                            <mat-icon class="red-fg" >cancel</mat-icon>
                        </button>
                    </span>

                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
        
    </div>

</div>

