
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->

    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end" enctype="multipart/form-data">
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <div class="name h2 mt-16">{{ 'PROFILE_KEMENTERIAN.EDIT_PROFILE' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <form  class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" [formGroup]="agensiForm" id="agensiForm   " novalidate (ngSubmit)="submit()">
            <div fxFlex="1 0 auto" fxLayout="row">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.NAME' | translate }}" formControlName="name" required>
                    <mat-error *ngIf="verticalStepperStep1Errors.name">
                        Name is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto" fxLayout="row">

                <mat-form-field fxFlex="50" fxLayout="column">
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.CODE' | translate }}" formControlName="code" required>
                    <mat-error *ngIf="verticalStepperStep1Errors.name">
                        Code is required!
                    </mat-error>
                </mat-form-field>
            
            <mat-form-field fxFlex="50" fxLayout="column">
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.TEL' | translate }}" formControlName="phoneNo" required>
                    <mat-error *ngIf="verticalStepperStep1Errors.name">
                        Code is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto" fxLayout="row">
                <mat-form-field fxFlex="100" >
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.ADDRESS' | translate }}" formControlName="address" required>
                    <mat-error *ngIf="verticalStepperStep1Errors.name">
                        Code is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                    <mat-select #negeri (selectionChange)="setSBState(negeri.value)" placeholder="{{ 'PROFILE_KEMENTERIAN.STATE' | translate }}" formControlName="state" required>
                        <mat-option *ngFor="let negeri of negeriLs" [value]="negeri.id">
                            {{negeri.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="verticalStepperStep1Errors.state">
                        Negeri is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-select #bandar (selectionChange)="setSBCity(bandar.value)" placeholder="{{ 'PROFILE_KEMENTERIAN.CITY' | translate }}" formControlName="city" required>
                        <mat-option *ngFor="let bandar of bandarLs" [value]="bandar.id">
                            {{bandar.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="verticalStepperStep1Errors.city">
                        Bandar is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.POSTCODE' | translate }}" formControlName="postcode" required>
                    <mat-error *ngIf="verticalStepperStep1Errors.postcode">
                        Code is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto" fxLayout="row">
                <mat-form-field fxFlex="100" >
                    <input matInput placeholder="{{'PROFILE_KEMENTERIAN.URL' | translate }}" formControlName="urlPortal" required>
                </mat-form-field>
            </div>
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button class="mr-8" mat-raised-button type="button" color="warn" (click)="back()">
                    {{ 'PROFILE_KEMENTERIAN.BACK' | translate }}
                </button>
                <button mat-raised-button type="button" color="accent" aria-label="SUBMIT"
                [disabled]="agensiForm.invalid" (click)="submit()">
                    {{ 'PROFILE_KEMENTERIAN.SAVE' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>