
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">My PET</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PERMOHONAN.TITLE' | translate }}</span>

            </div>
            <div class="h2 mt-16">{{ 'PERMOHONAN.TITLE' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="permohonanForm" [formGroup]="permohonanForm" novalidate (ngSubmit)="request()">

                  <div class="h2 mb-24">{{ 'PERMOHONAN.INFOR' | translate }}</div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                          <input matInput placeholder="Nama Pet (disabled)" formControlName="nama"required>

                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                          <input matInput placeholder="Nama Singkatan (disabled)" formControlName="namaSingkatan"required>

                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                        <input matInput placeholder="Nama Singkatan" formControlName="jenis"required>

                      </mat-form-field>

                  </div>

                 

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                          <textarea matInput placeholder="Keterangan" formControlName="keterangan"required></textarea>

                      </mat-form-field>
                      
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                          <textarea matInput placeholder="Tujuan" formControlName="tujuan"required></textarea>

                      </mat-form-field>
                      
                  </div>
                  
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                         <textarea matInput placeholder="Catatan" formControlName="catatan"required></textarea>

                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="center">
                      <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" 
                      [disabled]="permohonanForm.invalid">
                              {{ 'PERMOHONAN.BUT_REQUEST' | translate}}
                      </button>
                      &#160;&#160;
                      <button mat-raised-button color="warn" (click)="back()" >
                            {{ 'PERMOHONAN.BUT_BACK' | translate}}
                      </button>
                  </div>

            </form>


        </div>
    </div>


</div>
