<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200">

    <!-- HEADER -->
    <div class="header p-24 h-180" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img *ngIf="imageSrc" class="profile-image avatar huge" src="data:image/JPEG;base64,{{imageSrc}}">
            <img *ngIf="!imageSrc" class="profile-image avatar huge" src="assets/images/avatars/profile.jpg">
            <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{name}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom
             [@animate]="{value:'*',params:{delay:'200ms'}}">
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="MyWall">
                <fuse-profile-timeline></fuse-profile-timeline>
            </mat-tab>

            <mat-tab label="About">
                <fuse-profile-about></fuse-profile-about>
            </mat-tab>

            <mat-tab label="Calendar">
                <fuse-calendar></fuse-calendar>
            </mat-tab>

            <!-- <mat-tab label="Photos & Videos">
                <fuse-profile-photos-videos></fuse-profile-photos-videos>
            </mat-tab> -->

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
