<div >
    <div class="rm-margin header mat-accent-bg p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="center center">

      <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center center">
          <div class="h1 mt-16"><mat-icon>gavel</mat-icon>&nbsp;{{'TERM.TITLE' | translate | uppercase}}</div>
      </div>

    </div>
  <br><br>
  <div  md-dialog-content >
      <mat-dialog-content fusePerfectScrollbar>
          <div [innerHTML]="syarat"></div>
      </mat-dialog-content>
  </div>

  <hr>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button *ngIf="isLogin" mat-raised-button color="warn" (click)="onCloseConfirm()">{{'TERM.AGREE' | translate}}</button>
    <button *ngIf="!isLogin" mat-raised-button color="warn" (click)="onCloseConfirm()">OKAY</button>
  </div>
</div>

