<div class="header mat-elevation-z4 primary" fxLayout="row" fxLayoutAlign="space-between center" [@expandCollapse]>

    <ng-container *ngIf="selectedContact === null">

        <div class="title ml-16" fxLayout="row" fxLayoutAlign="start center"
             (click)="unfoldSidebarTemporarily()">
            <mat-icon class="s-32 white-fg">chat</mat-icon>
            <h3 class="ml-12">Team Chat</h3>
        </div>

    </ng-container>

    <ng-container *ngIf="selectedContact !== null">

        <div class="title" fxLayout="row" fxLayoutAlign="start center">
            <img *ngIf="selectedContact.image" class="avatar" src="data:image/JPEG;base64,{{selectedContact.image}}" class="avatar mx-16">
            <img *ngIf="!selectedContact.image" class="avatar" src="assets/images/avatars/profile.jpg" class="avatar mx-16">
            <h3 class="text-truncate">{{selectedContact.name}}</h3>
        </div>

    </ng-container>

    <button mat-icon-button class="toggle-sidebar-folded mr-8" (click)="foldSidebarTemporarily();resetChat();"
            fxHide fxShow.gt-md>
        <mat-icon class="secondary-text s-20 header">close</mat-icon>
    </button>

    <!-- <button mat-icon-button class="toggle-sidebar-open mr-8 " (click)="toggleSidebarOpen();resetChat();"
            fxHide.gt-md>
        <mat-icon class="secondary-text header">close2</mat-icon>
    </button> -->

</div>

<div class="content full-height" fxLayout="row">

    <!-- Contacts -->
    <div id="contacts-list" class="full-height" fusePerfectScrollbar>

        <div *ngFor="let contact of contacts"
             class="contacts-list-item"
             [ngClass]="contact.status"
             [class.active]="contact.user.id === selectedContact?.id"
             (click)="toggleChat(contact.user)">

            <img *ngIf="contact.user.image" class="avatar" src="data:image/JPEG;base64,{{contact.user.image}}"
                 [matTooltip]="contact.user.name"
                 matTooltipPosition="left">
            <img *ngIf="!contact.user.image" class="avatar" src="assets/images/avatars/profile.jpg"
                [matTooltip]="contact.user.name"
                matTooltipPosition="left">
            <div class="unread-count" *ngIf="contact.numberofUnread!='0'">{{contact.numberofUnread}}</div>
            

        </div>
        <!-- <div *ngFor="let contact of contacts" class="contacts-list-item online ng-star-inserted">

            <img *ngIf="!contact.image" class="avatar" 
            mattooltipposition="left" 
            style="touch-action: none; -moz-user-select: none;" 
            aria-describedby="cdk-describedby-message-6" 
            cdk-describedby-host="" 
            src="assets/images/avatars/profile.jpg">

            <img *ngIf="contact.image" class="avatar" 
            mattooltipposition="left" 
            style="touch-action: none; -moz-user-select: none;" 
            aria-describedby="cdk-describedby-message-6" 
            cdk-describedby-host="" 
            src="data:image/JPEG;base64,{{contact.image}}">
                <div class="unread-count ng-star-inserted">2</div>
                <div class="status-icon online"></div>
        </div> -->

    </div>
    <!-- / Contacts -->

    <!-- Chat -->
    <div id="chat" fxLayout="column" fxFlex="1 1 auto" class="full-height">

        <div id="messages" #message class="messages" fxFlex="1 1 auto" fusePerfectScrollbar>
            
            <ng-container *ngIf="chat && chat && chat.length > 0">

                <div *ngFor="let message of chat; let i = index" class="message-row"
                     [ngClass]="{
                            'me': message.who == user.id,
                            'contact': message.who != user.id,
                            'first-of-group': isFirstMessageOfGroup(message, i),
                            'last-of-group': isLastMessageOfGroup(message, i)
                            }">

                    <img *ngIf="shouldShowContactAvatar(message, i) && selectedContact.image"
                         src="data:image/JPEG;base64,{{selectedContact.image}}"
                         class="avatar">
                    <img *ngIf="shouldShowContactAvatar(message, i) && !selectedContact.image"
                         src="assets/images/avatars/profile.jpg"
                         class="avatar">

                    <div class="bubble">
                        <div class="message">{{message.message}}</div>
                        <div class="time secondary-text">{{message.time | date:'short'}}</div>
                    </div>

                </div>

            </ng-container>

            <ng-container *ngIf="selectedContact && chat && chat && chat.length === 0">

                <div class="no-messages-icon">
                    <mat-icon class="s-128 fade-text">chat</mat-icon>
                </div>

                <div class="no-messages secondary-text">
                    Start a conversation by typing your message below.
                </div>

            </ng-container>

            <ng-container *ngIf="!selectedContact">

                <div class="no-contact-selected">

                    <div class="no-contact-icon">
                        <mat-icon class="s-128 fade-text">chat</mat-icon>
                    </div>

                    <div class="no-contact secondary-text">
                        Select a contact to start a conversation.
                    </div>

                </div>

            </ng-container>

        </div>

        <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="selectedContact">

            <form #replyForm="ngForm"
                  (ngSubmit)="reply($event)"
                  (keydown.enter)="reply($event)"
                  fxFlex fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput ngModel name="message" placeholder="Type your message"
                              [rows]="1" ></textarea>
                </mat-form-field>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>

    </div>
    <!-- / Chat -->

</div>