<div id="senari-join-pet" class="page-layout simple left-sidenav inner-sidenav"> 
 
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" 
            fxLayoutAlign.gt-xs="space-between center"> 
 
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start"> 
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center"> 
                <mat-icon class="secondary-text s-16">home</mat-icon> 
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon> 
                <span class="secondary-text">{{ 'PERMOHONAN.TITLE' | translate }}</span> 
            </div> 
            <div class="h2 mt-16">{{ 'PERMOHONAN.TITLE' | translate }}</div> 
        </div> 
 
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center"> 
            <label for="search" class="mr-8"> 
                <mat-icon>search</mat-icon> 
            </label> 
            <mat-form-field mat-no-float class="m-0" floatLabel="never"> 
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PERMOHONAN.SEARCH' | translate }}"> 
            </mat-form-field> 
        </div> 
         
    </div> 

    <mat-sidenav-container>

            <!-- SIDENAV -->
            <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
                fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">
                    
                         <div class="sidenav-content">
                             <div class="card mat-white-bg">
                                 <!-- SIDENAV HEADER -->
                                 <div class="nav-header p-24" fxLayout="row" fxLayoutAlign="start center">
    
                                     <span class="h5"><strong>PET</strong></span>
                                     
    
                                 </div>
                                 <!-- / SIDENAV HEADER -->
                                 <hr>
                                 <!-- SIDENAV CONTENT -->
                                 <div class="content py-16" fusePerfectScrollbar>
    
                                     <div class="nav">
                                         <div class="nav-item">
                                             <a class="nav-link" matRipple (click)="changeFilter('semua')" [ngClass]="{'active':filter ==='semua'}">
                                                 <span class="title">All PET</span>
                                             </a>
                                         </div>
    
                                         <div class="nav-item" (click)="changeFilter('project')">
                                             <a class="nav-link" matRipple [ngClass]="{'active':filter ==='project'}">
                                                 <div class="title">Projects</div>
                                             </a>
                                         </div>
    
                                         <div class="nav-item" (click)="changeFilter('event')">
                                             <a class="nav-link" matRipple [ngClass]="{'active':filter ==='event'}">
                                                 <div class="title">Events</div>
                                             </a>
                                         </div>
    
                                         <div class="nav-item" (click)="changeFilter('team')">
                                             <a class="nav-link" matRipple [ngClass]="{'active':filter ==='team'}">
                                                 <div class="title">Teams</div>
                                             </a>
                                         </div>
                                     </div>
    
                                 </div>
    
                             </div>
                         </div>
                         <!-- / SIDENAV CONTENT -->
                    
                         
            </mat-sidenav>
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar >
          
        <ngx-datatable 
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)"
           >
        
            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="{{ 'PERMOHONAN.PET_NAME' | translate }}" prop="nama" ></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'PERMOHONAN.JENIS' | translate }}" prop="jenis" ></ngx-datatable-column>
            <ngx-datatable-column name="Tindakan" 
            [canAutoResize]="false" 
            [sortable]="false" 
            > 
            <ng-template let-row="row" 
                ngx-datatable-cell-template 
                
                > 
                <div >
                
                <button mat-icon-button (click)="request(row.id)" 
                        aria-label="Toggle important"  fxHide.xs> 
                    <mat-icon >add_circle</mat-icon > 
                </button> 
            </div>
                <!-- <mat-chip-list>  *ngFor="let ahliPet of AhliPet" 
                    <mat-chip *ngIf="row.id != ahliLs.tempPet.id && ahliLs.status == 'Inactive'">{{ 'PERMOHONAN.REQUESTED' | translate}}</mat-chip>
                </mat-chip-list> -->
            </ng-template> 
        </ngx-datatable-column> 
            </ngx-datatable>    
        
    </div>
    </mat-sidenav-container>

</div>