<div id="pet-wall" class="page-layout simple tabbed" fusePerfectScrollbar detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200">

    <!-- HEADER -->
    <div class="header p-24 h-180" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img *ngIf="imageSrc" class="profile-image avatar huge" src="data:image/JPEG;base64,{{imageSrc}}">
            <img *ngIf="!imageSrc" class="profile-image avatar huge" src="assets/images/avatars/profile.jpg">
            <div class="name" >{{name}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom
             [@animate]="{value:'*',params:{delay:'200ms'}}">
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="WOC">
                <wall-pet-woc></wall-pet-woc>
            </mat-tab>

            <mat-tab label="Galleri">
                <wall-pet-gallery></wall-pet-gallery>
            </mat-tab>

            <mat-tab label="Kalendar PET">
                <wall-pet-kalendar></wall-pet-kalendar>
            </mat-tab> -->

            <mat-tab label="Announcements">
                <app-pet-pengumuman></app-pet-pengumuman>
            </mat-tab>

            <mat-tab label="Members" *ngIf="rolesAdmin == 'SECURITY-PET-USER'">
                <fuse-senarai-ahliPet></fuse-senarai-ahliPet>
            </mat-tab>
            
            <mat-tab label="Members & Roles" *ngIf="rolesAdmin != 'SECURITY-PET-USER'">
                <fuse-senarai-ahliPet-admin></fuse-senarai-ahliPet-admin>
            </mat-tab>

            <mat-tab label="About">
                <fuse-about-pet></fuse-about-pet>
            </mat-tab>

            <!-- <mat-tab label="Deactive Application">
                <fuse-mohon-nyahaktif></fuse-mohon-nyahaktif>
            </mat-tab> -->
        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
