<h1 mat-dialog-title>{{titleTxt}}</h1>
<div mat-dialog-content>
      <!-- REACTIVE FORM EXAMPLE -->
      <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="gradeForm" [formGroup]="gradeForm" novalidate (ngSubmit)="hantar()">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="200">
                    <input matInput placeholder="{{ 'GRADE.NAME' | translate }}" formControlName="name" required>
                    <mat-error *ngIf="gradeFormErrors.name.required">
                            {{ 'GRADE.FORMERROR.NAME' | translate }}
                    </mat-error>
                    <mat-hint class="cust-error" *ngIf="errNameExist">{{ 'GRADE.FORMERROR.NAMEEXIST' | translate}}</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="200">
                    <mat-select #seniority placeholder="{{ 'GRADE.SENIORITY' | translate }}" formControlName="seniority" required>
                        <mat-option *ngFor="let grade of gradeCn " [value]="grade">
                            {{grade}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="gradeFormErrors.seniority.required">
                            {{ 'GRADE.FORMERROR.SENIORITY' | translate }}
                    </mat-error>
                </mat-form-field>

          </div>

          <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
            
            <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                [disabled]="gradeForm.invalid">
                {{ 'GRADE.BTN.SUBMIT' | translate | uppercase}}
            </button>
            <button mat-raised-button color="warn" [mat-dialog-close]="">
                    {{ 'GRADE.BTN.BACK' | translate | uppercase}}
            </button>
          </div>

      </form>


</div>
