<div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="maklumatForm"
            [formGroup]="maklumatForm" novalidate (ngSubmit)="hantar()">

            <div class="h2 mb-24">{{ 'USER.EDIT.DETAILS' | translate }}</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.NAME' | translate }}" formControlName="name" required>
                    <mat-error *ngIf="maklumatFormErrors.name.required">
                        {{ 'USER.EDIT.FORMERROR.NAME' | translate }}
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.IC' | translate }}" formControlName="ic" required>
                    <mat-error *ngIf="maklumatFormErrors.ic.required">
                        {{ 'USER.EDIT.FORMERROR.IC.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="maklumatFormErrors.ic.pattern">
                        {{ 'USER.EDIT.FORMERROR.IC.PATTERN' | translate }}
                    </mat-error>
                    <mat-hint class="cust-error" *ngIf="errUsernameExist">
                        {{ 'USER.EDIT.FORMERROR.IC.EXIST' | translate}}
                    </mat-hint>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.ADDRESS' | translate }}" formControlName="address" required>
                    <mat-error *ngIf="maklumatFormErrors.address.required">
                        {{ 'USER.EDIT.FORMERROR.ADDRESS' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select #states (selectionChange)="setSBState(states.value)" placeholder="{{ 'USER.STATE' | translate }}" formControlName="state"
                        required>
                        <mat-option *ngFor="let states of stateLs" [value]="states.id">
                            {{states.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="maklumatFormErrors.state.required">
                        {{ 'USER.EDIT.FORMERROR.STATE' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-select #city (selectionChange)="setSBCity(city.value)" placeholder="{{ 'USER.CITY' | translate }}" formControlName="city"
                        required>
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                            {{city.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="maklumatFormErrors.city.required">
                        {{ 'USER.EDIT.FORMERROR.CITY' | translate }}
                    </mat-error>
                </mat-form-field>

                

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.POSTCODE' | translate }}" formControlName="postcode" required>
                    <mat-error *ngIf="maklumatFormErrors.postcode.required">
                        {{ 'USER.EDIT.FORMERROR.POSTCODE.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="maklumatFormErrors.postcode.pattern">
                        {{ 'USER.EDIT.FORMERROR.POSTCODE.PATTERN' | translate }}
                    </mat-error>
                </mat-form-field>
                
            </div>

            

            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="maklumatForm.invalid">
                    {{ 'USER.EDIT.BTN.SUBMIT' | translate | uppercase}}
                </button>
                &#160;&#160;
                <button type="reset" mat-raised-button color="warn" (click)="backButton()">
                    {{ 'USER.EDIT.BTN.BACK' | translate | uppercase}}
                </button>
            </div>


        </form>


    </div>
</div>