@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
    .detail {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        height: 100%;
    
        > .header {
            flex: 0 1 auto;
            height: 160px;
            min-height: 160px;
            max-height: 160px;
        }
    
        > .content {
            flex: 1;
    
            .file-details {
    
                .preview {
                    height: 240px;
                }
    
                .offline-switch {
                    padding-bottom: 16px;
                    font-weight: 500;
                }
    
                .title {
                    padding: 16px 0;
                }
    
                table {
                    width: 100%;
                    text-align: left;
    
                    tr {
    
                        th, td {
                            padding: 16px 0;
                        }
    
                        &.type {
                            text-transform: capitalize;
                        }
    
                        &.owner {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
