<div class="page-layout simple fullwidth" fusePerfectScrollbar>

    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
               
            </div>
            <div class="h2 mt-16">{{ 'MYBOX.SHARE' | translate }}</div>
        </div>
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
            <button type="reset" mat-icon-button (click)="download()" aria-label="Download" matTooltip="Download">
                <mat-icon>file_download</mat-icon>
            </button>
        </div>
    </div>

    <div class="page-layout blank p-24" fusePerfectScrollbar>
        <mat-table #table [dataSource]="list" *fuseIfOnDom [@animateStagger]="{value:'50'}">

            <!-- Type Column -->
            <ng-container cdkColumnDef="icon">
                <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxFlex="64px">
                    <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
                </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container cdkColumnDef="filename">
                <mat-header-cell *cdkHeaderCellDef>{{ 'MYBOX.NAME' | translate }}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" (dblclick)="func2(row.id)"> 
                        {{row.filename}}
                    </mat-cell>
            </ng-container>
        
            <!-- Type Column -->
            <ng-container cdkColumnDef="type">
                <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>{{ 'MYBOX.TYPE' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.type}}</mat-cell>
            </ng-container>
        
            <!-- Owner Column -->
            <ng-container cdkColumnDef="createdby">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>{{ 'MYBOX.OWNER' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.createdby.name}} </mat-cell>
            </ng-container>
        
            <!-- Size Column -->
            <ng-container cdkColumnDef="fileSize">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>{{ 'MYBOX.SIZE' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs>{{row.fileSize === '' ? '-': row.fileSize}}</mat-cell>
            </ng-container>
        
            <!-- Modified Column -->
            <ng-container cdkColumnDef="createddate">
                <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>{{ 'MYBOX.SHARE_DATE' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</mat-cell>
            </ng-container>
        
            <!-- Detail Button Column -->
            <ng-container cdkColumnDef="detail-button">
                <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
                    <button mat-icon-button class="sidenav-toggle"
                            fuseMatSidenavToggler="file-manager-right-sidenav">
                        <mat-icon class="secondary-text">info</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                     (click)="onSelect(row)"
                     [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                     matRipple
                     [@animate]="{value:'*',params:{y:'100%'}}"
            >
            </mat-row>
        </mat-table>
        
    </div>
    <!-- <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
                     <div class="header mat-accent-bg p-24 detail" fxLayout="column" fxLayoutAlign="space-between">

                        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="download(selected.instanceid)" class="" aria-label="Download" matTooltip="Download">
                                <mat-icon>file_download</mat-icon>
                            </button>
                        </div>
                    
                        <div>
                            <div class="title mb-8">{{selected.filename}}</div>
                            <div class="subtitle secondary-text">
                                <span>{{ 'MYBOX.CREATEDDATE' | translate }}</span>
                                <span>: {{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</span>
                            </div>
                        </div>
                    </div> -->
                    <!-- / SIDENAV HEADER -->
                    
                    <!-- SIDENAV CONTENT -->
                    <!-- <div class="content p-24 mat-white-bg" fusePerfectScrollbar>
                    
                        <div class="file-details"
                             *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">
                    
                            <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="type-icon s-48" [ngClass]="selected.type"></mat-icon>
                            </div>
                    
                            <div class="title">Info</div>
                    
                            <table>
                                <tr class="type">
                                    <th>{{ 'MYBOX.TYPE' | translate }}</th>
                                    <td>{{selected.type}}</td>
                                </tr>
                    
                                <tr class="size">
                                    <th>{{ 'MYBOX.SIZE' | translate }}</th>
                                    <td>{{formatNumber2Decimal(selected.fileSize)}} MB</td>
                                </tr>
                    
                                <tr class="owner">
                                    <th>{{ 'MYBOX.OWNER' | translate }}</th>
                                    <td>{{selected.createdby.name}}</td>
                                </tr>
                    
                                <tr class="created">
                                    <th>{{ 'MYBOX.CREATEDDATE' | translate }}</th>
                                    <td>{{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</td>
                                </tr>
                            </table>
                        </div>
                    
                    </div>
        </mat-sidenav> -->
</div>