<div id="forgot-password" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/jataNegara.svg">
        </div>

        <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Selamat Datang ke MyDiWorks!
        </div>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Ruang Kerja Digital Sektor Awam
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">{{ 'RESET.FORGOT' | translate | uppercase}}</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="checkEmail()">

                <mat-form-field id="emailuser" style="display: block;">
                    <input matInput placeholder="{{ 'RESET.PLACEHOLDER' | translate }}" formControlName="email">
                    <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                        {{ 'RESET.WRONG' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        {{ 'RESET.WRONG1' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" id="cekEmail" style="display: block;">
                        {{ 'RESET.BTN.RESET' | translate | uppercase}}
                </button>

                <div class="login" id ="btnLogin" style="display: block;" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/login'">{{ 'RESET.LOGIN' | translate}}</a>
                </div>

            </form>
            
            <form name="soalanForm" [formGroup]="soalanForm" novalidate (ngSubmit)="forgot()" id="ifYes" style="display: none;" [@expandCollapse] >

                <mat-form-field>
                    <label>{{soalan1}}</label>
                    <input matInput placeholder="" formControlName="jawapan">
                    <mat-error *ngIf="soalanFormErrors.jawapan.required">
                        {{ 'RESET.WRONG2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!soalanFormErrors.jawapan.required && soalanFormErrors.jawapan.jawapan">
                        {{ 'RESET.WRONG3' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label>{{soalan2}}</label>
                    <input matInput placeholder="" formControlName="jawapan2">
                    <mat-error *ngIf="soalanFormErrors.jawapan2.required">
                        {{ 'RESET.WRONG2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!soalanFormErrors.jawapan2.required && soalanFormErrors.jawapan2.jawapan2">
                        {{ 'RESET.WRONG3' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label>{{soalan3}}</label>
                    <input matInput placeholder="" formControlName="jawapan3">
                    <mat-error *ngIf="soalanFormErrors.jawapan3.required">
                        {{ 'RESET.WRONG2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!soalanFormErrors.jawapan3.required && soalanFormErrors.jawapan3.jawapan3">
                        {{ 'RESET.WRONG3' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label>{{soalan4}}</label>
                    <input matInput placeholder="" formControlName="jawapan4">
                    <mat-error *ngIf="soalanFormErrors.jawapan4.required">
                        {{ 'RESET.WRONG2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!soalanFormErrors.jawapan4.required && soalanFormErrors.jawapan4.jawapan">
                        {{ 'RESET.WRONG3' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label>{{soalan5}}</label>
                    <input matInput placeholder="" formControlName="jawapan5">
                    <mat-error *ngIf="soalanFormErrors.jawapan5.required">
                        {{ 'RESET.WRONG2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!soalanFormErrors.jawapan5.required && soalanFormErrors.jawapan5.jawapan">
                        {{ 'RESET.WRONG3' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="soalanFormErrors.invalid" id="emailValid" style="display: none;">
                        {{ 'RESET.BTN.RESET' | translate | uppercase}}
                </button>

                <div class="login" id ="btnLogin" style="display: block;" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/login'">{{ 'RESET.LOGIN' | translate}}</a>
                </div>

            </form>

        </div>
    </div>
</div>