<div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            <div class="col-9">

                <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row" name="versionForm" enctype="multipart/form-data" [formGroup]="versionForm" id="versionForm" novalidate (ngSubmit)="newUpload()">
                    <span>{{fileName}}</span>
                    <input id="versionUpload" (change)="fileUploadChange($event)" #fileUpload type="file"/> 
                    <button mat-raised-button mat-dialog-submit color = "accent"><mat-icon>cloud_upload</mat-icon>Upload New Version</button>
                </form>

                <!DOCTYPE html>
                <html>
                    <head>
                    <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }
    
                    td, th {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }
    
                    tr:nth-child(even) {
                        background-color: #dddddd;
                    }
                    </style>
                    </head>
                    <body>
    
                    <h2>Galeri</h2>                                        
                   
                 <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row" name="versionForm" enctype="multipart/form-data" [formGroup]="versionForm" id="versionForm" novalidate>
                    <table>
                    <tr>
                        <th>File Name</th>
                        <th>Version</th>
                        <th>Download Only</th>
                        <th>Download & Lock</th>
                        <th>Unlock File</th>
                    </tr>
                    <tr *ngFor="let data of file">
                        <td>{{data.filename}}</td>
                        <td>{{data.version}}</td>
                        <td>
                            <button mat-button (click)="downloadFile(data.instanceid)">
                                <mat-icon>cloud_download</mat-icon>
                            </button> 
                        </td>
                        <td>
                            <button mat-button (click)="downloadLock(data.instanceid, data.id)">
                                <mat-icon>assignment_returned</mat-icon>
                            </button> 
                        </td>
                        <td>
                            <button mat-button (click)="unlockFile(data.id)">
                                <mat-icon *ngIf= "data.status ==1">lock_open</mat-icon>
                                <mat-icon *ngIf= "data.status ==2">lock</mat-icon>
                            </button> 
                        </td> 
                    </tr>
                    </table>
                    </form>
                    </body>
                </html>
            </div>
        </div>
    </div>