
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

        <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="space-between center">
    
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="h1 mt-16">{{'PET.DEACTIVE.APPROVAL' | translate}}</div>
            </div>
    
            <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon>search</mat-icon>
                </label>
                <mat-form-field mat-no-float class="m-0" floatLabel="never">
                    <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PET.SEARCH' | translate }}">
                </mat-form-field>
            </div>
    
            
    
        </div>
        <!-- / HEADER -->
    
        <!-- CONTENT -->
        <div class="page-layout blank p-24" fusePerfectScrollbar>
    
            <ngx-datatable
                class="material "
                headerClass="cust-header"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'"
                [headerHeight]="55"
                [footerHeight]="56"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [externalSorting]="true"
                [scrollbarH]="true"
                [reorderable]="reorderable"
                [selectionType]="'checkbox'"
                [limit]="page.size"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                (page)='setPage($event)'
                (sort)="onSort($event)">
    
                <ngx-datatable-column name="Pentadbir PET" prop="pemohon.name" ></ngx-datatable-column>
                <ngx-datatable-column name="Nama PET" prop="pet.nama" ></ngx-datatable-column>
                <ngx-datatable-column name="Jenis" prop="pet.jenis"></ngx-datatable-column>
                <ngx-datatable-column name="catatan" prop="catatan"></ngx-datatable-column>
    
                <ngx-datatable-column name="Tarikh Permohonan" prop="tarikhMohon">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date:'shortDate'}}
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Tindakan"
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
                    <swal
                        #approveSwal
                        title="Luluskan permohonan? "
                        text="Tindakan ini tidak boleh diubah"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="approve(row.id)">
                    </swal>
                    <swal
                        #rejectSwal
                        title="Tolak permohonan? "
                        text="Adakah anda pasti untuk tolak permohonan?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="reject(row.id)">
                    </swal>
                    <div>
                        <button *ngIf="row.status == '0'" mat-icon-button 
                        [swal]="approveSwal">
                            <mat-icon class="green-fg" >check_circle</mat-icon>
                        </button>

                        <button *ngIf="row.status == '0'" mat-icon-button
                        [swal]="rejectSwal">
                            <mat-icon class="red-fg" >cancel</mat-icon>
                        </button>
                    </div>

                    <mat-chip-list>
                        <mat-chip class="mat-green-600-bg " color="green" selected="true"*ngIf="row.status == '1'">
                            Approved
                        </mat-chip>
                        <mat-chip class="mat-red-A700-bg" color="warn" selected="true"*ngIf="row.status == '2'">
                            Rejected
                        </mat-chip>
                    </mat-chip-list>
                           
                </ng-template>
            </ngx-datatable-column> 
    
            </ngx-datatable>
            
        </div>
    
    </div>
    
    