
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->





    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end" enctype="multipart/form-data"  novalidate [formGroup]="picForm" id="picForm">
        <!-- <form > -->
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" (load)="handleImageLoad()" id="image" [src]="imageSrc" [class.loaded]="imageLoaded"
                 *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name h2 mt-16">{{ 'WALL.ABOUT.EDIT_PROFILE' | translate }}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom>
            <input id="avatar" style="display: none" type="file" accept="image/*" (change)="handleInputChange($event)" #uploadImage>
            <button mat-raised-button color="accent" aria-label="Follow"  (click)="uploadImage.click()">{{ 'WALL.ABOUT.UPLOAD_PET_PHOTO' | translate}}</button>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom>
                <button mat-raised-button color="accent"   (click)="savePic()">{{ 'WALL.ABOUT.SAVE_PICTURE' | translate}}</button>
            </div>
        <!-- </form> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="vertical-stepper-wrapper">

            <!-- VERTICAL STEPPER EXAMPLE -->
            <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="verticalStepperStep1">

                    <form [formGroup]="verticalStepperStep1" >

                        <ng-template matStepLabel>{{ 'WALL.ABOUT.FILL_PET_NAME' | translate }}</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{'WALL.ABOUT.NAME' | translate }}" formControlName="name" required>
                                <mat-error *ngIf="verticalStepperStep1Errors.name">
                                    Name is required!
                                </mat-error>
                            </mat-form-field>

                            
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="row">
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{'WALL.ABOUT.NAMASINGKATAN' | translate }}" formControlName="namaSingkatan" required>
                                <mat-error *ngIf="verticalStepperStep1Errors.namaSingkatan">
                                    Short Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button  matStepperNext type="button" color="accent">
                                    {{ 'WALL.ABOUT.NEXT' | translate }}
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep2">

                    <form [formGroup]="verticalStepperStep2">

                        <ng-template matStepLabel>{{ 'WALL.ABOUT.FILL_PET_ADDRESS' | translate }}</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start end" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100" fxLayoutGap>
                                            <input matInput placeholder="{{'WALL.ABOUT.KETERANGAN' | translate}}" formControlName="keterangan" required>
                                            <mat-error *ngIf="verticalStepperStep2Errors.keterangan">
                                                    Description is required!
                                                </mat-error>
                                </mat-form-field> 
                            </div>           
                            <div fxLayout="row" fxLayoutAlign="start end" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100" fxLayoutGap>
                                    <input matInput placeholder="{{'WALL.ABOUT.TUJUAN' | translate}}" formControlName="tujuan" required>
                                    <mat-error *ngIf="verticalStepperStep2Errors.tujuan">
                                        animate is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start end" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100" fxLayoutGap>
                                    <input matInput placeholder="{{'WALL.ABOUT.CATATAN' | translate}}" formControlName="catatan" required>
                                    <mat-error *ngIf="verticalStepperStep2Errors.catatan">
                                        Notes is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                {{ 'WALL.ABOUT.PREVIOUS' | translate }}
                            </button>
                            <button mat-raised-button matStepperNext  type="button" color="accent">
                                {{ 'WALL.ABOUT.NEXT' | translate }}
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep3">

                    <form [formGroup]="verticalStepperStep3">

                        <ng-template matStepLabel>{{ 'WALL.ABOUT.FILL_PET_AGENSI' | translate }}</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="33">
                                    <input matInput placeholder="{{ 'WALL.ABOUT.KEMENTERIAN' | translate }}" formControlName="kementerian">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100">
                                    <input matInput placeholder="{{'WALL.ABOUT.AGENSI' | translate }}" formControlName="agensi">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="34">
                                    <input matInput placeholder="{{'WALL.ABOUT.BAHAGIAN' | translate }}" formControlName="bahagian">
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    {{ 'WALL.ABOUT.PREVIOUS' | translate }}
                            </button>
                            <button mat-raised-button type="button" color="accent" (click)="submit()">
                                    {{ 'WALL.ABOUT.SAVE' | translate }}
                            </button>
                        </div>

                    </form>

                </mat-step>
            </mat-vertical-stepper>
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button fxLayoutAlign="center center" mat-raised-button type="button"  class="mr-8" color="accent" (click)="back()">
                    {{ 'WALL.ABOUT.BACK' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>