<div id="login" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/jataNegara.svg">
        </div>

        <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Selamat Datang ke MyDiWorks!
        </div>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Ruang Kerja Digital Sektor Awam
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">{{ 'LOGIN.LOGIN' | translate | uppercase}}</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="login()">

                <mat-form-field>
                    <input matInput placeholder="{{ 'USER.IC' | translate}}" formControlName="username">
                    <mat-error *ngIf="loginFormErrors.username.required">
                        {{ 'USER.ERR.REQUIRED.USERNAME' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="{{ 'USER.PASSWORD' | translate}}" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        {{ 'USER.ERR.REQUIRED.PASSWORD' | translate}}
                    </mat-error>
                </mat-form-field>

                <div fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">{{ 'LOGIN.TERM' | translate}}
                        <a class="link" (click)="view()" style="cursor: pointer;">{{ 'LOGIN.TERMLINK' | translate}}</a></span>
                    
                </div>

                

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                        {{ 'LOGIN.BTN.LOGIN' | translate | uppercase}}
                </button>

                <div fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <a class="link" [routerLink]="'/register'">{{ 'LOGIN.ACC.CREATE' | translate}}</a>

                    <a class="forgot-password" [routerLink]="'/reset'">
                        {{ 'LOGIN.FORGOT' | translate}}
                    </a>
                </div>

            </form>

            <!-- <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{ 'LOGIN.ACC.DONT' | translate}}</span>
                <a class="link" [routerLink]="'/register'">{{ 'LOGIN.ACC.CREATE' | translate}}</a>
            </div> -->
        </div>
    </div>
</div>