<!-- SIDENAV HEADER -->
<div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between" *ngIf="selected">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
        
        <button mat-icon-button matTooltip="Share" (click)="share(selected.id)">
            <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Delete" (click)="delete(selected.id)">
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="download(selected)" class="" aria-label="Download" matTooltip="Download">
            <mat-icon>file_download</mat-icon>
        </button>
        
    </div>

    <div>
        <div class="title mb-8">{{selected.filename}}</div>
        <div class="subtitle secondary-text" *ngIf="selected.share == null">
            <span>{{ 'MYBOX.CREATEDDATE' | translate }}</span>
            <span>: {{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</span>
        </div>
        <div class="subtitle secondary-text" *ngIf="selected.share != null">
            <span>{{ 'MYBOX.SHARE_DATE' | translate }}</span>
            <span>: {{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</span>
        </div>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content p-24 mat-white-bg" fusePerfectScrollbar *ngIf="selected">

    <div class="file-details"
         *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48" [ngClass]="selected.type"></mat-icon>
        </div>

        <div class="title">Info</div>

        <table>
            <tr class="type">
                <th>{{ 'MYBOX.TYPE' | translate }}</th>
                <td>{{selected.type}}</td>
            </tr>

            <tr class="size">
                <th>{{ 'MYBOX.SIZE' | translate }}</th>
                <td>{{formatNumber2Decimal(selected.fileSize)}} MB</td>
            </tr>

            <tr class="owner">
                <th>{{ 'MYBOX.OWNER' | translate }}</th>
                <td>{{selected.createdby.name}}</td>
            </tr>

            <tr class="created" *ngIf="selected.share != null">
                <th>{{ 'MYBOX.SHARE_DATE' | translate }}</th>
                <td>{{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</td>
            </tr>
            <tr class="created" *ngIf="selected.share == null">
                <th>{{ 'MYBOX.CREATEDDATE' | translate }}</th>
                <td>{{selected.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</td>
            </tr>
        </table>
    </div>

</div>
<!-- / SIDENAV CONTENT -->
