<h1 mat-dialog-title>{{ 'SOALAN.DELETESOALAN.DELETESOALAN' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'SOALAN.DELETESOALAN.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="">{{ 'SOALAN.DELETESOALAN.BACK' | translate }}</button>
  <button mat-raised-button color="warn" (click)="confirmDelete()">{{ 'SOALAN.DELETESOALAN.DELETE' | translate }}</button>
</div>
