<h1 mat-dialog-title>{{ 'SOALAN.NEW' | translate }}</h1>
<div mat-dialog-content>
      <!-- REACTIVE FORM EXAMPLE -->
      <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="soalanForm" [formGroup]="soalanForm" novalidate (ngSubmit)="hantar()">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field fxFlex="200">

                  <input matInput placeholder="{{ 'SOALAN.DETAILS' | translate }}" formControlName="keterangan">
                  <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                          {{ 'SOALAN.FORMERROR.DETAIL' | translate }}
                  </mat-error> -->
              </mat-form-field>

          </div>

          <div mat-dialog-actions>
            <button mat-raised-button mat-dialog-close color = "warn">{{ 'SOALAN.BTN.BACK' | translate }}</button>
            <button mat-raised-button mat-dialog-submit color = "accent" >{{ 'SOALAN.BTN.SUBMIT' | translate }}</button>
          </div>

      </form>


</div>
