<h1 mat-dialog-title >{{ 'CARIAN.DELETE.POST' | translate }}</h1>
<div mat-dialog-content>
  <p >{{ 'CARIAN.DELETE.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmDelete()">
                {{ 'CARIAN.BTN.DELETE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'CARIAN.BTN.BACK' | translate | uppercase}}
        </button>

    </div>
  </div>
