<h1 mat-dialog-title>{{ 'WALL.WALLATTACH.UPLOAD' | translate }}</h1>
<div mat-dialog-content>

    <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row">
        <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row" name="uploadForm" enctype="multipart/form-data" [formGroup]="uploadForm" id="uploadForm" novalidate (ngSubmit)="upload()">

            <mat-form-field>
                <mat-select formControlName="jenis" placeholder="{{ 'WALL.WALLATTACH.TYPE' | translate }}" id="ID" (selectionChange)= "showForm()">
                    <mat-option value="dokumen">{{ 'WALL.WALLATTACH.DOCUMENT' | translate }}</mat-option>
                    <mat-option value="foto">{{ 'WALL.WALLATTACH.PHOTO' | translate }}</mat-option>
                    <mat-option value="video">{{ 'WALL.WALLATTACH.VIDEO' | translate }}</mat-option>
                    <mat-option value="audio">{{ 'WALL.WALLATTACH.AUDIO' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- JENIS DOKUMEN -->
            <div id="doc" *ngIf="type == 'dokumen'">
            <label for="docUpload" class="btn btn-secondary m-btn m-btn m-btn--icon">
                <mat-icon>cloud_upload</mat-icon> {{ 'WALL.WALLATTACH.CHOOSE' | translate }}
            </label>
                &nbsp;&nbsp;
                <span>{{fileName}}</span>
            <input style="display:none" id="docUpload" (change)="fileUploadChange($event)" #fileUpload type="file"/>
            <p>
                <span class="m-form__help">
                    {{ 'WALL.WALLATTACH.MAX' | translate }} <code>10Mb</code>.
                </span>
            </p>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{ 'WALL.WALLATTACH.TAJUK' | translate }}" formControlName="tajuk">
                </mat-form-field>

                <mat-form-field fxFlex="50">                  
                    <!-- <mat-select #taks (selectionChange)="setTaksonomi(taks.value)" formControlName="taksonomi" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}">
                        <mat-option *ngFor="let taksonomi of taksonomiLs" [value]="taksonomi.id">
                            {{taksonomi.keterangan}}
                        </mat-option>     
                    </mat-select>  -->
                    
                    <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
                    <input type="text" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                    
                    <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option #taks (onSelectionChange)="setTaksonomi(taksonomi.id)" *ngFor="let taksonomi of myTaks" [value]="taksonomi.keterangan">
                        {{taksonomi.keterangan}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <br>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="{{ 'WALL.WALLATTACH.KETERANGAN' | translate }}" formControlName="keterangan"></textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <div mat-dialog-actions>
                    <button mat-raised-button mat-dialog-close color = "primary">{{ 'WALL.WALLATTACH.KEMBALI' | translate }}</button>
                    <button mat-raised-button mat-dialog-submit color = "accent">{{ 'WALL.WALLATTACH.SIMPAN' | translate }}</button>
                </div>
            </div>
            </div>


            <!-- JENIS AUDIO -->
            <div id="audio" *ngIf="type == 'audio'">
            <label for="audioUpload" class="btn btn-secondary m-btn m-btn m-btn--icon">
                <mat-icon>cloud_upload</mat-icon> {{ 'WALL.WALLATTACH.CHOOSE' | translate }}
            </label>
                &nbsp;&nbsp;
                <span>{{fileName}}</span>
            <input style="display:none" id="audioUpload" (change)="fileUploadChange($event)" #fileUpload type="file" accept="audio/*"/>
            <p>
                <span class="m-form__help">
                    {{ 'WALL.WALLATTACH.MAX' | translate }} <code>10Mb</code>.
                </span>
            </p>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'WALL.WALLATTACH.TAJUK' | translate }}" formControlName="tajuk">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{ 'WALL.WALLATTACH.PERISTIWA' | translate }}" formControlName="peristiwa">
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input readonly="" matInput [matDatepicker]="picker" placeholder="{{ 'WALL.WALLATTACH.TARIKH' | translate }}" formControlName="tarikhPeristiwa">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <mat-form-field fxFlex="50">                  
                <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
                <input type="text" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}"  #taks (selectionChange)="setTaksonomi(taks.value)" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                    
                <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option #taks (onSelectionChange)="setTaksonomi(taksonomi.id)" *ngFor="let taksonomi of myTaks" [value]="taksonomi.keterangan">
                    {{taksonomi.keterangan}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="center">
                <div mat-dialog-actions>
                    <button mat-raised-button mat-dialog-close color = "primary">{{ 'WALL.WALLATTACH.KEMBALI' | translate }}</button>
                    <button mat-raised-button mat-dialog-submit color = "accent">{{ 'WALL.WALLATTACH.SIMPAN' | translate }}</button>
                </div>
            </div>
            </div>
            
            
            <!-- JENIS FOTO -->
            <div id="foto" *ngIf="type == 'foto'">
                <label for="fotoUpload" class="btn btn-secondary m-btn m-btn m-btn--icon">
                    <mat-icon>cloud_upload</mat-icon> {{ 'WALL.WALLATTACH.CHOOSE' | translate }}
                </label>
                    &nbsp;&nbsp;
                    <span>{{fileName}}</span>
                <input style="display:none" id="fotoUpload" (change)="fileUploadChange($event)" #fileUpload type="file" accept="image/*"/>
                <p>
                    <span class="m-form__help">
                        {{ 'WALL.WALLATTACH.MAX' | translate }} <code>10Mb</code>.
                    </span>
                </p>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.TAJUK' | translate }}" formControlName="tajuk">
                    </mat-form-field>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.PERISTIWA' | translate }}" formControlName="peristiwa">
                    </mat-form-field>
    
                    <mat-form-field fxFlex="50">
                        <input readonly="" matInput [matDatepicker]="picker2" placeholder="{{ 'WALL.WALLATTACH.TARIKH' | translate }}" formControlName="tarikhPeristiwa">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">   
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="{{ 'WALL.WALLATTACH.KETERANGANPERISTIWA' | translate }}" formControlName="keterangan"></textarea>
                    </mat-form-field>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.LOKASI' | translate }}" formControlName="lokasi">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="50">                  
                        <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
                        <input type="text" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}"  #taks (selectionChange)="setTaksonomi(taks.value)" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                        
                        <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option #taks (onSelectionChange)="setTaksonomi(taksonomi.id)" *ngFor="let taksonomi of myTaks" [value]="taksonomi.keterangan">
                            {{taksonomi.keterangan}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div mat-dialog-actions>
                        <button mat-raised-button mat-dialog-close color = "primary">{{ 'WALL.WALLATTACH.KEMBALI' | translate }}</button>
                        <button mat-raised-button mat-dialog-submit color = "accent">{{ 'WALL.WALLATTACH.SIMPAN' | translate }}</button>
                    </div>
                </div>
                </div>

                <!-- JENIS VIDEO -->
                <div id="vid" *ngIf="type == 'video'">
                <label for="videoUpload" class="btn btn-secondary m-btn m-btn m-btn--icon">
                        <mat-icon>cloud_upload</mat-icon> {{ 'WALL.WALLATTACH.CHOOSE' | translate }}
                    </label>
                        &nbsp;&nbsp;
                        <span>{{fileName}}</span>
                    <input style="display:none" id="videoUpload" (change)="fileUploadChange($event)" #fileUpload type="file" accept="video/*"/>
                    <p>
                        <span class="m-form__help">
                            {{ 'WALL.WALLATTACH.MAX' | translate }} <code>10Mb</code>.
                        </span>
                    </p>
        
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="{{ 'WALL.WALLATTACH.TAJUK' | translate }}" formControlName="tajuk">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'WALL.WALLATTACH.PERISTIWA' | translate }}" formControlName="peristiwa">
                        </mat-form-field>
            
                        <mat-form-field fxFlex="50">
                            <input readonly="" matInput [matDatepicker]="picker3" placeholder="{{ 'WALL.WALLATTACH.TARIKH' | translate }}" formControlName="tarikhPeristiwa">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="{{ 'WALL.WALLATTACH.KETERANGANPERISTIWA' | translate }}" formControlName="keterangan"></textarea>
                        </mat-form-field>
                    </div>
        
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'WALL.WALLATTACH.LOKASI' | translate }}" formControlName="lokasi">
                        </mat-form-field>
            
                        <mat-form-field fxFlex="50">                  
                            <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
                            <input type="text" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}"  #taks (selectionChange)="setTaksonomi(taks.value)" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                            
                            <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option #taks (onSelectionChange)="setTaksonomi(taksonomi.id)" *ngFor="let taksonomi of myTaks" [value]="taksonomi.keterangan">
                                {{taksonomi.keterangan}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center">
                        <div mat-dialog-actions>
                            <button mat-raised-button mat-dialog-close color = "primary">{{ 'WALL.WALLATTACH.KEMBALI' | translate }}</button>
                            <button mat-raised-button mat-dialog-submit color = "accent">{{ 'WALL.WALLATTACH.SIMPAN' | translate }}</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
