 <div id="pet-wall" class="page-layout simple tabbed" fusePerfectScrollbar > 
    <div id="timeline" class="page-layout simple right-sidenav inner-sidenav" fxLayout="row wrap">

        <div class="timeline-content center p-24" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">

            
            <div class="timeline-item" fusePerfectScrollbar>

                <header fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="user" fxLayout="row" fxLayoutAlign="start center">
                        <img *ngIf="imageSrc" class="profile-image avatar huge" src="data:image/JPEG;base64,{{imageSrc}}">
                        <img *ngIf="!imageSrc" class="profile-image avatar huge" src="assets/images/avatars/profile.jpg">

                        <div fxLayout="column">
                            <div class="title">
                                <span class="username">{{name}} </span>

                                <span *ngIf="pet"> > </span>
                                <span class="content" *ngIf="pet" (click)="goToPet(petid)" ng-mouseover="expression">{{pet}}</span>
                            </div>
                            <div class="time">
                                <b>{{createddate | date : 'dd/MM/yyyy'}}</b>
                                {{createddate | date : 'hh:mm:ss a'}}
                            </div>
                        </div>
                    </div>


                    <button  *ngIf="userId === user.id" mat-icon-button 
                        [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="Kemaskini" (click)="editPost(id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                            </button>
                            <button mat-menu-item aria-label="Padam" (click)="deletePost(id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                            </button>
                        </mat-menu>
                </button>
                    
                </header>

                <div class="content">
                    <div class="message">
                        {{keterangan}}
                    </div>

                    <div *ngIf="attachment != null" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">            
                        <div *ngIf="attachment.typeSplit == 'image'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                            <img _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:image/JPEG;base64,{{attachment.content}}">
                        </div>
                        <div *ngIf="attachment.typeSplit == 'video'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                            <video controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:video/mp4;base64,{{attachment.content}}"></video>
                        </div>
                        <div *ngIf="attachment.typeSplit == 'audio'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                            <audio controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:audio/mp3;base64,{{attachment.content}}"></audio>
                        </div> 
                        <div *ngIf="attachment.typeSplit != 'audio' && attachment.typeSplit != 'video' && attachment.typeSplit != 'image'" _ngcontent-c63="" class="excerpt">
                            <a (click)="streamFile(attachment)">
                                {{attachment.filename}} (Version {{attachment.version}})
                            </a>
                            <button mat-button (click)="streamFile(attachment)">
                                <mat-icon>cloud_download</mat-icon>
                            </button> 
                        </div>
                    </div>

                    <mat-form-field class="w-100-p">
                        <mat-chip-list #hashtags name="postHashtag">
                                &nbsp;
                            <mat-chip *ngFor="let hashtag of hashtagList">
                                
                                {{hashtag.nama}}
                            </mat-chip>
        
                            <input 
                                [matChipInputFor]="hashtags" 
                                [matChipInputAddOnBlur]="true"
                                disabled
                            />
        
                        </mat-chip-list>
                    </mat-form-field>
                </div>

                <footer fxLayout="column" fxLayoutAlign="space-between none" >
                    
                        
                        <div (click)="toggle(id)" class="comment-count" fxLayout="row" fxLayoutAlign="start center" *ngIf="komenList">
                            
                            {{komenList.length}} {{ 'WALL.KOMEN' | translate }}
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        
                        </div>
                        <div id="komen-{{id}}" style="display: none;">

                            <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of komenList">
                                <img *ngIf="comment.createdby.image" class="avatar" src="data:image/JPEG;base64,{{comment.createdby.image}}">
                                <img *ngIf="!comment.createdby.image" class="avatar" src="assets/images/avatars/profile.jpg">
                                    <div fxLayout="column" fxFlex>
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <span class="username">{{comment.createdby.name}}</span>
                                            <span class="time">
                                                <b>{{comment.createddate | date : 'dd/MM/yyyy'}}</b>
                                                {{comment.createddate | date : 'hh:mm:ss a'}}
                                            </span>
                                        </div>
                                        <div class="message">
                                            {{comment.keterangan}}
                                        </div>
                                    </div>
                                    <button  *ngIf="comment.createdby.id === user.id" 
                                            mat-icon-button 
                                            [matMenuTriggerFor]="moreMenu" 
                                            aria-label="More"
                                            (click)="$event.stopPropagation();"
                                            >
                                        <mat-icon>more_vert</mat-icon>
                                        <mat-menu #moreMenu="matMenu">
                                                <button mat-menu-item aria-label="Kemaskini" (click)="editComment(comment.id)">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                                                </button>
                                                <button mat-menu-item aria-label="Padam" (click)="deleteComment(comment.id)">
                                                    <mat-icon>delete</mat-icon>
                                                    <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                                                </button>
                                            </mat-menu>
                                    </button>
                                </div>
                        </div>
        
                        <div class="reply" fxLayout="row" fxFlexFill>
                            <img *ngIf="imageSrc" class="avatar" src="data:image/JPEG;base64,{{imageSrc}}">
                            <img *ngIf="!imageSrc" class="avatar" src="assets/images/avatars/profile.jpg">
        
                            <form fxFlex>
                                <textarea id="{{id}}" placeholder="{{ 'WALL.CREATEKOMEN' | translate }}"></textarea>
                                <button (click)="onCommentEvent(wall)" mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment">
                                    {{ 'WALL.POST' | translate }}
                                </button>
                            </form>
                        </div>
                </footer>
            </div>
        </div>
    </div>
</div>

