<h1 mat-dialog-title>{{titleTxt}}</h1>
<div mat-dialog-content>
      <!-- REACTIVE FORM EXAMPLE -->
      <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="skemaForm" [formGroup]="skemaForm" novalidate (ngSubmit)="hantar()">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="200">
                    <input matInput placeholder="{{ 'SKEMA.NAME' | translate }}" formControlName="name" required>
                    <mat-error *ngIf="skemaFormErrors.name.required">
                            {{ 'SKEMA.FORMERROR.NAME' | translate }}
                    </mat-error>
                    <mat-hint class="cust-error" *ngIf="errNameExist">{{ 'SKEMA.FORMERROR.NAMEEXIST' | translate}}</mat-hint>
                </mat-form-field>

               

                <mat-form-field fxFlex="200">
                    <mat-select #seniority placeholder="{{ 'SKEMA.SENIORITY' | translate }}" formControlName="seniority" required>
                        <mat-option *ngFor="let skema of skemaCn " [value]="skema">
                            {{skema}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="skemaFormErrors.seniority.required">
                            {{ 'SKEMA.FORMERROR.SENIORITY' | translate }}
                    </mat-error>
                </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="200">
                <input matInput placeholder="{{ 'SKEMA.KETERANGAN' | translate }}" formControlName="keterangan"required>
                <mat-error *ngIf="skemaFormErrors.keterangan.required">
                        {{ 'SKEMA.FORMERROR.KETERANGAN' | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
            
            <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                [disabled]="skemaForm.invalid">
                {{ 'SKEMA.BTN.SUBMIT' | translate | uppercase}}
            </button>
            <button mat-raised-button color="warn" [mat-dialog-close]="">
                    {{ 'SKEMA.BTN.BACK' | translate | uppercase}}
            </button>
          </div>

      </form>


</div>
