<div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->
        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="resetPasswordForm"
            [formGroup]="resetPasswordForm" novalidate (ngSubmit)="res()">

            <div class="h2 mb-24">{{ 'USER.EDIT.PASSWORD' | translate }}</div>


            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50">
                    <input matInput type="password" placeholder="{{ 'USER.EDIT.RESETPWD' | translate }}" formControlName="newpass">
                    <mat-error *ngIf="resetPasswordFormErrors.newpass.required">
                        {{ 'USER.EDIT.FORMERROR.RESETPWD.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordFormErrors.newpass.pattern">
                        {{ 'USER.EDIT.FORMERROR.RESETPWD.WEAK' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50">
                    <input matInput type="password" placeholder="{{ 'USER.EDIT.NEWRESETPWD' | translate }}" formControlName="confirmpass">
                    <mat-error *ngIf="resetPasswordFormErrors.confirmpass">
                        {{ 'USER.EDIT.FORMERROR.RESETPWD.NOTSAME' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <span class="m-form__help" style="text-align:center" innerHTML="{{ 'USER.EDIT.PASSTXT' | translate }}">
                        

                </span>
            </div>



            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="resetPasswordForm.invalid">
                    {{ 'USER.EDIT.BTN.SUBMIT' | translate | uppercase}}
                </button>
                &#160;&#160;
                <button type="reset" mat-raised-button color="warn" (click)="backButton()">
                    {{ 'USER.EDIT.BTN.BACK' | translate | uppercase}}
                </button>
            </div>
        </form>


    </div>
</div>