<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end" enctype="multipart/form-data">
 
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <div class="name" >{{name}}
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="About Kementerian">
                <fuse-about-kementerian></fuse-about-kementerian>
            </mat-tab>

            <mat-tab label="About Agensi">
                <fuse-about-agensi></fuse-about-agensi>
            </mat-tab>

            
        </mat-tab-group>
        

    </div>
    <!-- / CONTENT -->

</div>
