<div id="coming-soon" fxLayout="column" fusePerfectScrollbar>

    <div id="coming-soon-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="coming-soon-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="top">

                <!-- <div class="logo">
                    <img src="assets/images/logos/fuse.svg">
                </div> -->

                <div class="title">Sila kemaskini maklumat peribadi</div>

            </div>

             <!-- CONTENT -->
    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true" #stepper>

            <mat-step [stepControl]="personalForm">

                <form [formGroup]="personalForm">
                    <ng-template matStepLabel><p [class.cust-error]="personalHeaderErr">{{'WALL.ABOUT.PERSONAL' | translate | uppercase}}</p></ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{'WALL.ABOUT.NAME' | translate }}" formControlName="name" required>
                                <mat-error *ngIf="personalFormErrors.name">
                                        {{ 'USER.ERR.REQUIRED.NAME' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'USER.IC' | translate}}" value="{{currentUser?.username}}" readonly disabled>
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="start end" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100" fxLayoutGap>
                                    <input matInput placeholder="{{'WALL.ABOUT.EMAIL.PERSONAL' | translate}}" formControlName="emailpersonal" required>
                                    <mat-error *ngIf="personalFormErrors.emailpersonal.required">
                                        {{ 'USER.EDIT.FORMERROR.PERSONALEMAIL.REQUIRED' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="personalFormErrors.emailpersonal.email">
                                        {{ 'USER.EDIT.FORMERROR.PERSONALEMAIL.PATTERN' | translate}}
                                    </mat-error>
                                    <mat-hint class="cust-error" *ngIf="errEmailPersonalExist">{{ 'USER.ERR.EXIST.EMAIL' | translate}}</mat-hint>
                                </mat-form-field> 
                                <mat-form-field fxFlex="100" fxLayoutGap>
                                    <input matInput placeholder="{{'WALL.ABOUT.EMAIL.COMPANY' | translate}}" formControlName="emailoffice" required>
                                    <mat-error *ngIf="personalFormErrors.emailoffice.required">
                                        {{ 'USER.EDIT.FORMERROR.WORKEMAIL.REQUIRED' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="personalFormErrors.emailoffice.email">
                                        {{ 'USER.EDIT.FORMERROR.WORKEMAIL.PATTERN' | translate}}
                                    </mat-error>
                                    <mat-hint class="cust-error" *ngIf="errEmailExist">{{ 'USER.ERR.EXIST.EMAIL' | translate}}</mat-hint>
                                </mat-form-field>
                                <mat-form-field fxLayout="100" fxLayoutGap>
                                    <span matPrefix>&nbsp;</span>
                                    <input type="tel" matInput placeholder="Tel" formControlName="phone" required>
                                    <mat-hint>{{ 'USER.ERR.FORMAT.EXAMPLE.PHONE' | translate}}</mat-hint>
                                    <mat-error *ngIf="personalFormErrors.phone">
                                        {{ 'USER.EDIT.FORMERROR.TELEPHONE.REQUIRED' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div> 
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100">
                                    <textarea matInput placeholder="{{'WALL.ABOUT.ADDRESS' | translate}}" formControlName="address" required>   
                                    </textarea>
                                    <mat-error *ngIf="personalFormErrors.address">
                                        {{ 'USER.EDIT.FORMERROR.ADDRESS' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100">
                                    <mat-select #negeri (selectionChange)="setSBState(negeri.value)" placeholder="{{ 'WALL.ABOUT.NEGERI' | translate }}" formControlName="negeri" required>
                                        <mat-option *ngFor="let negeri of stateLs$ | async" [value]="negeri.id">
                                            {{negeri.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="personalFormErrors.negeri">
                                        {{ 'USER.EDIT.FORMERROR.STATE' | translate}}
                                    </mat-error>
                                </mat-form-field>
        
                                <mat-form-field fxFlex="100">
                                    <mat-select #bandar placeholder="{{ 'WALL.ABOUT.BANDAR' | translate }}" formControlName="bandar" required>
                                        <mat-option *ngFor="let bandar of cityLs$ | async" [value]="bandar.id">
                                            {{bandar.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="personalFormErrors.bandar">
                                        {{ 'USER.EDIT.FORMERROR.CITY' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div> 
        
                            <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100" fxLayoutAlign="left">
                                    <input matInput placeholder="{{'WALL.ABOUT.POSTCODE' | translate}}" formControlName="postcode" maxlength="5" required>
                                    <mat-error *ngIf="personalFormErrors.postcode.required">
                                        {{ 'USER.EDIT.FORMERROR.POSTCODE.REQUIRED' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="personalFormErrors.postcode.pattern">
                                        {{ 'USER.EDIT.FORMERROR.POSTCODE.PATTERN' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button [disabled]="personalForm.invalid" mat-raised-button matStepperNext type="button" color="accent">
                                {{'REG.BTN.NEXT' | translate}}
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="agencyForm">

                <form [formGroup]="agencyForm">

                    <ng-template matStepLabel><p>{{'WALL.ABOUT.AGENSI' | translate | uppercase}}</p></ng-template>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{'WALL.ABOUT.KEMENTERIAN' | translate }}" value="{{ministry?.name}}" readonly disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" *ngIf="agency">
                                <input matInput placeholder="{{'WALL.ABOUT.AGENSI' | translate }}" value="{{agency?.name}}" readonly disabled>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select #bahagian placeholder="{{'WALL.ABOUT.BAHAGIAN' | translate }}" formControlName="bahagian">
                                    <mat-option *ngFor="let bahagian of departmentLs$ | async" [value]="bahagian">
                                        {{bahagian.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{'WALL.ABOUT.POSITION' | translate }}" formControlName="position" required>
                                <mat-error *ngIf="agencyFormErrors.position">
                                    {{ 'USER.EDIT.FORMERROR.POSITION' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select #scheme placeholder="{{'WALL.ABOUT.SKEMA' | translate }}" formControlName="scheme" required>
                                    <mat-option *ngFor=" let scheme of schemeLs$ | async" [value]="scheme">
                                        {{scheme.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="agencyFormErrors.scheme">
                                    {{ 'USER.EDIT.FORMERROR.SKEMA' | translate}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="100">
                                <mat-select #grade  placeholder="{{'WALL.ABOUT.GRADE' | translate }}" formControlName="grade" required>
                                    <mat-option *ngFor=" let grade of gradeLs$ | async" [value]="grade">
                                        {{grade.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="agencyFormErrors.skema">
                                    {{ 'USER.EDIT.FORMERROR.GRADE' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                {{'REG.BTN.PREVIOUS' | translate}}
                        </button>
                        <button [disabled]="agencyForm.invalid" mat-raised-button matStepperNext type="button" color="accent">
                                {{'REG.BTN.NEXT' | translate}}
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="securityForm">

                <form [formGroup]="securityForm">

                    <ng-template matStepLabel><p>{{'SOALAN.TITLE' | translate | uppercase}}</p></ng-template>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                            <mat-form-field fxFlex="100">
                                <mat-select matInput placeholder="{{ 'JAWAPAN.SOALAN' | translate }} 1" formControlName="q1" #q1 (selectionChange)="onChangeQuestion()">
                                    <mat-option [disabled]="selectedQuestion.includes(soalan.id)" *ngFor="let soalan of soalanLs$ | async" [value]="soalan.id">
                                        {{soalan.keterangan}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="securityFormErrors.q1.required">{{ 'JAWAPAN.FORMERROR.SOALAN' | translate}}</mat-error>
                            </mat-form-field>                                
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }} 1" formControlName="a1" required>
                                <mat-error *ngIf="securityFormErrors.a1.required">{{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select matInput placeholder="{{ 'JAWAPAN.SOALAN' | translate }} 2" formControlName="q2" #q2 (selectionChange)="onChangeQuestion()">
                                    <mat-option [disabled]="selectedQuestion.includes(soalan.id)" *ngFor="let soalan of soalanLs$ | async" [value]="soalan.id">
                                        {{soalan.keterangan}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="securityFormErrors.q2.required">{{ 'JAWAPAN.FORMERROR.SOALAN' | translate}}</mat-error>
                            </mat-form-field>                                
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }} 2" formControlName="a2" required>
                                <mat-error *ngIf="securityFormErrors.a2.required">{{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select matInput placeholder="{{ 'JAWAPAN.SOALAN' | translate }} 3" formControlName="q3" #q3 (selectionChange)="onChangeQuestion()">
                                    <mat-option [disabled]="selectedQuestion.includes(soalan.id)" *ngFor="let soalan of soalanLs$ | async" [value]="soalan.id">
                                        {{soalan.keterangan}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="securityFormErrors.q3.required">{{ 'JAWAPAN.FORMERROR.SOALAN' | translate}}</mat-error>
                            </mat-form-field>                                
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }} 3" formControlName="a3" required>
                                <mat-error *ngIf="securityFormErrors.a3.required">{{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select  matInput placeholder="{{ 'JAWAPAN.SOALAN' | translate }} 4" formControlName="q4" #q4 (selectionChange)="onChangeQuestion()">
                                    <mat-option [disabled]="selectedQuestion.includes(soalan.id)" *ngFor="let soalan of soalanLs$ | async" [value]="soalan.id">
                                        {{soalan.keterangan}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="securityFormErrors.q4.required">{{ 'JAWAPAN.FORMERROR.SOALAN' | translate}}</mat-error>
                            </mat-form-field>                                
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }} 4" formControlName="a4" required>
                                <mat-error *ngIf="securityFormErrors.a4.required">{{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100">
                                <mat-select matInput placeholder="{{ 'JAWAPAN.SOALAN' | translate }} 5" formControlName="q5" #q5 (selectionChange)="onChangeQuestion()">
                                    <mat-option [disabled]="selectedQuestion.includes(soalan.id)" *ngFor="let soalan of soalanLs$ | async" [value]="soalan.id">
                                        {{soalan.keterangan}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="securityFormErrors.q5.required">{{ 'JAWAPAN.FORMERROR.SOALAN' | translate}}</mat-error>
                            </mat-form-field>                                
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }} 5" formControlName="a5" required>
                                <mat-error *ngIf="securityFormErrors.a5.required">{{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate}}</mat-error>
                            </mat-form-field>
                        </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                {{'REG.BTN.PREVIOUS' | translate}}
                        </button>
                        <button [disabled]="securityForm.invalid" mat-raised-button matStepperNext type="button" color="accent">
                                {{'REG.BTN.NEXT' | translate}}
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="passForm">

                <form [formGroup]="passForm">

                    <ng-template matStepLabel><p [class.cust-error]="passHeaderErr">{{'USER.PASSWORD' | translate | uppercase}}</p></ng-template>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Old Password" type="password" formControlName="oldpass" required>
                                <mat-error *ngIf="passFormErrors.oldpass">
                                    {{ 'USER.EDIT.FORMERROR.RESETPWD.REQUIRED' | translate}}
                                </mat-error>
                                <mat-hint class="cust-error" *ngIf="errWrongPassword">Wrong current password</mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="New Password" type="password" formControlName="newpass" required>
                                <mat-error *ngIf="passFormErrors.newpass">
                                    {{ 'USER.EDIT.FORMERROR.RESETPWD.WEAK' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"> 
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Confirm New Password" type="password" formControlName="confirmpass" required>
                                <mat-error *ngIf="passFormErrors.confirmpass">
                                    {{ 'USER.EDIT.FORMERROR.RESETPWD.NOTSAME' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                            <mat-hint innerHTML="{{ 'USER.EDIT.PASSTXT' | translate }}"></mat-hint>
                        </div>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                {{'REG.BTN.PREVIOUS' | translate}}
                        </button>
                        <button (click)="onSubmit()" [disabled]="passForm.invalid" mat-raised-button matStepperNext type="button" color="accent">
                                {{'WALL.ABOUT.SUBMIT' | translate}}
                        </button>
                    </div>

                </form>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>
    

        </div>

    </div>

</div>

