@import "src/@fuse/scss/fuse";

:host {

    fuse-main > .mat-sidenav-container > .mat-sidenav-content #fuse-main-content #wrapper .content-wrapper, 
    fuse-main > .mat-sidenav-container > .mat-drawer-content #fuse-main-content #wrapper .content-wrapper {
        margin-right: 360px !important;
    }

    #coming-soon {
        width: 100%;
        overflow: auto;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #coming-soon-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #coming-soon-form {
                width: 1100px;
                max-width: 1100px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .top {
                    width: 100%;
                    padding: 32px;

                    @include media-breakpoint('xs') {
                        padding: 24px;
                    }

                    .logo {
                        width: 128px;
                        margin: 32px auto;
                    }

                    .title {
                        font-size: 17px;
                        margin-top: 16px;
                    }

                    .subtitle {
                        margin: 16px auto 0 auto;
                        text-align: center;
                        max-width: 300px;
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 15px;
                    }

                    fuse-countdown {
                        margin: 48px auto 16px auto;
                    }
                }

                form {
                    width: 100%;
                    padding: 32px;
                    text-align: center;

                    .message {
                        font-weight: 500;
                        margin: 8px auto 32px auto;
                    }

                    mat-form-field {
                        width: 320px;
                        margin: 8px auto 16px auto;
                    }

                    .subscribe-button {
                        width: 220px;
                        margin: 16px auto;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}