<div id="contacts" class="page-layout simple fullwidth" fusePerfectScrollbar > 
 
    <!-- HEADER --> 
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
 
        <!-- APP TITLE --> 


        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start"> 
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center"> 
                <mat-icon class="secondary-text s-16">home</mat-icon> 
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon> 
                <span class="secondary-text">{{'MELULUS.TITLE' | translate}}</span> 
            </div> 
            <div class="h2 mt-16">{{'MELULUS.TITLE' | translate}}</div> 
        </div> 
       
        <!-- / APP TITLE --> 
 
        <!-- SEARCH --> 
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center"> 
            <label for="search" class="mr-8"> 
                <mat-icon>search</mat-icon> 
            </label> 
            <mat-form-field mat-no-float class="m-0" floatLabel="never"> 
                <input matInput (keyup)='updateFilter($event)' placeholder="{{'MELULUS.SEARCH' | translate}}"> 
            </mat-form-field> 
        </div> 
        <!-- / SEARCH --> 
 
    </div> 
    <!-- / HEADER --> 
 
    <!-- SELECTED BAR --> 

    <div class="mat-accent-600-bg bar" *ngIf="hasSelectedContacts" [@slideInTop] style="margin-top: -110px">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="p-24 bar" > 
 
            <!-- <div class="close-button-wrapper" fxFlex="0 1 auto" fxFlex.gt-sm="220px" (click)="deselect()"> 
                <button class="p-8" mat-button fxLayout="row" fxLayoutAlign="start center"> 
                    <mat-icon class="mr-8">arrow_back</mat-icon> 
                    <span class="text-uppercase">Back</span> 
                </button> 
            </div>  -->
 
            <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.gt-sm="space-between center"> 
            <div> 
                <span class="selected-contacts-count"> 
                    <span class="mr-4">{{selectedContacts.length}}</span> 
                    <span>selected</span> 
                </span> 
    
                
                
                
    
            </div> 
            
            <div class="multi-select-actions"> 
                <swal 
                #approveSwal
                title="Luluskan permohonan? " 
                text="Tindakan ini tidak boleh diubah" 
                type="warning" 
                [showCancelButton]="true" 
                cancelButtonClass="btn btn-danger" 
                [focusCancel]="true" 
                (confirm)="approveSelectedUser()"> 
            </swal> 
            <button mat-raised-button [swal]="approveSwal"
                 aria-label="Toggle important" fxHide.xs> 
                 {{'MELULUS.APPROVE.APPROVE' | translate}}
            </button> 

            <swal 
                #rejectSwal 
                title="Tolak permohonan? " 
                text="Tindakan ini tidak boleh diubah" 
                type="warning" 
                [showCancelButton]="true" 
                cancelButtonClass="btn btn-danger" 
                [focusCancel]="true" 
                (confirm)="rejectSelectedUser()"> 
            </swal> 
            <button 
                mat-raised-button [swal]="rejectSwal" 
                color="warn" aria-label="Toggle star"  
                fxHide.xs> 
                {{'MELULUS.REJECT.REJECT' | translate}} 
            </button> 
            </div> 
            </div> 
 
        </div>  
    </div>
    
    <!-- / SELECTED BAR --> 
 
    <mat-sidenav-container fxLayout="column"> 
 
        <!-- SIDENAV --> 
        <mat-sidenav class="sidenav" position="start" opened="true" mode="side" 
                     fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm"> 
 
            <!--<fuse-contacts-main-sidenav *fuseIfOnDom [@animate]="{value:'*'}"></fuse-contacts-main-sidenav> -->
            <div > 
 
                <div id="sideBarPet" class="sidenav-content"> 
                    <!-- SIDENAV HEADER --> 
                    <!-- / SIDENAV HEADER --> 
             
                    <!-- SIDENAV CONTENT --> 
                    <div class="content py-16"> 
             
                        <div class="nav" > 
             
                            <div class="nav-item"> 
                                <a class="nav-link" matRipple (click)="updateFilter2('0')" [ngClass]="{'active':filterBy ==='0'}" > 
                                    <span class="title">New Request</span> 
                                </a> 
                            </div> 
             
                            <div class="nav-item"  (click)="updateFilter2('1')" > 
                                <a class="nav-link" matRipple [ngClass]="{'active':filterBy ==='1'}"> 
                                    <div class="title">Approval </div> 
                                </a> 
                            </div> 
             
                            <div class="nav-item" (click)="updateFilter2('2')" > 
                                <a class="nav-link" matRipple [ngClass]="{'active':filterBy ==='2'}"> 
                                    <div class="title">Rejected</div> 
                                </a> 
                            </div> 
                        </div> 
             
                    </div> 
                </div> 
            </div> 
 <!---->
        </mat-sidenav> 
        <!-- / SIDENAV --> 
 
        <!-- CENTER --> 
        
 
            <!-- CONTENT --> 
            <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
                    <!-- CONTENT -->
                    <div id="senarai" class="" >
            <!-- <div class="center p-8" fxFlex fusePerfectScrollbar> -->
                    <!-- <div class="content mat-white-bg mat-elevation-z4" > -->
                        <ngx-datatable 
                        class="material " 
                        headerClass="cust-header" 
                        [rows]="rows" 
                        [loadingIndicator]="loadingIndicator" 
                        [columnMode]="'force'" 
                        [headerHeight]="55" 
                        [footerHeight]="56" 
                        [rowHeight]="'auto'" 
                        [externalPaging]="true" 
                        [externalSorting]="true" 
                        [scrollbarH]="true" 
                        [reorderable]="reorderable" 
                        [selectionType]="'checkbox'" 
                        [limit]="page.size" 
                        [count]="page.totalElements" 
                        [offset]="page.pageNumber" 
                        (page)='setPage($event)' 
                        [scrollbarH]="true"
                        (sort)="onSort($event)"
                        fusePerfectScrollbar> 
                     
                        <ngx-datatable-column 
                            [width]="48" 
                            [canAutoResize]="false" 
                            [sortable]="false"
                            > 
                     
                            <!--<ng-template  
                               
                                ngx-datatable-header-template  
                                let-value="value"  
                                let-allRowsSelected="allRowsSelected" 
                                let-selectFn="selectFn"> 
                                    <mat-checkbox  
                                        [checked]="allRowsSelected"  
                                        (change)="selectFn(!allRowsSelected)"
                                        (ngModelChange)="onCheckboxChangeFn(id)"> 
                                    </mat-checkbox> 
                            </ng-template> -->
                     
                            <ng-template  
                                let-row="row"
                                ngx-datatable-cell-template  
                                let-value="value"  
                                let-isSelected="isSelected" 
                                let-onCheckboxChangeFn="onCheckboxChangeFn"> 
                                    <mat-checkbox
                                    *ngIf="row.statusPermohonan == '0'"
                                    [checked]="isSelected"
                                    (ngModelChange)="onSelectedChange(row.id)"
                                    (change)="onSelectedChange(row.id)"
                                    (click)="$event.stopPropagation()"
                                    >
                                    </mat-checkbox> 
                            </ng-template> 
                        </ngx-datatable-column> 
                
                        <ngx-datatable-column name="{{'MELULUS.USER' | translate}}" prop="pemohon.name"></ngx-datatable-column> 
                        <ngx-datatable-column name="{{'MELULUS.AGENCY' | translate}}" prop="pemohon.kementerian.name" >            
                            <ng-template let-row="row"
                            ngx-datatable-cell-template>
                                <div *ngIf="row.pemohon.agensi">
                                    {{row.pemohon.agensi.name}}
                                </div>
                                <div *ngIf="!row.pemohon.agensi">
                                    {{row.pemohon.kementerian.name}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column> 
                
                        <ngx-datatable-column name="{{'PERMOHONAN.PET_NAME' | translate}}" prop="pet.nama" ></ngx-datatable-column> 
                        <ngx-datatable-column name="{{'MELULUS.NOTES' | translate}}" prop="catatan"></ngx-datatable-column> 
                        
                        <ngx-datatable-column
                            
                            name="Tindakan" 
                            [canAutoResize]="false" 
                            [sortable]="false"
                            *ngIf="page.status == '0'" > 
                            <ng-template let-row="row" 
                                ngx-datatable-cell-template > 
                                <swal 
                                    #approveSwal
                                    title="Luluskan permohonan? " 
                                    text="Tindakan ini tidak boleh diubah" 
                                    type="warning" 
                                    [showCancelButton]="true" 
                                    cancelButtonClass="btn btn-danger" 
                                    [focusCancel]="true" 
                                    (confirm)="approve(row.id)"> 
                                </swal> 
                                <button mat-icon-button [swal]="approveSwal"
                                *ngIf="row.statusPermohonan == '0'"
                                       aria-label="Toggle important" fxHide.xs> 
                                    <mat-icon class="green-fg" >check</mat-icon> 
                                </button> 
                
                                <swal 
                                    #rejectSwal 
                                    title="Tolak permohonan? " 
                                    text="Tindakan ini tidak boleh diubah" 
                                    type="warning" 
                                    [showCancelButton]="true" 
                                    cancelButtonClass="btn btn-danger" 
                                    [focusCancel]="true" 
                                    (confirm)="reject(row.id)"> 
                                </swal> 
                                <button 
                                *ngIf="row.statusPermohonan == '0'"
                                    mat-icon-button [swal]="rejectSwal" 
                                    aria-label="Toggle star"  
                                    fxHide.xs> 
                                    <mat-icon class="red-fg" >clear</mat-icon> 
                                </button>            
                            </ng-template> 
                        </ngx-datatable-column> 
                        
                        <ngx-datatable-column name="Status" *ngIf="page.status != '0'"> 
                            <ng-template let-row="row" 
                                ngx-datatable-cell-template > 
                            <mat-chip-list>
                                <mat-chip *ngIf="row.statusPermohonan == '1'">{{ 'MELULUS.APPROVE.APPROVE' | translate}}</mat-chip>
                            </mat-chip-list>
                
                            <mat-chip-list>
                                <mat-chip *ngIf="row.statusPermohonan == '2'">{{ 'MELULUS.REJECT.REJECT' | translate}}</mat-chip>
                            </mat-chip-list>
                            </ng-template>
                        </ngx-datatable-column>
                        
                    </ngx-datatable>
                    <!-- </div> -->
                    </div>
            </div>
           
            
            <!-- / CONTENT --> 
            
        <!-- / CENTER --> 
 
    </mat-sidenav-container> 
 
</div> 