
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->





    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end" enctype="multipart/form-data"  novalidate [formGroup]="picForm" id="picForm">
        <!-- <form > -->
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" (load)="handleImageLoad()" id="image" [src]="imageSrc" [class.loaded]="imageLoaded"
                 *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name h2 mt-16">{{ 'WALL.ABOUT.EDIT_PROFILE' | translate }}
            </div>
        </div>
        
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom>
            <input id="avatar" style="display: none" type="file" accept="image/*" (change)="handleInputChange($event)" #uploadImage>
            <button mat-raised-button color="accent" aria-label="Follow"  (click)="uploadImage.click()">{{ 'WALL.ABOUT.UPLOAD_PHOTO' | translate}}</button>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom>
            <button mat-raised-button color="accent"   (click)="savePic()">{{ 'WALL.ABOUT.SAVE_PICTURE' | translate}}</button>
        </div>
        <!-- </form> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group mat-stretch-tabs dynamicHeight="true">

            <mat-tab label="{{ 'USER.EDIT.DETAILS' | translate }}">
                <profile-maklumat></profile-maklumat>
            </mat-tab>

            <mat-tab label="{{ 'USER.EDIT.CONTACT' | translate }}">
                <profile-perhubungan></profile-perhubungan>
            </mat-tab>

            <mat-tab label="{{ 'USER.EDIT.AGENCY' | translate }}">
                <profile-agensi></profile-agensi>
            </mat-tab>
            
            <mat-tab label="{{ 'USER.EDIT.PASSWORD' | translate }}">
                <profile-katalaluan></profile-katalaluan>
            </mat-tab>

        </mat-tab-group>

    </div>
</div> 