<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  
        <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                    <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                        
                    </div>
                    <div class="h2 mt-16"><h1>{{'TERM.UPDATE_BUT' | translate | uppercase}}</h1></div>
                </div>
            </div>

            <div class="content p-24">
            <form class="form-horizontal" novalidate [formGroup]="termForm" id="termForm" (ngSubmit)="onSubmit()" >
            
                <div class="form-group">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <h2>{{'TERM.TITLE' | translate | uppercase}}</h2>
                </div>
                <div fxLayoutAlign="start center" style="width: auto; min-width: 0px;" class="editor block">
                <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent" formControlName="syarat"></app-ngx-editor>
                </div>
                  
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">
                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                        [disabled]="termForm.invalid">
                                {{ 'TERM.UPDATE_BUT' | translate | uppercase}}
                    </button>
                    &#160;&#160;
                    <button type="reset" mat-raised-button color="warn" (click)="back()">
                                {{'TERM.CANCEL' | translate | uppercase}}
                        </button>
                </div>
            </div>
            </form>
        </div>
</div>



