<div id="search" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <mat-form-field class="w-100-p">
            <input matInput (keyup)='updateFilter($event)' name="search" placeholder="{{ 'CARIAN.SEARCH' | translate }}">
        </mat-form-field>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <carian-post-data></carian-post-data>
    </div>
    <!-- / CONTENT -->

</div>
