
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'KEMENTERIAN.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'KEMENTERIAN.LIST' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'KEMENTERIAN.NEW' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'KEMENTERIAN.NEW' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="kementerianForm" [formGroup]="kementerianForm" novalidate (ngSubmit)="hantar()">

                <div class="h2 mb-24">{{ 'KEMENTERIAN.DETAILS' | translate }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'KEMENTERIAN.NAME' | translate }}" formControlName="name" required>
                        <mat-error *ngIf="kementerianFormErrors.name.required">
                            {{ 'KEMENTERIAN.FORMERROR.NAME' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errNameExist">{{ 'KEMENTERIAN.FORMERROR.NAMEEXIST' | translate}}</mat-hint>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'KEMENTERIAN.CODE' | translate }}" formControlName="code" required>
                        <mat-error *ngIf="kementerianFormErrors.code.required">
                            {{ 'KEMENTERIAN.FORMERROR.CODE' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errCodeExist">{{ 'KEMENTERIAN.FORMERROR.CODEEXIST' | translate}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'KEMENTERIAN.PHONENO' | translate }}" formControlName="phoneNo" required>
                        <mat-error *ngIf="kementerianFormErrors.phoneNo.required">
                            {{ 'KEMENTERIAN.FORMERROR.PHONENO' | translate }}
                        </mat-error>
                        <mat-error *ngIf="kementerianFormErrors.phoneNo.pattern">
                            {{ 'KEMENTERIAN.FORMERROR.PHONENOPATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'KEMENTERIAN.ADDRESS' | translate }}" formControlName="address" required>
                        <mat-error *ngIf="kementerianFormErrors.address.required">
                                {{ 'KEMENTERIAN.FORMERROR.ADDRESS' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="33">
                        <mat-select #states (selectionChange)="setSBState(states.value)" placeholder="{{ 'KEMENTERIAN.STATE' | translate }}" formControlName="state" required>
                            <mat-option *ngFor="let states of stateLs" [value]="states.id">
                                {{states.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="kementerianFormErrors.state.required">
                                {{ 'KEMENTERIAN.FORMERROR.STATE' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-select #city (selectionChange)="setSBCity(city.value)" placeholder="{{ 'KEMENTERIAN.CITY' | translate }}" formControlName="city" required>
                            <mat-option *ngFor="let city of cities" [value]="city.id">
                                {{city.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="kementerianFormErrors.city.required">
                                {{ 'KEMENTERIAN.FORMERROR.CITY' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="{{ 'KEMENTERIAN.POSTCODE' | translate }}" formControlName="postcode" required>
                        <mat-error *ngIf="kementerianFormErrors.postcode.required">
                                {{ 'KEMENTERIAN.FORMERROR.POSTCODE.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error *ngIf="kementerianFormErrors.postcode.pattern">
                                {{ 'KEMENTERIAN.FORMERROR.POSTCODE.PATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'KEMENTERIAN.URLPORTAL' | translate }}" formControlName="urlPortal" required>
                        <mat-error *ngIf="kementerianFormErrors.urlPortal.required">
                                {{ 'KEMENTERIAN.FORMERROR.URLPORTAL' | translate }}
                        </mat-error>
                        <mat-error *ngIf="kementerianFormErrors.urlPortal.pattern">
                                {{ 'KEMENTERIAN.FORMERROR.URLPATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                    [disabled]="kementerianForm.invalid">
                            {{ 'KEMENTERIAN.BTN.SUBMIT' | translate | uppercase}}
                    </button>
                    &#160;&#160;
                    <button type="reset" mat-raised-button color="warn" (click)="kembali()">
                            {{ 'KEMENTERIAN.BTN.BACK' | translate | uppercase}}
                    </button>

                </div>

                
            </form>

            
        </div>
    </div>
    

</div>

