<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
   
    <!-- <button class="cust-add-btn ml-20" mat-fab color="warn"><mat-icon matSuffix>add</mat-icon></button> -->
    <!-- / HEADER -->

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PENGUMUMAN.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PENGUMUMAN.LIST' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'PENGUMUMAN.LIST' | translate }}</div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PENGUMUMAN.SEARCH' | translate }}">
            </mat-form-field>
        </div>

        

    </div>
    <button class="cust-add-btn ml-20 " (click)="tambah()" mat-fab color="warn"><mat-icon matSuffix>add</mat-icon></button>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">
        
            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
        
                <ng-template 
                    ngx-datatable-header-template 
                    let-value="value" 
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                        <mat-checkbox 
                            [checked]="allRowsSelected" 
                            (change)="selectFn(!allRowsSelected)">
                        </mat-checkbox>
                </ng-template>
        
                <ng-template 
                    ngx-datatable-cell-template 
                    let-value="value" 
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <mat-checkbox 
                            [checked]="isSelected" 
                            (change)="onCheckboxChangeFn($event)">
                        </mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'PENGUMUMAN.NAME' | translate }}" prop="title" ></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'PENGUMUMAN.STARTDATE' | translate }}" 
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                ngx-datatable-cell-template>
                    {{ row.startDatetime | date : 'dd/MM/yyyy'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'PENGUMUMAN.ENDDATE' | translate }}" [canAutoResize]="false"
            [sortable]="false">
            <ng-template let-row="row"
            ngx-datatable-cell-template>
                {{ row.endDatetime | date : 'dd/MM/yyyy'}}
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'PENGUMUMAN.CONTENT' | translate }}" prop="content"></ngx-datatable-column>
            
            <ngx-datatable-column name="Tindakan"
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();"> 
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="Kemaskini" (click)="editPengumuman(row.id)">
                            <mat-icon>edit</mat-icon>
                            <span>{{ 'PENGUMUMAN.BTN.EDIT' | translate }}</span>
                        </button>
                        <button mat-menu-item aria-label="Padam" (click)="deletePengumuman(row.id)">
                            <mat-icon>delete</mat-icon>
                            <span>{{ 'PENGUMUMAN.BTN.DELETE' | translate }}</span>
                        </button>
                    </mat-menu>

                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>

