
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'AGENSI.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'AGENSI.LIST' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'AGENSI.NEW' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'AGENSI.NEW' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="agensiForm" [formGroup]="agensiForm" novalidate (ngSubmit)="hantar()">

                <div class="h2 mb-24">{{ 'AGENSI.DETAILS' | translate }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'AGENSI.NAME' | translate }}" formControlName="name"required>
                        <mat-error *ngIf="agensiFormErrors.name.required">
                                {{ 'AGENSI.FORMERROR.NAME' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errNameExist">{{ 'AGENSI.FORMERROR.NAMEEXIST' | translate}}</mat-hint>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'AGENSI.CODE' | translate }}" formControlName="code" required>
                        <mat-error *ngIf="agensiFormErrors.code.required">
                                {{ 'AGENSI.FORMERROR.CODE' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errCodeExist">{{ 'AGENSI.FORMERROR.CODEEXIST' | translate}}</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'AGENSI.PHONENO' | translate }}" formControlName="phoneNo" required>
                        <mat-error *ngIf="agensiFormErrors.phoneNo.required">
                                {{ 'AGENSI.FORMERROR.PHONENO' | translate }}
                        </mat-error>
                        <mat-error *ngIf="agensiFormErrors.phoneNo.pattern">
                                {{ 'AGENSI.FORMERROR.PHONENOPATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'AGENSI.ADDRESS' | translate }}" formControlName="address" required>
                        <mat-error *ngIf="agensiFormErrors.address.required">
                                {{ 'AGENSI.FORMERROR.ADDRESS' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <mat-select #states (selectionChange)="setSBState(states.value)" placeholder="{{ 'AGENSI.STATE' | translate }}" formControlName="state" required>
                            <mat-option *ngFor="let states of stateLs" [value]="states.id">
                                {{states.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="agensiFormErrors.state.required">
                                {{ 'AGENSI.FORMERROR.STATE' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <mat-select #city (selectionChange)="setSBCity(city.value)" placeholder="{{ 'AGENSI.CITY' | translate }}" formControlName="city" required>
                            <mat-option *ngFor="let city of cities" [value]="city.id">
                                {{city.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="agensiFormErrors.city.required">
                                {{ 'AGENSI.FORMERROR.CITY' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'AGENSI.POSTCODE' | translate }}" formControlName="postcode" required>
                        <mat-error *ngIf="agensiFormErrors.postcode.required">
                                {{ 'AGENSI.FORMERROR.POSTCODE.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error *ngIf="agensiFormErrors.postcode.pattern">
                            {{ 'AGENSI.FORMERROR.POSTCODE.PATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <mat-select #kementerian (selectionChange)="setSBKementerian(kementerian.value)" placeholder="{{ 'AGENSI.KEMENTERIAN' | translate }}" formControlName="kementerian" required>
                            <mat-option *ngFor="let kementerian of kementerianLs" [value]="kementerian.id">
                                {{kementerian.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="agensiFormErrors.kementerian.required">
                                {{ 'AGENSI.FORMERROR.KEMENTERIAN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'AGENSI.URLPORTAL' | translate }}" formControlName="urlPortal" required>
                        <mat-error *ngIf="agensiFormErrors.urlPortal.required">
                                {{ 'AGENSI.FORMERROR.URLPORTAL' | translate }}
                        </mat-error>
                        <mat-error *ngIf="agensiFormErrors.urlPortal.pattern">
                                {{ 'AGENSI.FORMERROR.URLPATTERN' | translate }}
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                    [disabled]="agensiForm.invalid">
                            {{ 'AGENSI.BTN.SUBMIT' | translate | uppercase}}
                    </button>
                    &#160;&#160;
                    <button type="reset" mat-raised-button color="warn" (click)="redirectAgencyPage()">
                            {{ 'AGENSI.BTN.BACK' | translate | uppercase}}
                    </button>
                </div>
                

            </form>

            
        </div>
    </div>
    

</div>

