
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'JAWAPAN.TITLE' | translate }}</span>

            </div>
            <div class="h2 mt-16">{{ 'JAWAPAN.TITLE' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="jawapanForm" [formGroup]="jawapanForm" novalidate (ngSubmit)="hantar()">

                <div class="h2 mb-24">{{ 'JAWAPAN.DETAILS' | translate }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  <mat-form-field fxFlex="100">
                    <mat-select #soalan1 (selectionChange)="setSoalanKeselamatan1(soalan1.value)" placeholder="{{ 'JAWAPAN.SOALAN' | translate }}" formControlName="soalanKeselamatan1" required>
                        <mat-option *ngFor="let soalan1 of soalanLs" [value]="soalan1.id">
                            {{soalan1.keterangan}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                            {{ 'JAWAPAN.FORMERROR.SOALAN' | translate }}
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }}" formControlName="jawapan1"required>

                        <!-- <mat-error *ngIf="jawapanFormErrors.jawapan.required">
                                {{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  <mat-form-field fxFlex="100">
                    <mat-select #soalan2 (selectionChange)="setSoalanKeselamatan2(soalan2.value)" placeholder="{{ 'JAWAPAN.SOALAN' | translate }}" formControlName="soalanKeselamatan2" required>
                        <mat-option *ngFor="let soalan2 of soalanLs" [value]="soalan2.id">
                            {{soalan2.keterangan}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                            {{ 'JAWAPAN.FORMERROR.SOALAN' | translate }}
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }}" formControlName="jawapan2"required>

                        <!-- <mat-error *ngIf="jawapanFormErrors.jawapan.required">
                                {{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  <mat-form-field fxFlex="100">
                    <mat-select #soalan3 (selectionChange)="setSoalanKeselamatan3(soalan3.value)" placeholder="{{ 'JAWAPAN.SOALAN' | translate }}" formControlName="soalanKeselamatan3" required>
                        <mat-option *ngFor="let soalan3 of soalanLs" [value]="soalan3.id">
                            {{soalan3.keterangan}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                            {{ 'JAWAPAN.FORMERROR.SOALAN' | translate }}
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }}" formControlName="jawapan3"required>

                        <!-- <mat-error *ngIf="jawapanFormErrors.jawapan.required">
                                {{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  <mat-form-field fxFlex="100">
                    <mat-select #soalan4 (selectionChange)="setSoalanKeselamatan4(soalan4.value)" placeholder="{{ 'JAWAPAN.SOALAN' | translate }}" formControlName="soalanKeselamatan4" required>
                        <mat-option *ngFor="let soalan4 of soalanLs" [value]="soalan4.id">
                            {{soalan4.keterangan}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                            {{ 'JAWAPAN.FORMERROR.SOALAN' | translate }}
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }}" formControlName="jawapan4"required>

                        <!-- <mat-error *ngIf="jawapanFormErrors.jawapan.required">
                                {{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                  <mat-form-field fxFlex="100">
                    <mat-select #soalan5 (selectionChange)="setSoalanKeselamatan5(soalan5.value)" placeholder="{{ 'JAWAPAN.SOALAN' | translate }}" formControlName="soalanKeselamatan5" required>
                        <mat-option *ngFor="let soalan5 of soalanLs" [value]="soalan5.id">
                            {{soalan5.keterangan}}
                        </mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="soalanFormErrors.keterangan.required">
                            {{ 'JAWAPAN.FORMERROR.SOALAN' | translate }}
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'JAWAPAN.JAWAPAN' | translate }}" formControlName="jawapan5"required>

                        <!-- <mat-error *ngIf="jawapanFormErrors.jawapan.required">
                                {{ 'JAWAPAN.FORMERROR.JAWAPAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">
                    <button mat-raised-button color="warn">
                            {{ 'JAWAPAN.BTN.BACK' | translate | uppercase}}
                    </button>
                    &#160;&#160;
                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                    [disabled]="jawapanForm.invalid">
                            {{ 'JAWAPAN.BTN.SUBMIT' | translate | uppercase}}
                    </button>

                </div>

            </form>


        </div>
    </div>


</div>
