<div>
  <h2 md-dialog-title>{{'TERM.TITLE' | translate}}</h2>
  <hr>
  <div md-dialog-content >
    <div [innerHTML]="syarat" fusePerfectScrollbar></div>
  <strong>{{'TERM.UPDATE_BY' | translate}}</strong><br>
  <span [spellcheck]="true" class="mat-subheading-2">{{user}}</span>
  
  <br>
  <strong>{{'TERM.DATE' | translate}}</strong>
  <br>
   <span [spellcheck]="true" class="mat-subheading-2">{{date}}</span><br>
   <!-- <span [spellcheck]="true" class="mat-subheading-2">{{date | date: 'hh:mm'}}</span> -->
  </div>

  <hr>
  <div>
    <button mat-raised-button color="grey" (click)="onCloseConfirm()">CANCEL</button>
  </div>
</div>

