<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'TERM.TITLE' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'TERM.TITLE' | translate }}</div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'TERM.SEARCH' | translate }}">
            </mat-form-field>
        </div>
        
    </div>

    <button class="cust-add-btn ml-20 " (click)="update()"  mat-fab color="warn">
            <mat-icon matSuffix>add</mat-icon>
        </button>
        

    
        
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">
        
            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
        
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'TERM.UPDATE_BY' | translate }}" prop="user.name" ></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'TERM.DATE' | translate }}" prop="date"></ngx-datatable-column>
            <ngx-datatable-column 
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >

                    <button mat-icon-button (click)="view(row.id)" aria-label="Toggle important" fxHide.xs>
                        <mat-icon class="secondary-text">edit_circle</mat-icon> 
                        <!--<span>{{ 'TERM.VIEW' | translate }}</span>-->
                    </button>

                    

                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div>