@import "src/@fuse/scss/fuse";

fuse-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    #chat-panel {

        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.35);
        @include media-breakpoint-down('sm') {
            visibility: hidden;
        }
    }

    .chat-fold{
        min-width: 60px !important;
        max-width: 60px !important;
    }

    .chat-unfold{
        min-width: 360px !important;
        max-width: 360px !important;
    }

    > .mat-sidenav-container {
        display: flex;
        flex: 1;

        > .mat-sidenav-content,
        > .mat-drawer-content {
            display: flex;
            flex: 1;
            overflow: hidden;
            height: 100vh;

            @include media-breakpoint-down('sm') {
                height: auto !important;
            }

            #fuse-main-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: hidden;
                

                #wrapper {
                    display: flex;
                    position: relative;
                    flex: 1;
                    overflow: hidden;

                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        overflow: hidden;
                        margin-right: 60px;
                        @include media-breakpoint-down('sm') {
                            margin-right: 0;
                        }
                        

                        fuse-content {
                            position: relative;
                            display: flex;
                            flex: 1;
                            flex-direction: row;                            
                            width: 100%;
                            overflow: hidden;
                            

                            > *:not(router-outlet):not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
                                display: flex;
                                flex: 1;
                                width: 100%;
                                min-width: 100%;
                            }

                            > *.ng-animating {

                                .mat-tab-body {
                                    height: 100vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &[fuse-layout-mode="boxed"] { 
        max-width: 1200px; 
        margin: 0 auto; 
        @include mat-elevation(8); 
    }

    &[fuse-layout-chat="none"] {
    
        > .mat-sidenav-container {
    
            > .mat-sidenav-content,
            > .mat-drawer-content {
    
                #fuse-main-content {
                    
    
                    #wrapper {
    
                        .content-wrapper {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}


