<div class="classic-tab p-24">

    <div class="result-info" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start start">

        <span class="result-count h3 secondary-text">
            <span>{{length}}</span>
            <span class="ml-4">{{ 'CARIAN.RESULT' | translate }}</span>
        </span>

    </div>


    <div id="timeline" class="p-24" fxLayout="column" fxLayoutAlign="space-between">

        <div class="timeline-content" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100" fxFlex.gt-sm="55"
            fxFlex.gt-md="65">

            <div class="timeline-item" *ngFor="let item of post">
                <header fxLayout="row" fxLayoutAlign="space-between start">
                    <div class="user" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/images/avatars/profile.jpg" class="avatar" />

                        <div fxLayout="column">
                            <div class="title">
                                <span class="username">{{item.createdby.name}}</span>

                                <span *ngIf="item.category === 'BAHAGIAN'"> dikongsi bersama bahagian</span>
                                <span *ngIf="item.category === 'PRIVATE'"> tiada perkongsian</span>
                                <span *ngIf="item.category === 'PET'"> dikongsi bersama pet</span>
                            </div>
                            <div class="time">
                                <b>{{item.createddate | date : 'dd/MM/yyyy'}}</b>
                                {{item.createddate | date : 'hh:mm:ss a'}}
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button (click)="deletePost(item.id)" style="margin-right: 5px">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </header>


                <div class="content">
                    <div class="message">
                        {{item.keterangan}}
                    </div>

                    <mat-form-field class="w-100-p">
                        <mat-chip-list #hashtags name="postHashtag">
                            &nbsp;
                            <mat-chip *ngFor="let hashtag of item.hashtagLs">

                                {{hashtag.nama}}
                            </mat-chip>

                            <input [matChipInputFor]="hashtags" [matChipInputAddOnBlur]="true" disabled />

                        </mat-chip-list>
                    </mat-form-field>
                </div>

                <footer class="" fxLayout="column" fxLayoutAlign="start start">
                    <div class="comment-count" fxLayout="row" fxLayoutAlign="start center" *ngIf="item.wallKomenLs">
                        {{item.wallKomenLs.length}} Comment(s)
                        <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                    </div>



                    <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of item.wallKomenLs">
                        <img src="assets/images/avatars/profile.jpg" class="avatar" />

                        <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span class="username">{{comment.createdby.name}}</span>
                                <span class="time">
                                    <b>{{comment.createddate | date : 'dd/MM/yyyy'}}</b>
                                    {{comment.createddate | date : 'hh:mm:ss a'}}
                                </span>
                            </div>
                            <div class="message">
                                {{comment.keterangan}}
                            </div>
                        </div>

                    </div>
                </footer>

            </div>

            <div class="pager" fxLayout="column" fxLayoutAlign="start center">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>



    </div>



</div>