<h1 mat-dialog-title>{{ 'PET.POPUP.TITLE' | translate }}</h1>

<div mat-dialog-content>
  <p>{{ 'PET.POPUP.CONFIRM' | translate }}</p>
</div>

<div mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

    <button mat-raised-button color="primary" [mat-dialog-close]="">{{ 'PET.POPUP.BACK' | translate }}</button>
    <button mat-raised-button color="warn" (click)="confirmDelete()">{{ 'PET.POPUP.DELETE' | translate }}</button>
  
  </div>
</div>

