<div id="senaraiPet" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidenav-toggle mr-12"
                    fuseMatSidenavToggler="contacts-main-sidenav"
                    fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1">{{ 'PET.LIST' | translate }}</span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PET.SEARCH' | translate }}">
            </mat-form-field>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->
    <button id="tambahPet" class="cust-add-btn ml-20 " (click)="tambah()" mat-fab color="warn"><mat-icon matSuffix>add</mat-icon></button>

    <mat-sidenav-container>
        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
                     fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">

            <div *fuseIfOnDom [@animate]="{value:'*'}">
                <div id="sideBarPet" class="sidenav-content">
                        <!-- SIDENAV CONTENT -->
                        <div class="content py-16" >

                            <div class="nav">
                                <div class="nav-item">
                                    <a class="nav-link" matRipple (click)="changeFilter('semua')" [ngClass]="{'active':filter ==='semua'}">
                                        <span class="title">{{ 'PET.ALLPET' | translate }}</span>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('project')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='project'}">
                                        <div class="title">Projects</div>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('event')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='event'}">
                                        <div class="title">Events</div>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('team')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='team'}">
                                        <div class="title">Teams</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                </div>
            </div>                                      
                     <!-- / SIDENAV CONTENT -->
        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div id="senarai" class="" >
                <ngx-datatable
                    class="material "
                    headerClass="cust-header"
                    [rows]="rows"
                    [loadingIndicator]="loadingIndicator"
                    [columnMode]="'force'"
                    [headerHeight]="55"
                    [footerHeight]="56"
                    [rowHeight]="50"
                    [externalPaging]="true"
                    [externalSorting]="true"
                    [reorderable]="reorderable"
                    [selectionType]="'checkbox'"
                    [limit]="page.size"
                    [count]="page.totalElements"
                    [offset]="page.pageNumber"
                    (page)='setPage($event)'
                    (sort)="onSort($event)">

                        <ngx-datatable-column
                            [width]="48"
                            [canAutoResize]="false"
                            [sortable]="false">

                            <ng-template
                                ngx-datatable-header-template
                                let-value="value"
                                let-allRowsSelected="allRowsSelected"
                                let-selectFn="selectFn">
                                    <mat-checkbox
                                        [checked]="allRowsSelected"
                                        (change)="selectFn(!allRowsSelected)">
                                    </mat-checkbox>
                            </ng-template>

                            <ng-template
                                ngx-datatable-cell-template
                                let-value="value"
                                let-isSelected="isSelected"
                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                    <mat-checkbox
                                        [checked]="isSelected"
                                        (change)="onCheckboxChangeFn($event)">
                                    </mat-checkbox>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Nama Projek" prop="nama" ></ngx-datatable-column>
                        <ngx-datatable-column name="Nama Singkatan" prop="namaSingkatan" ></ngx-datatable-column>
                        <ngx-datatable-column name="Jenis" prop="jenis" ></ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="status" >
                            <ng-template let-row="row"
                                ngx-datatable-cell-template>
                                <mat-chip-list>
                                    <mat-chip class="mat-green-600-bg" selected="true" *ngIf="row.status == 'Aktif'" >
                                        Aktif
                                    </mat-chip>
                                    <mat-chip color="warn" selected="true" *ngIf="row.status == 'Tidak Aktif'" >
                                        Tidak Aktif
                                    </mat-chip>
                                </mat-chip-list>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Tindakan"
                            [canAutoResize]="false"
                            [sortable]="false">
                            <ng-template let-row = "row"
                                ngx-datatable-cell-template >
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                        (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="Kemaskini" *ngIf="row.status == 'Aktif'" (click)="updatePet(row.id)">
                                        <mat-icon>edit</mat-icon>
                                        <span>{{ 'PET.BTN.EDIT' | translate }}</span>
                                    </button>
                                    <button mat-menu-item aria-label="Padam" *ngIf="row.status == 'Aktif'" (click)="diactivePet(row.id)">
                                        <mat-icon>cancel_presentation</mat-icon>
                                        <span>{{ 'PET.BTN.DIACTIVED' | translate }}</span>
                                    </button>
                                    <button mat-menu-item aria-label="Padam" *ngIf="row.status == 'Tidak Aktif'" (click)="activePet(row.id)">
                                        <mat-icon>check</mat-icon>
                                        <span>{{ 'PET.BTN.ACTIVED' | translate }}</span>
                                    </button>
                                    <button mat-menu-item aria-label="Kemaskini Ahli" *ngIf="row.status == 'Aktif'" (click)="updateAhliPet(row.id)">
                                        <mat-icon>update</mat-icon> 
                                        <span>{{ 'PET.BTN.UPDATE' | translate }}</span>
                                    </button>
                                </mat-menu>

                            </ng-template>
                        </ngx-datatable-column> 

                </ngx-datatable>
            </div>
        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>
  
</div>
