 <div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                <div class="title">General Information</div>
                <button mat-raised-button (click)="editForm()" >{{ 'WALL.ABOUT.EDIT' | translate }}
                </button>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.NAME' | translate }}</div>
                    <div class="info">{{nama}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.EMAIL.COMPANY' | translate }}</div>
                    <div class="info">{{email}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.EMAIL.PERSONAL' | translate }}</div>
                    <span class="info">{{userEmail}}</span>   
                </div>

               
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.ADDRESS' | translate }}</div>
                    <div class="info">{{address}}</div>
                    <div class="info">{{postcode}} {{bandar}}</div>
                    <div class="info">{{negeri}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.TEL' | translate }}</div>
                    <span class="info">{{phone}}</span>
                </div>
        
                
            </div> 
            
        </div>
        <div class="profile-box info-box Agensi" fxLayout="column">
            
            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                    <div class="title">{{ 'WALL.ABOUT.KEMENTERIAN' | translate }}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.KEMENTERIAN' | translate }}</div>
                    <span class="info">{{kementerian}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.AGENSI' | translate }}</div>
                    <span class="info">{{agensi}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.BAHAGIAN' | translate }}</div>
                    <span class="info">{{bahagian}}</span>   
                </div>
                    
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.SKEMA' | translate }}</div>
                    <span class="info">{{skema}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.GRADE' | translate }}</div>
                    <span class="info">{{grade}}</span>   
                </div>
            </div>
        </div>
          
           
    </div>

   <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

                    <div class="profile-box friends" fxLayout="column">
            
                        <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="title">PET</div>
                            <div class="more secondary-text">
                                <span>Pet Join {{countPet}}</span>
                            </div>
                        </header>
            
                        <div class="content" fxLayout="row" *ngFor=" let petList of ahliPetLs">
                            <div class="friend" fxFlex="90" >
                                <img *ngIf="petList.tempPet.image" class="profile-image avatar" src="data:image/JPEG;base64,{{petList.tempPet.image}}">
                                <img *ngIf="!petList.tempPet.image" class="profile-image avatar" src="assets/images/avatars/profile.jpg">
                                <span class="info">
                                    {{petList.tempPet.nama}} 
                                    &nbsp;
                                    &nbsp;
                                </span> 
                            </div>
                        </div>
            
                    </div>
                </div>

</div> 
