<div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="perhubunganForm"
            [formGroup]="perhubunganForm" novalidate (ngSubmit)="hantar()">

            <div class="h2 mb-24">{{ 'USER.EDIT.CONTACT' | translate }}</div>
           

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.PERSONALEMAIL' | translate }}" formControlName="personalEmail">
                    <mat-error *ngIf="perhubunganFormErrors.personalEmail.email">
                        {{ 'USER.EDIT.FORMERROR.PERSONALEMAIL.PATTERN' | translate }}
                    </mat-error>
                    <mat-hint class="cust-error" *ngIf="errEmailPersonalExist">{{ 'USER.ERR.EXIST.EMAIL' | translate}}</mat-hint>
                </mat-form-field>
                
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{ 'USER.WORKEMAIL' | translate }}" formControlName="workEmail" required>
                    <mat-error *ngIf="perhubunganFormErrors.workEmail.required">
                        {{ 'USER.EDIT.FORMERROR.WORKEMAIL.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="perhubunganFormErrors.workEmail.email">
                        {{ 'USER.EDIT.FORMERROR.WORKEMAIL.PATTERN' | translate }}
                    </mat-error>
                    <mat-hint class="cust-error" *ngIf="errEmailExist">{{ 'USER.ERR.EXIST.EMAIL' | translate}}</mat-hint>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{ 'USER.TELEPHONE' | translate }}" formControlName="telephone" required>
                    <mat-error *ngIf="perhubunganFormErrors.telephone.required">
                        {{ 'USER.EDIT.FORMERROR.TELEPHONE.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="perhubunganFormErrors.telephone.maxLength">
                        {{ 'USER.EDIT.FORMERROR.TELEPHONE.PATTERN' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="perhubunganForm.invalid">
                    {{ 'USER.EDIT.BTN.SUBMIT' | translate | uppercase}}
                </button>
                &#160;&#160;
                <button type="reset" mat-raised-button color="warn" (click)="backButton()">
                    {{ 'USER.EDIT.BTN.BACK' | translate | uppercase}}
                </button>
            </div>


        </form>


    </div>
</div>