<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>{{'SAMPLE.HELLO' | translate}}</h2>

    <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Search" (keyup)='updateFilter($event)'/>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <ngx-datatable
    class="material"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'"
    [headerHeight]="48"
    [footerHeight]="56"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [externalSorting]="true"
    [scrollbarH]="true"
    [reorderable]="reorderable"
    [selectionType]="'checkbox'"
    [limit]="10"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    (page)='setPage($event)'
    (sort)="onSort($event)">

    <ngx-datatable-column
        [width]="48"
        [canAutoResize]="false"
        [sortable]="false">

            <ng-template 
                ngx-datatable-header-template 
                let-value="value" 
                let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                    <mat-checkbox 
                        [checked]="allRowsSelected" 
                        (change)="selectFn(!allRowsSelected)">
                    </mat-checkbox>
            </ng-template>

        <ng-template 
            ngx-datatable-cell-template 
            let-value="value" 
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
                <mat-checkbox 
                    [checked]="isSelected" 
                    (change)="onCheckboxChangeFn($event)">
                </mat-checkbox>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>

    <ngx-datatable-column name="NAME" prop="name"></ngx-datatable-column>
</ngx-datatable>

    
  <button (click)="view()">asdsad</button>

</div>
