
<div id="kemaskini-profile" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'NAV.USER.MANAGE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'NAV.USER.LIST' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'NAV.USER.EDIT' | translate }}</span>
            </div>
            <div class="h1 mt-16">{{ 'NAV.USER.EDIT' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group mat-stretch-tabs dynamicHeight="true">

            <mat-tab label="{{ 'USER.EDIT.DETAILS' | translate }}">
                <profile-maklumat></profile-maklumat>
            </mat-tab>

            <mat-tab label="{{ 'USER.EDIT.CONTACT' | translate }}">
                <profile-perhubungan></profile-perhubungan>
            </mat-tab>

            <mat-tab label="{{ 'USER.EDIT.AGENCY' | translate }}">
                <profile-agensi></profile-agensi>
            </mat-tab>
            
            <mat-tab label="{{ 'USER.EDIT.PASSWORD' | translate }}">
                <profile-katalaluan></profile-katalaluan>
            </mat-tab>
            
            <mat-tab label="{{ 'USER.EDIT.ROLE.ROLE' | translate }}">
                <profile-peranan></profile-peranan>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->
    

</div>

