<h1 mat-dialog-title>{{ 'BAHAGIAN.DELETEBAHAGIAN.DELETEBAHAGIAN' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'BAHAGIAN.DELETEBAHAGIAN.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

      <button mat-raised-button color="accent" (click)="confirmDelete()">
              {{ 'BAHAGIAN.DELETEBAHAGIAN.DELETE' | translate | uppercase}}
      </button>

      <button mat-raised-button color="warn" [mat-dialog-close]="">
              {{ 'BAHAGIAN.DELETEBAHAGIAN.BACK' | translate | uppercase}}
      </button>

  </div>
 </div>
