@import "src/@fuse/scss/fuse";

:host {
 
    .content{
        max-width: 1100px;
    }

    

    .cust-add-btn{
        // float: float-right;
        // position: absolute;
        // right: 18px;
        top: 5px;
    //     z-index: 10;
    }

    #pengumumanPetBack{
        // bottom: 5px;
        float: right;
    }
    #pengumumanPetBack2{
        // bottom: 5px;
        float: right;
        // left: 18px;
    }
   
  }