     
    <!-- Show list-->
    <div *ngIf="mode == 'list'">
        <div class="period-title" >
            <div class="page-layout blank p-24 w-150"  fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field mat-no-float class="m-0" floatLabel="never">
                            <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
                        </mat-form-field>    
                
                <button class="cust-add-btn" (click)="updatePage()"  mat-fab color="warn">
                            <mat-icon matSuffix>add</mat-icon> 
                        </button> 
                        
                
            </div>
        </div> 
        <div class="page-layout blank p-24 h-300" fusePerfectScrollbar>

                

            <ngx-datatable
                class="material "
                headerClass="cust-header"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'"
                [headerHeight]="55"
                [footerHeight]="56"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [externalSorting]="true"
                [scrollbarH]="true"
                [reorderable]="reorderable"
                [selectionType]="'checkbox'"
                [limit]="page.size"
                [count]="page.totalElements"
                [offset]="page.pageNumber"
                (page)='setPage($event)'
                (sort)="onSort($event)">
            
                <ngx-datatable-column
                    [width]="48"
                    [canAutoResize]="false"
                    [sortable]="false">
            
                    <ng-template 
                        ngx-datatable-header-template 
                        let-value="value" 
                        let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                            <mat-checkbox 
                                [checked]="allRowsSelected" 
                                (change)="selectFn(!allRowsSelected)">
                            </mat-checkbox>
                    </ng-template>
            
                    <ng-template 
                        ngx-datatable-cell-template 
                        let-value="value" 
                        let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <mat-checkbox 
                                [checked]="isSelected" 
                                (change)="onCheckboxChangeFn($event)">
                            </mat-checkbox>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{ 'ANNOUNCEMENT.TITLE' | translate }}" prop="title" ></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'ANNOUNCEMENT.CONTENT' | translate }}" prop="content" ></ngx-datatable-column>
                <!-- <ngx-datatable-column name="{{ 'ANNOUNCEMENT.UPDATE_BY' | translate }}" prop="created" ></ngx-datatable-column>  -->
                <ngx-datatable-column name="{{ 'ANNOUNCEMENT.START_DATE' | translate }}"
                    [canAutoResize]="false"
                    [sortable]="false">
                    <ng-template let-row="row"
                    ngx-datatable-cell-template>
                        {{ row.startDatetime | date : 'dd/MM/yyyy'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{ 'ANNOUNCEMENT.END_DATE' | translate }}"
                    [canAutoResize]="false"
                    [sortable]="false">
                    <ng-template let-row="row"
                    ngx-datatable-cell-template>
                        {{ row.endDatetime | date : 'dd/MM/yyyy'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{ 'ANNOUNCEMENT.ACTION' | translate }}"
                    [canAutoResize]="false"
                    [sortable]="false">
                    <ng-template let-row="row"
                        ngx-datatable-cell-template >
    
                        <!-- <button mat-icon-button (click)="updatePengumuman(row.id)" aria-label="Toggle important" fxHide.xs>
                            <mat-icon class="secondary-text">edit_circle</mat-icon> 
                            
                        </button> -->


                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();"> 
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="Kemaskini" (click)="updatePengumuman(row.id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'ANNOUNCEMENT.BTN.EDIT' | translate }}</span>
                            </button>
                            <button mat-menu-item aria-label="Padam" (click)="deletePengumuman(row.id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'ANNOUNCEMENT.BTN.DELETE' | translate }}</span>
                            </button>
                        </mat-menu>
    
                        
    
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>

    <!-- Show edit page-->
    <div *ngIf="mode == 'edit'" fusePerfectScrollbar>
            
        <!-- <div class="page-layout blank p-24" >
            <div style="background:red;">
                <button mat-raised-button color="warn" id="pengumumanPetBack" (click)="back()">BACK</button>
                </div>
            </div> -->
        <div class="page-layout blank p-24" >     

            <!-- Form Starts here --> 
            <div class="content">
                <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                fxFlex="1 0 auto" name="pengumumanPetForm" [formGroup]="pengumumanPetForm" novalidate (ngSubmit)="submit()">

                <div class="h2 mb-24">{{ 'ANNOUNCEMENT.ADD' | translate }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">

                        <input matInput placeholder="{{ 'ANNOUNCEMENT.TITLE' | translate }}" formControlName="title" required>

                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                            <!-- <input [matDatepicker]="myDatepicker">
                            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker> -->
                        <!-- <input matInput  placeholder="{{ 'ANNOUNCEMENT.START_DATE' | translate }}" formControlName="start_date" required>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker> -->

                        <input readonly  matInput [matDatepicker]="startDatePicker" placeholder="{{ 'ANNOUNCEMENT.START_DATE' | translate }}"
                        name="startdatetime"
                        formControlName="startdatetime">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>

                    </mat-form-field>

                    <mat-form-field fxFlex="50">

                        <input readonly matInput [matDatepicker]="endDatePicker" placeholder="{{ 'ANNOUNCEMENT.END_DATE' | translate }}"
                        name="enddatetime"
                        formControlName="enddatetime">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>

                    </mat-form-field>

                </div>        

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- <mat-form-field fxFlex="100"> -->
                        <app-ngx-editor [config]="editorConfig" height="100px" minHeight="50px" [(ngModel)]="htmlContent" formControlName="teksPengumuman"></app-ngx-editor>
                    <!-- </mat-form-field> -->
                    </div>

                
                &#160;&#160;

                

                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="accent" [disabled]="!pengumumanPetForm.valid" class="submit-button" aria-label="SUBMIT" type="submit">
                          {{ 'ANNOUNCEMENT.BTN.SUBMIT' | translate }}
                    </button>
                    &#160;&#160;
                    <button mat-raised-button color="warn" (click)="back()" >
                          {{ 'ANNOUNCEMENT.BTN.BACK' | translate }}
                    </button>
                </div>

                </form>
            </div>
        </div>
        
    </div>    
    

<!-- </div> -->

<!-- Show view page-->
<div *ngIf="mode == 'view'" fusePerfectScrollbar>
            
    <!-- <div class="page-layout blank p-24" >
        <div style="background:red;">
            <button mat-raised-button color="warn" id="pengumumanPetBack" (click)="back()">BACK</button>
            </div>
        </div> -->
    <div class="page-layout blank p-24" >     

        <!-- Form Starts here --> 
        <div class="content">
            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="pengumumanPetForm" [formGroup]="pengumumanPetForm" novalidate (ngSubmit)="submit()">

            <div class="h2 mb-24">{{ 'ANNOUNCEMENT.ADD' | translate }}</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">

                    <input matInput placeholder="{{ 'ANNOUNCEMENT.TITLE' | translate }}" formControlName="title" required>

                </mat-form-field>

            </div>
            

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                        <!-- <input [matDatepicker]="myDatepicker">
                        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker> -->
                    <!-- <input matInput  placeholder="{{ 'ANNOUNCEMENT.START_DATE' | translate }}" formControlName="start_date" required>
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker> -->

                    <input readonly  matInput [matDatepicker]="startDatePicker" placeholder="{{ 'ANNOUNCEMENT.START_DATE' | translate }}"
                    name="startdatetime"
                    formControlName="startdatetime">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>

                </mat-form-field>

                <mat-form-field fxFlex="50">

                    <input readonly matInput [matDatepicker]="endDatePicker" placeholder="{{ 'ANNOUNCEMENT.END_DATE' | translate }}"
                    name="enddatetime"
                    formControlName="enddatetime">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>

                </mat-form-field>

            </div>        

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <!-- <mat-form-field fxFlex="100"> -->
                    <app-ngx-editor [config]="editorConfig" height="100px" minHeight="50px" [(ngModel)]="htmlContent" formControlName="teksPengumuman"></app-ngx-editor>
                <!-- </mat-form-field> -->
            </div>
            
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">

                    <input matInput formControlName="idPengumuman" hidden="true">

                </mat-form-field>

            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">

                    <input matInput formControlName="petId" hidden="true">

                </mat-form-field>

            </div> -->
            
            &#160;&#160;

            

            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" [disabled]="!pengumumanPetForm.valid" class="submit-button" aria-label="EDIT" type="submit" (click)="saveEdit(row.id)">
                      {{ 'ANNOUNCEMENT.BTN.SUBMIT' | translate }}
                </button>
                &#160;&#160;
                <button mat-raised-button color="warn" (click)="back()" >
                      {{ 'ANNOUNCEMENT.BTN.BACK' | translate }}
                </button>
            </div>

            </form>
        </div>
    </div>
    
</div>