<h1 mat-dialog-title>{{ 'ANNOUNCEMENT.DELETEPENGUMUMAN.DELETEPENGUMUMAN' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'ANNOUNCEMENT.DELETEPENGUMUMAN.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmDelete()">
                {{ 'ANNOUNCEMENT.DELETEPENGUMUMAN.DELETE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'ANNOUNCEMENT.DELETEPENGUMUMAN.BACK' | translate | uppercase}}
        </button>

    </div>
 </div>
