
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
     <!--  HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.MANAGE' | translate}}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.ROLE' | translate}}</span>
            </div>
            <div class="h1 mt-16">{{'NAV.USER.ROLE' | translate}}
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon> 
                {{currentUser.agensi != null ? currentUser.agensi.name : currentUser.kementerian.name}} 
            </div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
            </mat-form-field>
        </div>

        

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">
        
            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
            </ngx-datatable-column>

            <ngx-datatable-column name="Nama" prop="user.name" ></ngx-datatable-column>
            <ngx-datatable-column name="Emel" prop="user.email"></ngx-datatable-column>
                     
            <ngx-datatable-column name="Peranan" prop="authority.rolename"></ngx-datatable-column>
           
            <ngx-datatable-column name="Status" prop="status">

                <ng-template let-row="row" ngx-datatable-cell-template >
                    <mat-chip-list>
                        <mat-chip class="mat-deep-purple-bg" color="" selected="true"*ngIf="row.status == 'NEW'">
                                New
                        </mat-chip>

                        <mat-chip class="mat-green-600-bg" selected="true"*ngIf="row.status == 'APPROVE'">
                            Approved
                        </mat-chip>

                        <mat-chip class="mat-red-A700-bg" selected="true"*ngIf="row.status == 'REJECT'">
                            Rejected
                        </mat-chip>
                    </mat-chip-list>

                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tindakan"
                [canAutoResize]="false"
                [sortable]="false"
                [width]="180">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
                    <button (click)="openDetail(row.id)" *ngIf="row.status == 'NEW'"
                        mat-icon-button 
                        aria-label="Toggle important" 
                        fxHide.xs>
                        <mat-icon class="blue-fg" >open_in_new</mat-icon>
                    </button>

                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
        
    </div>

</div>

