<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <span class="mat-caption">MyDiWorks 2018</span>
        </div>

    </div>

</mat-toolbar>
