<div fxLayout="column" >
<mat-list class="date" fxFlex cdkFocusRegionStart >

    <h3 matSubheader cdkFocusInit>
        <span>Today</span>
    </h3>

    <div class="secondary-text mat-display-1 mb-0 p-16">
        <div class="mb-12">
            {{date | date:'EEEE'}}
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <span> {{date | date:'d'}}</span>
            <span class="mat-subheading-1">th</span>
            <span> {{date | date:'MMMM'}}</span>
        </div>
    </div>
</mat-list>

<mat-divider cdkFocusRegionEnd></mat-divider>


<mat-divider></mat-divider>

<mat-list fxLayout="column" fxLayoutAlign="stretch" >

    <mat-list-item fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="stretch" >
            <h3 matSubheader>Notifications</h3> 
    </mat-list-item>
    <mat-divider fxLayoutAlign="stretch"></mat-divider>
       
        <div  fxLayout="column" fxLayoutAlign="center"  style="align-items: center;">
            <a fxLayout="column" fxLayoutAlign="center" class="noti-item" (click)="getNoti(notifikasiLs.id)"  *ngFor="let notifikasiLs of notifikasi"  >
                <!-- <class="user" fxLayout="row" > -->
                    <div fxLayout="row" fxLayoutAlign="start" class="items">
                    <!-- <img fxLayout="column" fxFlex src="data:image/JPEG;base64,{{notifikasiLs.createdby.image}}" class="avatar" /> -->
                    <img fxLayout="column"  *ngIf="notifikasiLs.createdby.image" src="data:image/JPEG;base64,{{notifikasiLs.createdby.image}}" class="avatar" />
                    <img  fxLayout="column"  *ngIf="!notifikasiLs.createdby.image"  src="assets/images/avatars/profile.jpg" class="avatar"/>
                        <div class="item-div" fxLayout="column" fxLayoutAlign="start start">
                            
                            <div class="title" style="word-break:break-all;">
                                <span class="username">{{notifikasiLs.createdby.name}}  </span> &nbsp;&nbsp;
                                <span class="maklumat" >{{notifikasiLs.maklumat}}</span>                                                                                           
                            </div>  
                            <div class="time">
                                <b>{{notifikasiLs.createddate | date : 'dd/MM/yyyy'}}</b>
                                {{notifikasiLs.createddate | date : 'hh:mm:ss a'}}
                            </div>
                        </div>
                    </div>
                </a>
        </div>
        <mat-divider></mat-divider>
    <mat-list-item fxLayoutAlign="center" style="align-items: center;">
        <button mat-button (click)="listNoti()" > 
            See all notifications <i class="m-icon-swapright"></i>
        </button>
    </mat-list-item>
    

</mat-list>
</div>