@import "src/@fuse/scss/fuse";

fuse-quick-panel {
    display: flex;
    width: 300px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;
    flex-direction: column;

    .mat-slide-toggle-content {
        flex: 1;
    }
}




.mat-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
        .mat-list-item{
            height: 50px;
        }
        .noti-item{
            text-decoration: none;
            position: relative;
            border-radius: 2px;
            flex:1;
            background: #FFFFFF;
            word-break: break-all;  
            @include mat-elevation(2);
            .items
                {
                    text-decoration: none;
                    position: relative;
                    border-radius: 2px;
                    align-items: baseline;
                    cursor: pointer;
                    word-wrap: break-word;
                    
                    
                .avatar{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
                .item-div{
                    position: relative;
                    overflow-wrap: break-word;
                    border-radius: 2px;
                    .title {
                        font-weight: 50;
                        // word-break: break-all;
                        .username {                        
                            //margin-right: 2px;
                            color: #00D8F1;
                            // font-size: 12px;
                        }
                        .maklumat{
                            // font-size: 10px;
                            overflow: hidden;
                            
                            font-size: 12px;
                            
                        }
                    }
                }
                

                .time {
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 12px;
                }
            }
        }
    }
.redial-rounded-circle-50 {
    border-radius: 50px !important;
}

.media-body{
    flex: 1;
}

a:not(.mat-button):not(.mat-raised-button):not(.mat-icon-button):hover, a:not(.mat-button):not(.mat-raised-button):not(.mat-icon-button):active {
    text-decoration: none;
}
// .noti{
//     text-align: inherit;
//     background: 0 0;
//     border: 0;
//     color: #fff;
// }

// img {
//     display: block;
//     padding: 0;
// }
// .avatar {
//     margin-right: 16px;
// }

// .secondary-text {
//     font-weight: 500;
//     margin-right: 4px;
//     //color: mat-color($accent)
// }

// .secondary-text1 {
//     font-weight: 500;
// }
// .activity {
//     padding: 16px 0;
// }

// .latest-activity {

//     .content {
//         background-color: #FFF;

//         .activities {

//             .activity {
//                 padding: 16px 0;

//                 .avatar {
//                     margin-right: 16px;
//                 }

//                 .username {
//                     font-weight: 500;
//                     //color: mat-color($accent)
//                 }
                

//                 .message {
//                     font-weight: 500;
//                 }
//             }
//         }
//     }
// }