<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="action=='new'" class="title dialog-title">{{ 'CALENDAR.NEW.TITLE' | translate }}</span>
            <span *ngIf="action=='edit'" class="title dialog-title">{{ 'CALENDAR.EDIT.TITLE' | translate }}</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="eventForm" [formGroup]="eventForm" class="event-form w-100-p" fxLayout="column" fxFlex (ngSubmit)="send()">

            <h4 *ngIf="action == 'edit'">{{ jenisKalendar }}: <b>{{ namaKalendar }}</b></h4>
            <mat-form-field class="w-100-p">
                <input matInput
                       name="title"
                       formControlName="title"
                       placeholder="{{ 'CALENDAR.FORM.TITLE.TITLE' | translate }}"
                       required>
                <mat-error *ngIf="eventFormErrors.title.required">
                    {{ 'CALENDAR.FORM.TITLE.REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>            

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                <mat-slide-toggle (change)="allDayfn()" formControlName="allDay">{{ 'CALENDAR.FORM.ALLDAY.ALLDAY' | translate }}</mat-slide-toggle>
            </div>
            <hr>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput [matDatepicker]="startDatePicker" placeholder="{{ 'CALENDAR.FORM.STARTDATE.STARTDATE' | translate }}"
                           name="start_datetime"
                           formControlName="start_datetime" readonly="" required>
                    <mat-error *ngIf="eventFormErrors.start_datetime.required">
                        {{ 'CALENDAR.FORM.STARTDATE.REQUIRED' | translate }}
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput [matDatepicker]="endDatePicker" placeholder="{{ 'CALENDAR.FORM.ENDDATE.ENDDATE' | translate }}"
                           name="end_datetime"
                           formControlName="end_datetime" readonly="" required>
                    <mat-error *ngIf="eventFormErrors.end_datetime.required">
                        {{ 'CALENDAR.FORM.ENDDATE.REQUIRED' | translate }}
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>

            </div>

            

            <div *ngIf="!allDay" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput type="time" placeholder="{{ 'CALENDAR.FORM.STARTTIME.STARTTIME' | translate }}" name="starttime" formControlName="starttime">
                    <mat-error *ngIf="eventFormErrors.starttime.required">
                        {{ 'CALENDAR.FORM.STARTTIME.REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput type="time" placeholder="{{ 'CALENDAR.FORM.ENDTIME.ENDTIME' | translate }}" name="endtime" formControlName="endtime">
                    <mat-error *ngIf="eventFormErrors.endtime.required">
                        {{ 'CALENDAR.FORM.ENDTIME.REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <mat-form-field class="w-100-p">
                <input matInput
                       name="location"
                       formControlName="location"
                       placeholder="{{ 'CALENDAR.FORM.LOCATION.LOCATION' | translate }}" required>
                <mat-error *ngIf="eventFormErrors.location.required">
                    {{ 'CALENDAR.FORM.LOCATION.REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100-p">

                <textarea matInput
                          formControlName="notes"
                          placeholder="{{ 'CALENDAR.FORM.NOTES.NOTES' | translate }}"
                          mat-maxlength="250"
                          max-rows="4" required>
                </textarea>
                <mat-error *ngIf="eventFormErrors.notes.required">
                    {{ 'CALENDAR.FORM.NOTES.REQUIRED' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100-p">
                <input matInput
                       name="pic"
                       formControlName="pic"
                       placeholder="{{ 'CALENDAR.FORM.PIC.PIC' | translate }}">
            </mat-form-field>

        </form>

    </div>

    <div *ngIf="isAdmin" mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-raised-button
                (click)="send()"
                class="save-button mat-accent"
                [disabled]="eventForm.invalid"
                aria-label="SAVE">
                {{ 'CALENDAR.FORM.SAVE' | translate }}
        </button>

        <swal
            #deleteSwal
            title="{{ 'CALENDAR.FORM.DELETE.DELETE' | translate }}"
            text="{{ 'CALENDAR.FORM.DELETE.CONFIRMATION' | translate }}"
            type="warning"
            [showCancelButton]="true"
            cancelButtonClass="btn btn-danger"
            [focusCancel]="true"
            (confirm)="delete()"
            confirmButtonText = "{{ 'CALENDAR.FORM.DELETE.BTNDELETE' | translate }}"
            cancelButtonText = "{{ 'CALENDAR.FORM.DELETE.BTNCANCEL' | translate }}">
        </swal>
        <button *ngIf="action ==='edit'"
                mat-icon-button
                [swal]="deleteSwal"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
