@import "src/@fuse/scss/fuse";


.mat-option {
    word-wrap: break-word !important; 
    height: auto !important;
    line-height: initial !important;
    white-space: initial !important;
    
    h4 {
        color: #8d8d8d;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
    }
}


.event-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint-up('xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}
