<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav left-sidenav" position="start" opened="false" mode="over"
                     fuseMatSidenavHelper="file-manager-left-sidenav">
                     <div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

                        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="logo-icon mr-16">folder</mat-icon>
                            <span class="logo-text h1">File Manager</span>
                        </div>
                    
                    </div>
                    <!-- / SIDENAV HEADER -->
                    
                    <!-- SIDENAV CONTENT -->
                    <div class="content py-16" fusePerfectScrollbar>
                    
                        <div class="nav">
                    
                            <div class="nav-item" aria-label="inbox" >
                                <a class="nav-link" matRipple (click)="eventChange('0')">
                                    <mat-icon class="nav-link-icon">folder</mat-icon>
                                    <span class="title">{{ 'MYBOX.FILED' | translate }}</span>
                                </a>
                            </div>
                    
                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple  (click)="eventChange('1')">
                                    <mat-icon class="nav-link-icon" >folder_shared</mat-icon>
                                    <div class="title">{{ 'MYBOX.SHARE' | translate }}</div>
                                </a>
                            </div>
                    
                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple>
                                    <mat-icon class="nav-link-icon">access_time</mat-icon>
                                    <div class="title">Recent</div>
                                </a>
                            </div>
                    
                            <div class="nav-item" aria-label="starred">
                                <a class="nav-link" matRipple (click)="eventChange('2')">
                                    <mat-icon class="nav-link-icon">not_interested</mat-icon>
                                    <div class="title">{{ 'MYBOX.ACHIEVE' | translate }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>

                    <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                        <label for="search" class="mr-8">
                            <mat-icon>search</mat-icon>
                        </label>
                        <mat-form-field mat-no-float class="m-0" floatLabel="never" *ngIf="filter =='0'">
                            <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
                        </mat-form-field>
                        <mat-form-field mat-no-float class="m-0" floatLabel="never" *ngIf="filter =='1'">
                            <input matInput (keyup)='updateFilter1($event)' placeholder="Carian">
                        </mat-form-field>
                        <mat-form-field mat-no-float class="m-0" floatLabel="never" *ngIf="filter =='2'">
                            <input matInput (keyup)='updateFilter2($event)' placeholder="Carian">
                        </mat-form-field>
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
                     *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span style=" cursor: pointer;" (click)="clickBreadCrumbs(path.link)">{{path.path}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div>
                </div>
                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <form name="fileManagerForm" enctype="multipart/form-data" [formGroup]="fileManagerForm" id="fileManagerForm" novalidate *ngIf="filter=='0'">
                    <div class="file-uploader">
                        <input hidden id="file-upload" (change)="fileUploadChange($event)" #fileUpload type="file"/>
                        <button mat-fab
                                class="add-file-button mat-warn"
                                aria-label="Add file"
                                *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" [matMenuTriggerFor]="menu">
                            <mat-icon>add</mat-icon>
                        </button>
                        
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="fileUpload.click()">
                              <mat-icon>file_upload</mat-icon>
                              <span>{{ 'MYBOX.UPLOAD' | translate }}</span>
                            </button> 

                            <div mat-menu-item (click)= "stopPropagation($event)">
                                <button (click)="createFolder()">
                                    <mat-icon>library_add</mat-icon>
                                </button>
                                <input placeholder="{{ 'MYBOX.NEWFOLDER' | translate }}" formControlName="newFolder">
                            </div>
                          </mat-menu>
                    </div>
                </form>
                <!-- / ADD FILE BUTTON -->

            </div>
            <!-- / HEADER -->

            <div class="mat-accent-600-bg bar" *ngIf="hasSelectedFile" [@slideInTop]>
                <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="p-24 bar"> 
         
                    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.gt-sm="space-between center"> 
                    <div> 
                        <span class="selected-contacts-count"> 
                            <span class="mr-4">{{selectedFile.length}}</span> 
                            <span>selected</span> 
                        </span>                             
                    </div> 
                    
                    <div class="multi-select-actions"> 
                        <swal 
                        #approveSwal
                        title="Luluskan permohonan? " 
                        text="Tindakan ini tidak boleh diubah" 
                        type="warning" 
                        [showCancelButton]="true" 
                        cancelButtonClass="btn btn-danger" 
                        [focusCancel]="true" 
                        (confirm)="download()"> 
                    </swal> 
                    <button mat-raised-button [swal]="approveSwal"
                        aria-label="Toggle important" fxHide.xs> 
                       Downloads
                    </button>
                    </div> 
                    </div> 
         
                </div>  
            </div>

            <!-- CONTENT -->
            <div class="content mat-white-bg" fusePerfectScrollbar *ngIf="filter =='0'" >
                <fuse-file-list></fuse-file-list>
            </div>
            <div class="content mat-white-bg" fusePerfectScrollbar *ngIf="filter =='1'" >
                <fuse-share></fuse-share>
            </div>
            <div class="content mat-white-bg" fusePerfectScrollbar *ngIf="filter =='2'" >
                <fuse-achieve></fuse-achieve>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </mat-sidenav>
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>
