<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'AHLIPET.TITLE' | translate }}</span>
            </div>
            <div class="h1 mt-16">{{ 'AHLIPET.LIST' | translate }}</div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'AHLIPET.SEARCH' | translate }}">
            </mat-form-field>
        </div>

    </div>

    <!-- CONTENT -->
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable class="material " headerClass="cust-header" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="55" [footerHeight]="56" [rowHeight]="'auto'" [externalPaging]="true"
            [externalSorting]="true" [scrollbarH]="true" [reorderable]="reorderable" [selectionType]="'checkbox'"
            [limit]="page.size" [count]="page.totalElements" [offset]="page.pageNumber" (page)='setPage($event)' (sort)="onSort($event)">

            <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">

                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)">
                    </mat-checkbox>
                </ng-template>

                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                    </mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nama Ahli" prop="user.name"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="user.email"></ngx-datatable-column>
            <ngx-datatable-column name="No Phone" prop="user.phoneNo"></ngx-datatable-column>
            <ngx-datatable-column name="Agensi" prop="user.agensi.name">
                <ng-template let-row="row"
                ngx-datatable-cell-template>
                    <div *ngIf="row.user.agensi">
                        {{row.user.agensi.name}}
                    </div>
                    <div *ngIf="!row.user.agensi">
                        {{row.user.kementerian.name}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Peranan" prop="petAuthorities.id">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <select (change)="updateValue($event,row.id)" (click)="$event.stopPropagation()" [value]="value">
                        <option value="SECURITY-PET-ADMIN">Pentadbir Pet</option>
                        <option value="SECURITY-PET-USER">Ahli</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        &nbsp;
        &nbsp;
        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="warn" (click)="back()">
                {{ 'PET.BTN.BACK' | translate }}
            </button>
        </div>
    </div>

</div>