<h1 mat-dialog-title>{{ 'WALL.ENABLE' | translate | uppercase}}</h1>
<div mat-dialog-content>
  <p>{{ 'WALL.ACTIVE_STATEMENT' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmActive()">
                {{ 'WALL.ENABLE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'WALL.ABOUT.BACK' | translate | uppercase}}
        </button>

    </div>
  </div>
