<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
    <div fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">

            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">

                <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                        <mat-checkbox
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)">
                        </mat-checkbox>
                </ng-template>

                <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <mat-checkbox
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)">
                        </mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nama Ahli" prop="user.name" ></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="user.email" ></ngx-datatable-column>
            <ngx-datatable-column name="No Phone" prop="user.phoneNo" ></ngx-datatable-column>
            <ngx-datatable-column name="Agensi" prop="user.agensi.code" ></ngx-datatable-column>
    
            <ngx-datatable-column name="Peranan" prop="petAuthorities.id" >
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <!-- <span
                        title="Double click to edit"
                        (dblclick)="editing[rowIndex + '-peranan'] = true"
                        *ngIf="!editing[rowIndex + '-peranan']">
                        {{value}}
                    </span> -->
                    <select
                        *ngIf="row.status == 'Active'"
                        (change)="updateValue($event,row.id)"
                        (click)="$event.stopPropagation()"
                        [value]="value">
                        <option value="SECURITY-PET-ADMIN">Pentadbir Pet</option>
                        <option value="SECURITY-PET-USER">Ahli</option>
                    </select>
                    <span *ngIf="row.status == 'Inactive'">Disable</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tindakan"
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row = "row"
                    ngx-datatable-cell-template >
                    <a mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();" *ngIf="row.status == 'Inactive'">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </a>
                    
                <mat-menu #moreMenu="matMenu">
                    <a mat-menu-item aria-label="Padam" (click)="enable(row.id)">
                        <mat-icon>delete</mat-icon> 
                        <span>{{ 'WALL.ENABLE' | translate}}</span>
                    </a>
                </mat-menu>

                </ng-template>
            </ngx-datatable-column> 
                
            

        </ngx-datatable>
    </div>
</div>