<div id="contacts" class="page-layout simple fullwidth" fusePerfectScrollbar > 
 
    <!-- HEADER --> 
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
 
        <!-- APP TITLE --> 


        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start"> 
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center"> 
                <mat-icon class="secondary-text s-16">home</mat-icon> 
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon> 
                <span class="secondary-text">{{'MELULUS.TITLE' | translate}}</span> 
            </div> 
            <div class="h2 mt-16">{{'MELULUS.TITLE' | translate}}</div> 
        </div> 
       
        <!-- / APP TITLE --> 
 
        <!-- SEARCH --> 
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center"> 
            <label for="search" class="mr-8"> 
                <mat-icon>search</mat-icon> 
            </label> 
            <mat-form-field mat-no-float class="m-0" floatLabel="never"> 
                <input matInput (keyup)='updateFilter($event)' placeholder="{{'MELULUS.SEARCH' | translate}}"> 
            </mat-form-field> 
        </div> 
        <!-- / SEARCH --> 
 
    </div> 
    <!-- / HEADER --> 
 
    <!-- SELECTED BAR --> 

    <div class="mat-accent-600-bg bar" *ngIf="hasSelectedContacts" [@slideInTop]>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="p-24 bar"> 
 
            <!-- <div class="close-button-wrapper" fxFlex="0 1 auto" fxFlex.gt-sm="220px" (click)="deselect()"> 
                <button class="p-8" mat-button fxLayout="row" fxLayoutAlign="start center"> 
                    <mat-icon class="mr-8">arrow_back</mat-icon> 
                    <span class="text-uppercase">Back</span> 
                </button> 
            </div>  -->
 
            <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.gt-sm="space-between center"> 
            <div> 
                <span class="selected-contacts-count"> 
                    <span class="mr-4">{{selectedContacts.length}}</span> 
                    <span>selected</span> 
                </span> 
    
                
                
                
    
            </div> 
            
            <div class="multi-select-actions"> 
                <swal 
                #approveSwal
                title="Luluskan permohonan? " 
                text="Tindakan ini tidak boleh diubah" 
                type="warning" 
                [showCancelButton]="true" 
                cancelButtonClass="btn btn-danger" 
                [focusCancel]="true" 
                (confirm)="approveSelectedUser()"> 
            </swal> 
            <button mat-raised-button [swal]="approveSwal"
                 aria-label="Toggle important" fxHide.xs> 
                 {{'MELULUS.APPROVE.APPROVE' | translate}}
            </button> 

            <swal 
                #rejectSwal 
                title="Tolak permohonan? " 
                text="Tindakan ini tidak boleh diubah" 
                type="warning" 
                [showCancelButton]="true" 
                cancelButtonClass="btn btn-danger" 
                [focusCancel]="true" 
                (confirm)="rejectSelectedUser()"> 
            </swal> 
            <button 
                mat-raised-button [swal]="rejectSwal" 
                color="warn" aria-label="Toggle star"  
                fxHide.xs> 
                {{'MELULUS.REJECT.REJECT' | translate}} 
            </button> 
            </div> 
            </div> 
 
        </div>  
    </div>
    
    <!-- / SELECTED BAR --> 
 
    <mat-sidenav-container fxLayout="column"> 
 
        <!-- SIDENAV --> 
        <mat-sidenav class="sidenav" position="start" opened="true" mode="side" 
                     fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm"> 
 
            <!--<fuse-contacts-main-sidenav *fuseIfOnDom [@animate]="{value:'*'}"></fuse-contacts-main-sidenav> -->
            <div class="sidenav-content"> 
 
                <div class="card mat-white-bg"> 
                    <!-- SIDENAV HEADER --> 
                    <!-- / SIDENAV HEADER --> 
             
                    <!-- SIDENAV CONTENT --> 
                    <div class="content py-16"> 
             
                        <div class="nav" > 
             
                            <div class="nav-item"> 
                                <a class="nav-link" matRipple (click)="updateFilter2('0')" [ngClass]="{'active':filterBy ==='0'}" > 
                                    <span class="title">New Request</span> 
                                </a> 
                            </div> 
             
                            <div class="nav-item"  (click)="updateFilter2('1')" > 
                                <a class="nav-link" matRipple [ngClass]="{'active':filterBy ==='1'}"> 
                                    <div class="title">Approval </div> 
                                </a> 
                            </div> 
             
                            <div class="nav-item" (click)="updateFilter2('2')" > 
                                <a class="nav-link" matRipple [ngClass]="{'active':filterBy ==='2'}"> 
                                    <div class="title">Rejected</div> 
                                </a> 
                            </div> 
                        </div> 
             
                    </div> 
                </div> 
            </div> 
 <!---->
        </mat-sidenav> 
        <!-- / SIDENAV --> 
 
        <!-- CENTER --> 
        
 
            <!-- CONTENT --> 
            <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
                    <!-- CONTENT -->
                    <div id="senarai" class="" >
            <!-- <div class="center p-8" fxFlex fusePerfectScrollbar> -->
                    <!-- <div class="content mat-white-bg mat-elevation-z4" > -->
                            <fuse-pemohon-pemohon-list ></fuse-pemohon-pemohon-list>
                    <!-- </div> -->
                    </div>
            </div>
           
            
            <!-- / CONTENT --> 
            
        <!-- / CENTER --> 
 
    </mat-sidenav-container> 
 
</div> 