<div id="mail-confirm" fxLayout="column" fusePerfectScrollbar>

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="blue-fg s-96">email</mat-icon>
            </div>

            <div class="title">{{ 'MAIL.THANK' | translate}}</div>

            <div class="subtitle">
                <p>
                    {{ 'MAIL.CONFIRM' | translate}}<b>{{email}}</b>.
                </p>
                <p>
                    {{ 'MAIL.INBOX' | translate}}
                </p>
            </div>

            <div class="message">
                <a class="link" [routerLink]="'/login'">{{ 'MAIL.BACK' | translate}}</a>
            </div>

        </div>

    </div>

</div>
