<div id="senaraiPet" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidenav-toggle mr-12"
                    fuseMatSidenavToggler="contacts-main-sidenav"
                    fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1">{{ 'PET.LISTAPP' | translate }}</span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PET.SEARCH' | translate }}">
            </mat-form-field>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
        fuseMatSidenavHelper="contacts-main-sidenav" mat-is-locked-open="gt-sm">
                     
            <div  *fuseIfOnDom [@animate]="{value:'*'}">
                <div id="sideBarPet" class="sidenav-content">
                    <div class="card mat-white-bg">
                        <!-- SIDENAV CONTENT -->
                        <div class="content py-16" fusePerfectScrollbar>

                            <div class="nav">
                                <div class="nav-item">
                                    <a class="nav-link" matRipple (click)="changeFilter('semua')" [ngClass]="{'active':filter ==='semua'}">
                                        <span class="title">{{ 'PET.ALLPET' | translate }}</span>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('project')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='project'}">
                                        <div class="title">Projects</div>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('event')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='event'}">
                                        <div class="title">Events</div>
                                    </a>
                                </div>

                                <div class="nav-item" (click)="changeFilter('team')">
                                    <a class="nav-link" matRipple [ngClass]="{'active':filter ==='team'}">
                                        <div class="title">Teams</div>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div> 
            </div>

                     <!-- / SIDENAV CONTENT -->

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        
        <div class="page-layout blank p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div id="senarai" class="">
                <!-- CONTENT -->
                <ngx-datatable 
                    class="material " 
                    headerClass="cust-header" 
                    [rows]="rows" 
                    [loadingIndicator]="loadingIndicator" 
                    [columnMode]="'force'" 
                    [headerHeight]="55" 
                    [footerHeight]="56" 
                    [rowHeight]="'auto'" 
                    [externalPaging]="true" 
                    [externalSorting]="true" 
                    [scrollbarH]="true" 
                    [reorderable]="reorderable" 
                    [selectionType]="'checkbox'" 
                    [limit]="page.size" 
                    [count]="page.totalElements" 
                    [offset]="page.pageNumber" 
                    (page)='setPage($event)' 
                    [scrollbarH]="true"
                    (sort)="onSort($event)"> 
                
                    <ngx-datatable-column 
                        [width]="48" 
                        [canAutoResize]="false" 
                        [sortable]="false"> 
 
                        <ng-template  
                            let-row="row"
                            ngx-datatable-cell-template  
                            let-value="value"  
                            let-isSelected="isSelected" 
                            let-onCheckboxChangeFn="onCheckboxChangeFn"> 

                        </ng-template> 
                    </ngx-datatable-column> 

                    <ngx-datatable-column name="Nama Pemohon" prop="pemohon.name"></ngx-datatable-column> 
                    <ngx-datatable-column name="Nama PET" prop="nama" ></ngx-datatable-column>
                    <ngx-datatable-column name="Nama Singkatan" prop="namaSingkatan" ></ngx-datatable-column> 
                    <ngx-datatable-column name="Jenis" prop="jenis"></ngx-datatable-column> 
                    
                    <ngx-datatable-column name="Tindakan"
                    [canAutoResize]="false"
                    [sortable]="false">
                    <ng-template let-row="row"
                        ngx-datatable-cell-template >
                        <swal
                            #approveSwal
                            title="Luluskan permohonan? "
                            text="Tindakan ini tidak boleh diubah"
                            type="warning"
                            [showCancelButton]="true"
                            cancelButtonClass="btn btn-danger"
                            [focusCancel]="true"
                            (confirm)="approvalId(row.id)">
                        </swal>

                        <div>
                            <button *ngIf="row.status == '0'" mat-icon-button 
                            [swal]="approveSwal">
                                <mat-icon class="green-fg" >check_circle</mat-icon>
                            </button>
    
                            <button *ngIf="row.status == '0'" mat-icon-button
                                (click)="rejectDialog(row.id)">
                                <mat-icon class="red-fg" >cancel</mat-icon>
                            </button>
                        </div>
                       

                        <mat-chip-list>
                            <mat-chip class="mat-green-600-bg " color="green" selected="true"*ngIf="row.status == '1'">
                                Approved
                            </mat-chip>
                            <mat-chip class="mat-red-A700-bg" color="warn" selected="true"*ngIf="row.status == '2'">
                                Rejected
                            </mat-chip>
                        </mat-chip-list>
                               
                    </ng-template>
                </ngx-datatable-column> 
      
                </ngx-datatable> 
            <!-- / CONTENT -->
            </div>
        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
