 <div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                <div class="title">{{ 'PROFILE_KEMENTERIAN.TITLE' | translate}}</div>
                <button class="info side-title" *ngIf="rolesAdmin" mat-raised-button (click)="editForm()">
                    {{ 'PROFILE_KEMENTERIAN.EDIT' | translate}}
                </button>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.NAME' | translate}}</div>
                    <div class="info">{{name}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.CODE' | translate}}</div>
                    <div class="info">{{namaSingkatan}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.TEL' | translate}}</div>
                    <span class="info">{{phoneNo}}</span>   
                </div>

               
                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.ADDRESS' | translate}}</div>
                    <div class="info">{{address}}</div>
                    <div class="info">{{poskod}} {{city}}</div>
                    <div class="info">{{state}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.KEMENTERIAN' | translate}}</div>
                    <span class="info">{{kementerian}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'PROFILE_KEMENTERIAN.URL' | translate}}</div>
                    <span class="info">{{url}}</span>
                </div>
            </div>  
        </div>
    </div>
</div> 
