<div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->
        <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

            <div class="h2 mb-24">{{ 'USER.EDIT.ROLE.ROLE' | translate }}</div>


            <div fxLayout="row" fxLayoutAlign="center none" fxFlex="1 0 auto">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="10">
                    &nbsp;
                    &nbsp;
                    <mat-checkbox #PENGGUNA disabled>{{ 'USER.EDIT.ROLE.USER' | translate }}</mat-checkbox>
                    <mat-checkbox #PENTADBIR_AGENSI >{{ 'USER.EDIT.ROLE.AGEADMIN' | translate }}</mat-checkbox>
                    <mat-checkbox #PENTADBIR_SISTEM >{{ 'USER.EDIT.ROLE.SYSADMIN' | translate }}</mat-checkbox>
                    &nbsp;
                    &nbsp;
                </div>
            </div>


            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="submit-button" (click)="hantar()">
                    {{ 'USER.EDIT.BTN.SUBMIT' | translate | uppercase}}
                </button>
                &#160;&#160;
                <button type="reset" mat-raised-button color="warn" (click)="backButton()">
                    {{ 'USER.EDIT.BTN.BACK' | translate | uppercase}}
                </button>
            </div>
        </div>

    </div>
</div>