<h1 mat-dialog-title>Muat Naik Fail Dari MyBox</h1>
<div mat-dialog-content>

    <div id="content-atas" style="display: block;">
        <mat-table #table [dataSource]="myboxLs" *fuseIfOnDom [@animateStagger]="{value:'50'}">
            <!-- Type Column -->
            <ng-container cdkColumnDef="icon">
                    <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxFlex="64px" (dblclick)="func2(row.id)">
                        <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
                    </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container cdkColumnDef="filename">
                <mat-header-cell *cdkHeaderCellDef>FILENAME</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" (dblclick)="func2(row.id)"> 
                        {{row.filename}}
                    </mat-cell>
            </ng-container>

            <!-- Size Column -->
            <ng-container cdkColumnDef="fileSize">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>SIZE</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxHide.xs>{{formatNumber2Decimal(row.fileSize)}} MB</mat-cell>
            </ng-container>

            <!-- Button Upload -->
            <ng-container matColumnDef="customColumn1">
                <mat-header-cell *cdkHeaderCellDef fxHide.xs>ACTION</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button (click)="submitTambahFile(row.instanceid, row.filename)" *ngIf="row.type == 'document'" mat-menu-item>
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                        matRipple
                        [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
        </mat-table>
    </div>        

    <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row">
        <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt.md="row" name="uploadmForm" enctype="multipart/form-data" [formGroup]="uploadmForm" id="uploadmForm" novalidate (ngSubmit)="upload()">

            <!-- MYBOX -->
            <div id="mybox" style="display: none;">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.TAJUK' | translate }}" formControlName="tajuk">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.PERISTIWA' | translate }}" formControlName="peristiwa">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="50">
                        <input readonly="" matInput [matDatepicker]="picker3" placeholder="{{ 'WALL.WALLATTACH.TARIKH' | translate }}" formControlName="tarikhPeristiwa">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="{{ 'WALL.WALLATTACH.KETERANGANPERISTIWA' | translate }}" formControlName="keterangan"></textarea>
                    </mat-form-field>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="{{ 'WALL.WALLATTACH.LOKASI' | translate }}" formControlName="lokasi">
                    </mat-form-field>
        
                    <mat-form-field fxFlex="50">
                        <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
                        <input type="text" placeholder="{{ 'WALL.WALLATTACH.TAKS' | translate }}"  #taks (selectionChange)="setTaksonomi(taks.value)" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
                        <mat-hint class="cust-error" *ngIf="errTaxNull">{{ 'WALL.WALLATTACH.TAKSNULL' | translate }}</mat-hint>                            
                        <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option #taks (onSelectionChange)="setTaksonomi(taksonomi.id)" *ngFor="let taksonomi of myTaks" [value]="taksonomi.keterangan">
                                
                                <h4 *ngIf="taksonomi.level != '1'">{{taksonomi.baseTax.keterangan}}</h4>
                                <h3>{{taksonomi.keterangan}}</h3>
                                <!-- <p *ngIf="taksonomi.level != '1'">{{taksonomi.baseTax.keterangan}}</p> -->
                                <!-- <p>{{taksonomi.id}}</p> -->
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div mat-dialog-actions>
                        <button mat-raised-button mat-dialog-close color = "primary">{{ 'WALL.WALLATTACH.KEMBALI' | translate }}</button>
                        <button mat-raised-button mat-dialog-submit color = "accent">{{ 'WALL.WALLATTACH.SIMPAN' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
