@import "src/@fuse/scss/fuse";

.mat-option {
    word-wrap: break-word; 
    height: auto;
    line-height: unset;
    white-space: initial;
    
    h4 {
        color: #8d8d8d;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
    }
}

#content-atas {

    mat-sidenav-container {

        .sidenav {
            width: 320px !important;
            min-width: 320px !important;
            max-width: 320px !important;

            &.right-sidenav {
                @include media-breakpoint('gt-md') {
                    z-index: 0;
                }
            }
        }

        > .mat-sidenav-content,
        > .mat-drawer-content {
            z-index: 1;

            .center {

                .header {
                    position: relative;
                    height: 160px;
                    min-height: 160px;
                    max-height: 160px;

                    @include media-breakpoint-down('sm') {
                        height: 120px;
                        min-height: 120px;
                        max-height: 120px;
                    }

                    .add-file-button {
                        position: absolute;
                        bottom: -28px;
                        left: 16px;
                        z-index: 999;
                    }
                }               
            }
        }
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }

        &.document {
            &:before {
                content: 'insert_drive_file';
                color: #1565C0;
            }
        }

        &.spreadsheet {
            &:before {
                content: 'insert_chart';
                color: #4CAF50;
            }
        }
    }

    .bar{
        flex: 1; 
        position: absolute; 
        top: 0; 
        right: 0; 
        left: 0; 
        height: 120px; 
        z-index: 99; 
    }
    
}