<div id="timeline" class="page-layout simple right-sidenav inner-sidenav p-24" fxLayout="row wrap">

    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65">

        <div class="profile-box add-post">

            <form name="postForm" [formGroup]="postForm" novalidate fxFlex>

                <textarea formControlName="post" placeholder="{{ 'WALL.CREATEPOST' | translate }}"></textarea>

                <mat-chip color="primary" selected *ngIf="wa">{{namaFail}}</mat-chip>

                <footer fxLayout="row" fxLayoutAlign="space-between center">

                    <mat-form-field class="w-100-p">

                        <mat-chip-list #tagListing name="tagInput" formControlName="tagInput">

                            <mat-chip *ngFor="let tag of tagList" [removable]="true" (removed)="removeTag(tag)">

                                {{tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>

                            <input placeholder="Hashtag" [matChipInputFor]="tagListing" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)"
                            />

                        </mat-chip-list>

                    </mat-form-field>

                    &nbsp;
                    <mat-checkbox #private>{{ 'WALL.PRIVATE' | translate }}</mat-checkbox>

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <button mat-icon-button aria-label="Add Attachment PC" matTooltip="Add Attachment PC" (click)="formUpload()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Add Attachment MyBox" matTooltip="Add Attachment MyBox" (click)="myBoxUpload()">
                            <mat-icon>insert_drive_file</mat-icon>
                        </button>


                    </div>

                    <button mat-raised-button color="accent" aria-label="SUBMIT" (click)="onPostEvent()" [disabled]="postForm.invalid">{{ 'WALL.POST' | translate }}</button>

                </footer>

            </form>

        </div>

        <mat-divider></mat-divider>


        <div class="timeline-item" *ngFor="let post of timeline">

            <header fxLayout="row" fxLayoutAlign="space-between start">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img *ngIf="post.wallKandungan.createdby.image" class="avatar" src="data:image/JPEG;base64,{{post.wallKandungan.createdby.image}}">
                    <img *ngIf="!post.wallKandungan.createdby.image" class="avatar" src="assets/images/avatars/profile.jpg">

                    <div fxLayout="column">
                        <div class="title" fxLayoutAlign=" center">
                            <span class="username">{{post.wallKandungan.createdby.name}}</span>
                            <span *ngIf="post.wallKandungan.category === 'PET'">
                                <mat-icon>chevron_right</mat-icon>
                            </span>
                            <span *ngIf="post.wallKandungan.category === 'PET'" class="username">{{post.wallKandungan.petname}}</span>
                        </div>
                        <div class="time">
                            <b>{{post.wallKandungan.createddate | date : 'dd/MM/yyyy'}}</b>
                            {{post.wallKandungan.createddate | date : 'hh:mm:ss a'}}
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="end center">
                    <span *ngIf="post.wallKandungan.category === 'BAHAGIAN'">
                        <mat-icon class="time">account_balance</mat-icon>
                    </span>
                    <span *ngIf="post.wallKandungan.category === 'PRIVATE'">
                        <mat-icon class="time">person</mat-icon>
                    </span>
                    <span *ngIf="post.wallKandungan.category === 'PET'">
                        <mat-icon class="time">event</mat-icon>
                    </span>

                    <button *ngIf="post.wallKandungan.createdby.id === user.id" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon>more_vert</mat-icon>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="Kemaskini" (click)="editPost(post.wallKandungan.id)">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                            </button>
                            <button mat-menu-item aria-label="Padam" (click)="deletePost(post.wallKandungan.id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                            </button>
                        </mat-menu>
                    </button>

                </div>


            </header>

            <div class="content">
                <div class="message">
                    {{post.wallKandungan.keterangan}}
                </div>

                <!-- <div *ngIf="post.wallAttachment != null" _ngcontent-c63="" class ="media ng-tns-c63-76 ng-star-inserted">
                    {{post.wallAttachment.filename}}
                    <button mat-button (click)="downloadFile(post.wallAttachment.instanceid)">
                        <mat-icon>cloud_download</mat-icon>
                    </button> 
                </div> -->

                <div *ngIf="post.wallAttachment != null" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                    <div *ngIf="post.wallAttachment.typeSplit == 'image'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <img _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:image/JPEG;base64,{{post.wallAttachment.content}}">
                    </div>
                    <div *ngIf="post.wallAttachment.typeSplit == 'video'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <video controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:video/mp4;base64,{{post.wallAttachment.content}}"></video>
                    </div>
                    <div *ngIf="post.wallAttachment.typeSplit == 'audio'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <audio controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:audio/mp3;base64,{{post.wallAttachment.content}}"></audio>
                    </div>
                    <div *ngIf="post.wallAttachment.typeSplit != 'audio' && post.wallAttachment.typeSplit != 'video' && post.wallAttachment.typeSplit != 'image'"
                        _ngcontent-c63="" class="excerpt">
                        <a (click)="streamFile(post.wallAttachment)">
                            {{post.wallAttachment.filename}}
                        </a>
                        <button mat-button (click)="streamFile(post.wallAttachment)">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="post.petAttachment != null" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                    <div *ngIf="post.petAttachment.typeSplit == 'image'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <img _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:image/JPEG;base64,{{post.petAttachment.content}}">
                    </div>
                    <div *ngIf="post.petAttachment.typeSplit == 'video'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <video controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:video/mp4;base64,{{post.petAttachment.content}}"></video>
                    </div>
                    <div *ngIf="post.petAttachment.typeSplit == 'audio'" _ngcontent-c56="" class="media ng-tns-c56-50 ng-star-inserted">
                        <audio controls='true' _ngcontent-c56="" class="ng-tns-c56-50 ng-star-inserted" src="data:audio/mp3;base64,{{post.petAttachment.content}}"></audio>
                    </div>
                    <div *ngIf="post.petAttachment.typeSplit != 'audio' && post.petAttachment.typeSplit != 'video' && post.petAttachment.typeSplit != 'image'"
                        _ngcontent-c63="" class="excerpt">
                        <a (click)="streamFile(post.petAttachment)">
                            {{post.petAttachment.filename}} (Version {{post.petAttachment.version}})
                        </a>
                        <button mat-button (click)="streamFile(post.petAttachment)">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-form-field class="w-100-p">
                    <mat-chip-list #hashtags name="postHashtag">
                        &nbsp;
                        <mat-chip *ngFor="let hashtag of post.wallKandungan.hashtagLs">

                            {{hashtag.nama}}
                        </mat-chip>

                        <input [matChipInputFor]="hashtags" [matChipInputAddOnBlur]="true" disabled />

                    </mat-chip-list>
                </mat-form-field>
            </div>

            <footer fxLayout="column" fxLayoutAlign="space-between none">


                <div (click)="toggleComment(post.wallKandungan.id)" class="comment-count" fxLayout="row" fxLayoutAlign="start center" *ngIf="post.wallKandungan.wallKomenLs.length > 3">

                    {{post.wallKandungan.wallKomenLs.length}} {{ 'WALL.KOMEN' | translate }}
                    <mat-icon id="icon-arrow1-{{post.wallKandungan.id}}" style="display: none;">keyboard_arrow_down</mat-icon>
                    <mat-icon id="icon-arrow2-{{post.wallKandungan.id}}" style="display: block;">keyboard_arrow_right</mat-icon>
                </div>
                <div id="komen-{{post.wallKandungan.id}}" style="display: none;" *ngIf="post.wallKandungan.wallKomenLs.length > 3">

                    <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.wallKandungan.wallKomenLs">
                        <img *ngIf="comment.createdby.image" class="avatar" src="data:image/JPEG;base64,{{comment.createdby.image}}">
                        <img *ngIf="!comment.createdby.image" class="avatar" src="assets/images/avatars/profile.jpg">


                        <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span class="username">{{comment.createdby.name}}</span>
                                <span class="time">
                                    <b>{{comment.createddate | date : 'dd/MM/yyyy'}}</b>
                                    {{comment.createddate | date : 'hh:mm:ss a'}}
                                </span>
                            </div>
                            <div class="message">
                                {{comment.keterangan}}
                            </div>
                        </div>
                        <button *ngIf="comment.createdby.id === user.id" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon>more_vert</mat-icon>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="Kemaskini" (click)="editComment(comment.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                                </button>
                                <button mat-menu-item aria-label="Padam" (click)="deleteComment(comment.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                                </button>
                            </mat-menu>
                        </button>
                    </div>
                </div>

                <div id="preview-{{post.wallKandungan.id}}" style="display: block;" *ngIf="post.wallKandungan.wallKomenLs.length >= 3">

                    <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.wallKandungan.wallKomenLs | slice:post.wallKandungan.wallKomenLs.length-3:post.wallKandungan.wallKomenLs.length; let i = index">
                        <img *ngIf="comment.createdby.image" class="avatar" src="data:image/JPEG;base64,{{comment.createdby.image}}">
                        <img *ngIf="!comment.createdby.image" class="avatar" src="assets/images/avatars/profile.jpg">


                        <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span class="username">{{comment.createdby.name}}</span>
                                <span class="time">
                                    <b>{{comment.createddate | date : 'dd/MM/yyyy'}}</b>
                                    {{comment.createddate | date : 'hh:mm:ss a'}}
                                </span>
                            </div>
                            <div class="message">
                                {{comment.keterangan}}
                            </div>
                        </div>
                        <button *ngIf="comment.createdby.id === user.id" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon>more_vert</mat-icon>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="Kemaskini" (click)="editComment(comment.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                                </button>
                                <button mat-menu-item aria-label="Padam" (click)="deleteComment(comment.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                                </button>
                            </mat-menu>
                        </button>
                    </div>

                </div>
                <div id="preview-{{post.wallKandungan.id}}" style="display: block;" *ngIf="post.wallKandungan.wallKomenLs.length < 3">

                    <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.wallKandungan.wallKomenLs">
                        <img *ngIf="comment.createdby.image" class="avatar" src="data:image/JPEG;base64,{{comment.createdby.image}}">
                        <img *ngIf="!comment.createdby.image" class="avatar" src="assets/images/avatars/profile.jpg">


                        <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span class="username">{{comment.createdby.name}}</span>
                                <span class="time">
                                    <b>{{comment.createddate | date : 'dd/MM/yyyy'}}</b>
                                    {{comment.createddate | date : 'hh:mm:ss a'}}
                                </span>
                            </div>
                            <div class="message">
                                {{comment.keterangan}}
                            </div>
                        </div>
                        <button *ngIf="comment.createdby.id === user.id" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon>more_vert</mat-icon>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="Kemaskini" (click)="editComment(comment.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{ 'WALL.EDIT.EDIT' | translate }}</span>
                                </button>
                                <button mat-menu-item aria-label="Padam" (click)="deleteComment(comment.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{ 'WALL.DELETE.DELETE' | translate }}</span>
                                </button>
                            </mat-menu>
                        </button>
                    </div>

                </div>



                <div class="reply" fxLayout="row" fxFlexFill>
                    <img *ngIf="user.image" class="avatar" src="data:image/JPEG;base64,{{user.image}}">
                    <img *ngIf="!user.image" class="avatar" src="assets/images/avatars/profile.jpg">


                    <form fxFlex>
                        <textarea id="{{post.wallKandungan.id}}" placeholder="{{ 'WALL.CREATEKOMEN' | translate }}"></textarea>
                        <button (click)="onCommentEvent(post)" mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment">
                            {{ 'WALL.POST' | translate }}
                        </button>
                    </form>
                </div>
            </footer>
        </div>
    </div>

    <!-- CALENDAR COMING EVENTS -->
    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">
                    <mat-icon class="mat-icon material-icons">event</mat-icon>  Aktiviti Akan Datang</div>
            </header>

            <div class="content" fxLayout="row wrap" *ngFor="let event of kalendarEvents" style="padding-top: 1px; padding-bottom: 1px;">
                <div class="activities">
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start">
                        <!-- <img [src]="activity.user.avatar" class="avatar" alt="{{activity.user.name}}"/> -->
                        <mat-icon class="mat-icon material-icons">event</mat-icon>
                        <div fxLayout="column">
                            
                            <span class="message">{{ event.title }}</span>
                            <div *ngIf="event.allDay">
                                <span class="time secondary-text">Tarikh: {{ event.start | date : "dd/MM/y" }}</span>
                                <span class="time secondary-text"> sehingga {{ event.end | date : "dd/MM/y" }}</span>
                            </div>
                            <div *ngIf="!event.allDay">
                                <span class="time secondary-text">Tarikh: {{ event.start | date : "dd/MM/y hh:mm a" }}</span>
                                <span class="time secondary-text"> sehingga {{ event.end | date : "dd/MM/y hh:mm a" }}</span>
                            </div>
                            
                            <span class="time secondary-text">Location: {{ event.location }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PENGUMUMAN COMING EVENTS -->
        <div class="profile-box latest-activity" fxLayout="column">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">
                    <mat-icon class="mat-icon material-icons">announcement</mat-icon> Pengumuman</div>
            </header>
            &nbsp;&nbsp;
            <div class="content" *ngFor="let list of pengumumanLs" fxLayout="row wrap" style="padding-top: 1px; padding-bottom: 1px;">
                <div class="pengumumans" fusePerfectScrollbar>
                    <div class="pengumuman" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon class="mat-icon material-icons">announcement</mat-icon>
                        <div fxLayout="column">
                            
                            <span><b>{{list.title}}</b></span>

                            <span>{{list.content}}</span>
                            
                            <h6 style="color: blue; margin-top: -1px">{{list.createddate | date : 'dd/MM/yyyy'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>