.mat-option {
    word-wrap: break-word; 
    height: auto;
    line-height: unset;
    white-space: initial;
    
    h4 {
        color: #8d8d8d;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
    }
}