
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PET.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PET.NEW' | translate }}</span>

            </div>
            <div class="h2 mt-16">{{ 'PET.NEW' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="petForm" [formGroup]="petForm" novalidate (ngSubmit)="hantar()">

                  <div class="h2 mb-24">{{ 'PET.DETAILS' | translate }}</div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="100">

                        <input matInput placeholder="{{ 'PET.NAMA' | translate }}" formControlName="nama"required>
                        <mat-error *ngIf="petFormErrors.nama.required">
                            Name is required!
                        </mat-error>
                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                      <mat-form-field fxFlex="50">

                        <input matInput placeholder="{{ 'PET.NAMASINGKATAN' | translate }}" formControlName="namaSingkatan"required>
                        <mat-error *ngIf="petFormErrors.namaSingkatan.required">
                            Name is required!
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field fxFlex="50">

                        <mat-select placeholder="{{ 'PET.JENIS' | translate }}" formControlName="jenis"required>
                            <mat-option value="Project">
                                Project
                            </mat-option>
                            <mat-option value="Event">
                                Event
                            </mat-option>
                            <mat-option value="Team">
                                Team
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="petFormErrors.jenis.required">
                            Type is required!
                        </mat-error>

                      </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40">  
                            
                        <mat-select #kementerian (selectionChange)="setKementerian(kementerian.value)" placeholder="{{ 'PET.KEMENTERIAN' | translate }}" formControlName="kementerian">
                            <mat-option *ngFor="let kementerian of kementerianLs" [value]="kementerian.id">
                                {{kementerian.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="petFormErrors.kementerian.required">
                            Kementerian is required!
                        </mat-error>
                              
                        </mat-form-field>

                        <mat-form-field fxFlex="30">
                            <mat-select #agensi (selectionChange)="setAgensi(agensi.value)" placeholder="{{ 'PET.AGENSI' | translate }}" formControlName="agensi">
                                <mat-option *ngFor="let agensi of agensiLs" [value]="agensi.id">
                                    {{agensi.name}}
                                </mat-option> 
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field fxFlex="30">
                            <mat-select #bahagian (selectionChange)="setBahagian(bahagian.value)" placeholder="{{ 'PET.BAHAGIAN' | translate }}" formControlName="bahagian">
                                <mat-option *ngFor="let bahagian of bahagianLs" [value]="bahagian.id">
                                    {{bahagian.name}}
                                 </mat-option>
                            </mat-select>

                        </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">

                        <textarea matInput placeholder="{{ 'PET.KETERANGAN' | translate }}" formControlName="keterangan"required></textarea>

                    </mat-form-field>
                    <mat-error *ngIf="petFormErrors.keterangan.required">
                        Keterangan is required!
                    </mat-error>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="{{ 'PET.TUJUAN' | translate }}" formControlName="tujuan"required></textarea>

                        <mat-error *ngIf="petFormErrors.tujuan.required">
                            Tujuan is required!
                        </mat-error>
                    </mat-form-field>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">

                      <div fxFlex="20">

                          <a class="mat-cyan-700-bg" mat-raised-button color ="cyan" (click)="openPopAhli()">{{ 'PET.BTN.TAMBAHAHLI' | translate }}</a>

                      </div>

                  </div>

                  &#160;&#160;

                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="100" fusePerfectScrollbar>

                                <ngx-datatable
                                    class="material "
                                    headerClass="cust-header"
                                    [rows]="rows"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="55"
                                    [footerHeight]="56"
                                    [rowHeight]="'auto'"
                                    [externalPaging]="true"
                                    [externalSorting]="true"
                                    [scrollbarH]="true"
                                    [reorderable]="reorderable"
                                    [selectionType]="'checkbox'"
                                    [limit]="page.size"
                                    [count]="page.totalElements"
                                    [offset]="page.pageNumber"
                                    (page)='setPage($event)'
                                    (sort)="onSort($event)">
                  
                                    <ngx-datatable-column
                                        [width]="48"
                                        [canAutoResize]="false"
                                        [sortable]="false">
                    
                                    </ngx-datatable-column>
                    
                                    <ngx-datatable-column name="Nama" prop="name" ></ngx-datatable-column>
                                
                                    <ngx-datatable-column name="Agensi" prop="agensi.name">
                                        <ng-template let-row="row"
                                        ngx-datatable-cell-template>
                                            <div *ngIf="row.agensi">
                                                {{row.agensi.name}}
                                            </div>
                                            <div *ngIf="!row.agensi">
                                                {{row.kementerian.name}}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                               
                                    <ngx-datatable-column name="Tindakan"
                                        [canAutoResize]="false"
                                        [sortable]="false">
                                        <ng-template let-row = "row"
                                            ngx-datatable-cell-template >
                                            <a mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();">
                                                <mat-icon class="secondary-text">more_vert</mat-icon>
                                            </a>
        
                                        <mat-menu #moreMenu="matMenu">
                                            <a mat-menu-item aria-label="Padam" (click)="deleteAP(i)">
                                                <mat-icon>delete</mat-icon> 
                                                <span>delete</span>
                                            </a>
                                        </mat-menu>
        
                                        </ng-template>
                                    </ngx-datatable-column> 
                                </ngx-datatable>
    
                            </div>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="center">
                      <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" type="submit"
                      [disabled]="petForm.invalid">
                            {{ 'PET.BTN.SUBMIT' | translate }}
                      </button>
                      &#160;&#160;
                      <button mat-raised-button color="warn" (click)="redirectPetPage()" >
                            {{ 'PET.BTN.BACK' | translate }}
                      </button>
                  </div>

            </form>


        </div>
    </div>


</div>
