<div id="reset-password" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/jataNegara.svg">
        </div>

        <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to MyDiWorks!
        </div>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>

    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">{{ 'RESETPWD.RESET' | translate | uppercase}}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="res()">

                <!-- <mat-form-field>
                    <input matInput placeholder="Emel" formControlName="email">
                    <mat-error *ngIf="resetPasswordFormErrors.email.required">
                        Emel diperlukan
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordFormErrors.email.required && resetPasswordFormErrors.email.email">
                        Sila masukkan alamat emel yang sah
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Kata Laluan" formControlName="password">
                    <mat-error *ngIf="resetPasswordFormErrors.password.required">
                        Kata laluan diperlukan
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Kata Laluan (Pengesahan)" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.required">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordFormErrors.passwordConfirm.passwordsNotMatch">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                        {{ 'RESETPWD.BTN.RESET' | translate | uppercase}}
                </button> -->
                <mat-form-field>
                        <input matInput type="password" placeholder="{{ 'RESETPWD.PLACEHOLDER' | translate }}" formControlName="password">  
                            <mat-error *ngIf="resetPasswordFormErrors.password.required">
                            {{ 'RESET.WRONG' | translate }}
                            </mat-error>
                            <mat-error *ngIf="resetPasswordFormErrors.password.password">
                                Passwords weak
                            </mat-error>
                        </mat-form-field>
    
                        <span class="m-form__help">
                            Kata laluan mesti mempunyai sekurang-kurangnya
                            <code>12 aksara</code>
                         dan mengandungi seperti berikut: Sekurang-kurangnya
                         <code>satu nombor</code>
                          dan
                         <code>satu simbol</code>
                         . Simbol yang dibenarkan adalah
                         <code>[@ % + ! # $ ^ ? / ~]</code>
                        </span>
    
                    <button mat-raised-button class="submit-button" color="accent"
                            aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                            {{ 'RESETPWD.BTN.RESET' | translate | uppercase}}
                    </button>
                </form>
    
                <!-- <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/pages/auth/login-2'">{{ 'RESETPWD.LOGIN' | translate}}</a>
                </div> -->
    
            </div>
        </div>
    </div>