<h1 mat-dialog-title>Senarai Pengguna</h1>
<div mat-dialog-content>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="{{ 'PET.SEARCH' | translate }}">
            </mat-form-field>
        </div>
      <!-- Datatable pengguna -->
      <div id="modal-pengguna" fusePerfectScrollbar>

          <ngx-datatable
              class="material "
              headerClass="cust-header"
              [rows]="rows"
              [loadingIndicator]="loadingIndicator"
              [columnMode]="'force'"
              [headerHeight]="55"
              [footerHeight]="56"
              [rowHeight]="'auto'"
              [externalPaging]="true"
              [externalSorting]="true"
              [scrollbarH]="true"
              [reorderable]="reorderable"
              [selectionType]="'checkbox'"
              [limit]="page.size"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              (page)='setPage($event)'
              (sort)="onSort($event)">

              <ngx-datatable-column
                  [width]="48"
                  [canAutoResize]="false"
                  [sortable]="false">

                  <ng-template
                    let-row="row"
                      ngx-datatable-cell-template
                      let-value="value"
                      let-isSelected="isSelected"
                      let-onCheckboxChangeFn="onCheckboxChangeFn">
                          <mat-checkbox
                              (ngModel)='checkbox[row.id]'
                              (change)="selectUser(row.id)">
                          </mat-checkbox>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="No IC" prop="username" ></ngx-datatable-column>
              <ngx-datatable-column name="Nama" prop="name" ></ngx-datatable-column>
              <ngx-datatable-column name="Emel" prop="email"></ngx-datatable-column>
              <ngx-datatable-column name="Agensi" prop="kementerian.name"></ngx-datatable-column>
          </ngx-datatable>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button color="accent" (click)="submitTambahAhli()" aria-label="SUBMIT">
                Tambah
        </button>
        &#160;&#160;
        <button mat-raised-button mat-dialog-close color="warn" >
                Kembali
        </button>
    </div>
</div>
