<h1 mat-dialog-title>{{ 'AGENSI.DELETEAGENCY.DELETEAGENCY' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'AGENSI.DELETEAGENCY.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmDelete()">
                {{ 'AGENSI.DELETEAGENCY.DELETE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'AGENSI.DELETEAGENCY.BACK' | translate | uppercase}}
        </button>

    </div>
  </div>
