<h1 mat-dialog-title>{{ 'KEMENTERIAN.DELETEKEMENTERIAN.DELETEKEMENTERIAN' | translate }}</h1>
<div mat-dialog-content>
  <p>{{ 'KEMENTERIAN.DELETEKEMENTERIAN.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmDelete()">
                {{ 'KEMENTERIAN.DELETEKEMENTERIAN.DELETE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'KEMENTERIAN.DELETEKEMENTERIAN.BACK' | translate | uppercase}}
        </button>

    </div>
 </div>
