<div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="agensiForm"
            [formGroup]="agensiForm" novalidate (ngSubmit)="hantar()">

            <div class="h2 mb-24">{{ 'USER.EDIT.AGENCY' | translate }}</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select #kementerian (selectionChange)="setKementerian(kementerian.value)" placeholder="{{ 'USER.MINISTRY' | translate }}" formControlName="kementerian" required>
                        <mat-option *ngFor="let kementerian of kementerianLs" [value]="kementerian.id">
                            {{kementerian.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="agensiFormErrors.kementerian.required">
                            {{ 'USER.EDIT.FORMERROR.KEMENTERIAN' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select #agency (selectionChange)="setSBAgency(agency.value)" placeholder="{{ 'USER.AGENCY' | translate }}" formControlName="agensi">
                        <mat-option *ngFor="let agency of agensiLs" [value]="agency.id">
                            {{agency.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                    <mat-select #bahagian (selectionChange)="setSBBahagian(bahagian.value)" placeholder="{{ 'USER.DIVISION' | translate }}" formControlName="bahagian" required>
                        <mat-option *ngFor="let bahagian of bahagianLs" [value]="bahagian.id">
                            {{bahagian.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="agensiFormErrors.bahagian.required">
                            {{ 'USER.EDIT.FORMERROR.BAHAGIAN' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="{{'USER.POSITION' | translate }}" formControlName="position" required>
                    <mat-error *ngIf="agensiFormErrors.position.required">
                        {{ 'USER.EDIT.FORMERROR.POSITION' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-select #skema (selectionChange)="setSBSkema(skema.value)" placeholder="{{'USER.SKEMA' | translate }}" formControlName="skema"
                        required>
                        <mat-option *ngFor=" let skema of skemaLs" [value]="skema.id">
                            {{skema.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="agensiFormErrors.skema.required">
                        {{ 'USER.EDIT.FORMERROR.SKEMA' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-select #grade (selectionChange)="setSBGrade(grade.value)" placeholder="{{'USER.GRADE' | translate }}" formControlName="grade"
                        required>
                        <mat-option *ngFor=" let grade of gradeLs" [value]="grade.id">
                            {{grade.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="agensiFormErrors.skema.required">
                        {{ 'USER.EDIT.FORMERROR.GRADE' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="agensiForm.invalid">
                    {{ 'USER.EDIT.BTN.SUBMIT' | translate | uppercase}}
                </button>
                &#160;&#160;
                <button type="reset" mat-raised-button color="warn" (click)="backButton()">
                    {{ 'USER.EDIT.BTN.BACK' | translate | uppercase}}
                </button>
            </div>


        </form>


    </div>
</div>