<div id="register" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/jataNegara.svg">
        </div>

        <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Selamat Datang ke MyDiWorks!
        </div>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Ruang Kerja Digital Sektor Awam
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">{{'REG.REGISTER' | translate | uppercase}}</div>
            

            <!-- <form name="registerForm" [formGroup]="registerForm" novalidate (ngSubmit)="signup()">

                

            </form> -->

            

            <div class="vertical-stepper-wrapper">

                <!-- VERTICAL STEPPER EXAMPLE -->
                <mat-vertical-stepper [linear]="true">

                    <mat-step [stepControl]="registerForm">

                        <form [formGroup]="registerForm">

                            <ng-template matStepLabel>{{'REG.STEP1' | translate}}</ng-template>

                            <div>

                                <mat-form-field>
                                    <input matInput placeholder="{{ 'USER.NAME' | translate}}" formControlName="name">
                                    <mat-error *ngIf="registerFormErrors.name.required">
                                        {{ 'USER.ERR.REQUIRED.NAME' | translate}}
                                    </mat-error>
                                </mat-form-field>
                    
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'USER.IC' | translate}}" formControlName="username">
                                    <mat-error *ngIf="registerFormErrors.username.required">
                                        {{ 'USER.ERR.REQUIRED.USERNAME' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="registerFormErrors.username.pattern">
                                        {{ 'USER.ERR.FORMAT.INVALID.NUMBER' | translate}}
                                        </mat-error>
                                    <mat-error *ngIf="registerFormErrors.username.minlength">
                                        {{ 'USER.ERR.FORMAT.INVALID.USERNAME' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="registerFormErrors.username.maxlength">
                                            {{ 'USER.ERR.FORMAT.INVALID.USERNAME' | translate}}
                                    </mat-error>
                                    <mat-hint class="cust-error" *ngIf="errUsernameExist">
                                        {{ 'USER.ERR.EXIST.USERNAME' | translate}}
                                    </mat-hint>
                                    
                                </mat-form-field>
                    
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'USER.EMAIL' | translate}}" formControlName="email">
                                    <mat-error *ngIf="registerFormErrors.email.required">
                                        {{ 'USER.ERR.REQUIRED.EMAIL' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="registerFormErrors.email.email">
                                            {{ 'USER.ERR.FORMAT.INVALID.EMAIL' | translate}}
                                    </mat-error>
                                    <mat-hint class="cust-error" *ngIf="errEmailExist">{{ 'USER.ERR.EXIST.EMAIL' | translate}}</mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="{{ 'USER.TUJUAN' | translate}}" formControlName="tujuan">
                                    <mat-error *ngIf="registerFormErrors.tujuan.required">
                                        {{ 'USER.ERR.REQUIRED.TUJUAN' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="registerFormErrors.tujuan.tujuan">
                                            {{ 'USER.ERR.FORMAT.INVALID.TUJUAN' | translate}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select matInput placeholder="{{ 'USER.MINISTRY' | translate}}" formControlName="kementerian" #kementerian (selectionChange)="onChangeKemnterian(kementerian.value)">
                                        <mat-option value="">{{ 'USER.CHOOSE' | translate}}</mat-option>
                                        <mat-option *ngFor="let kementerian of kementerianLs" [value]="kementerian.id">
                                            {{kementerian.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="registerFormErrors.kementerian.required">{{ 'USER.ERR.REQUIRED.MINISTRY' | translate}}</mat-error>
                                </mat-form-field>
                                <mat-form-field *ngIf="agencyExist" [@expandCollapse]>
                                    <mat-select matInput placeholder="{{ 'USER.AGENCY' | translate}}" formControlName="agensi" #agensi>
                                        <mat-option value="">{{ 'USER.CHOOSE' | translate}}</mat-option>
                                        <mat-option *ngFor="let agensi of agensiLs" [value]="agensi.id">
                                            {{agensi.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-raised-button matStepperNext [disabled]="registerForm.invalid" type="button" color="accent">
                                        {{'REG.BTN.NEXT' | translate}}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="termForm">

                        <form [formGroup]="termForm">

                            <ng-template matStepLabel>{{'REG.STEP2' | translate}}</ng-template>

                            <div [innerHTML]="syarat"></div>
                            <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox name="terms" aria-label="Setuju" formControlName="term" required>
                                    <span>{{'REG.AGREE' | translate}}</span>
                                </mat-checkbox>
                            </div>

                            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    {{'REG.BTN.PREVIOUS' | translate}}
                                </button>
                                <!-- <button mat-raised-button matStepperNext [disabled]="termForm.invalid" type="button" color="accent">
                                    {{'REG.BTN.NEXT' | translate}}
                                </button> -->
                                <button mat-raised-button type="button" color="accent" [disabled]="termForm.invalid" (click)="signup()">
                                    {{'REG.BTN.SIGNUP' | translate | uppercase}}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <!-- <mat-step>

                        <ng-template matStepLabel>{{'REG.STEP4' | translate}}</ng-template>

                        <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                            {{'REG.THANK' | translate}}
                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                {{'REG.BTN.PREVIOUS' | translate}}
                            </button>
                            <button mat-raised-button type="button" color="accent" (click)="signup()">
                                {{'REG.BTN.SIGNUP' | translate | uppercase}}
                            </button>
                        </div>

                    </mat-step> -->

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER EXAMPLE -->

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{'REG.ACC.EXIST' | translate}}</span>
                <a class="link" [routerLink]="'/login'">{{'REG.LOGIN' | translate}}</a>
            </div>
        </div>
    </div>
</div>