
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-16">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">{{ 'ROLE.SETTING' | translate }}</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">{{ 'ROLE.DETAILS' | translate }}</span>
    
                </div>
                <div class="h2 mt-16">{{ 'ROLE.DETAILS' | translate }}</div>
            </div>
        </div>
        <!-- / HEADER -->
    
        <!-- CONTENT -->
        <div class="content p-24">
    
            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
    
                <!-- REACTIVE FORM EXAMPLE -->
    
                <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                      fxFlex="1 0 auto" name="detailForm" [formGroup]="detailForm" novalidate (ngSubmit)="hantar()">
    
                    <div class="h2 mb-24">{{ 'ROLE.TITLE' | translate }}</div>
    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                        <mat-form-field fxFlex="100">
    
                            <input matInput placeholder="{{ 'ROLE.NAMA' | translate }}" formControlName="name" required>
    
                         </mat-form-field>
                       
                    </div>
    
                    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                        <mat-form-field fxFlex="100">
        
                            <input matInput placeholder="{{ 'ROLE.EMAIL' | translate }}" formControlName="email" required>
        
                        </mat-form-field>

                    </div>
    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                            <mat-form-field fxFlex="100">
            
                                <input matInput placeholder="{{ 'ROLE.AGENSI' | translate }}" formControlName="agensi" required>
            
                            </mat-form-field>

                    </div>
    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                          <mat-form-field fxFlex="100">
    
                              <textarea matInput placeholder="{{ 'ROLE.REMARK' | translate }}" formControlName="remarks"required></textarea>
    
                          </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                            <mat-form-field fxFlex="100">
      
                                <textarea matInput placeholder="{{ 'ROLE.ADMINREMARK' | translate }}" formControlName="adminremarks"required></textarea>
      
                            </mat-form-field>
  
                      </div>
    
                    <div fxLayout="row" fxLayoutAlign="center">
                        
                        <button mat-raised-button type="reset" color="accent" (click)="redirectPage()" >
                            {{ 'ROLE.BTN.BACK' | translate }}
                        </button>
                        &#160;&#160;
                        <button mat-raised-button color="warn" (click)="reject()" [disabled]="detailForm.invalid">
                            {{ 'ROLE.BTN.REJECT' | translate }}
                        </button>
                        &#160;&#160;
                        <button mat-raised-button class="green-800" class="submit-button" aria-label="SUBMIT" [disabled]="detailForm.invalid">
                            {{ 'ROLE.BTN.APPROVE' | translate }}
                        </button>

                    </div>
    
                </form>
    
    
            </div>
        </div>
    
    
    </div>
    