
<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- HEADER -->
   
    <!-- <button class="cust-add-btn ml-20" mat-fab color="warn"><mat-icon matSuffix>add</mat-icon></button> -->
    <!-- / HEADER -->

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.MANAGE' | translate}}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{'NAV.USER.LIST' | translate}}</span>
            </div>
            <div class="h1 mt-16">{{'NAV.USER.LIST' | translate}} 
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon> 
                {{currentUser.agensi != null ? currentUser.agensi.name : currentUser.kementerian.name}} 
            </div>
        </div>

        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon>search</mat-icon>
            </label>
            <mat-form-field mat-no-float class="m-0" floatLabel="never">
                <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
            </mat-form-field>
        </div>

        

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="page-layout blank p-24">

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">
        
            <!-- <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">
        
                <ng-template 
                    ngx-datatable-header-template 
                    let-value="value" 
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                        <mat-checkbox 
                            [checked]="allRowsSelected" 
                            (change)="selectFn(!allRowsSelected)">
                        </mat-checkbox>
                </ng-template>
        
                <ng-template 
                    ngx-datatable-cell-template 
                    let-value="value" 
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <mat-checkbox 
                            [checked]="isSelected" 
                            (change)="onCheckboxChangeFn($event)">
                        </mat-checkbox>
                </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="No IC" prop="username" ></ngx-datatable-column>
            <ngx-datatable-column name="Nama" prop="name" ></ngx-datatable-column>
            <ngx-datatable-column name="Emel" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Jawatan" prop="position"></ngx-datatable-column>
            <ngx-datatable-column name="Bahagian" prop="bahagian.name"></ngx-datatable-column>

            <ngx-datatable-column name="Peranan" [sortable]="false" >
                <ng-template let-row="row"
                    ngx-datatable-cell-template>
                    <span *ngFor="let role of row.roles; let last = last;">
                        <span *ngIf="last">{{role}}</span>
                        <span *ngIf="!last">{{role}},&nbsp;</span>
                    </span>
                </ng-template>
            </ngx-datatable-column>

            

            <ngx-datatable-column name="Status Login" [sortable]="false" >
                <ng-template let-row="row"
                    ngx-datatable-cell-template>
                    <mat-chip-list>
                        <mat-chip color="accent" selected="true" *ngIf="row?.firstLogin == false" >
                            Pernah
                        </mat-chip>
                        <mat-chip color="primary" selected="true" *ngIf="row?.firstLogin == true" >
                            Belum
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" [sortable]="false" >
                <ng-template let-row="row"
                    ngx-datatable-cell-template>
                    <mat-chip-list>
                        <mat-chip class="mat-green-600-bg" selected="true" *ngIf="row?.enabled == true" >
                            Aktif
                        </mat-chip>
                        <mat-chip color="warn" selected="true" *ngIf="row?.enabled == false" >
                            Tidak Aktif
                        </mat-chip>
                    </mat-chip-list>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tindakan" 
                [canAutoResize]="false"
                [sortable]="false">
                <ng-template let-row="row"
                    ngx-datatable-cell-template >
                    <swal
                        #deleteSwal
                        title="Padam pengguna? "
                        text="Adakah anda pasti untuk padam pengguna?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="delete(row.id)">
                    </swal>
                    <swal
                        #deactivatetSwal
                        title="Nyahaktifkan pengguna? "
                        text="Adakah anda pasti untuk nyahaktifkan pengguna?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="deactivate(row.id)">
                    </swal>
                    <swal
                        #activateSwal
                        title="Aktifkan pengguna? "
                        text="Adakah anda pasti untuk aktifkan pengguna?"
                        type="warning"
                        [showCancelButton]="true"
                        cancelButtonClass="btn btn-danger"
                        [focusCancel]="true"
                        (confirm)="activate(row.id)">
                    </swal>
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="Kemaskini" (click)="resetPwd(row.id)">
                            <mat-icon>edit</mat-icon>
                            <span>Kemaskini</span>
                        </button>
                        <button mat-menu-item aria-label="Padam" *ngIf="row?.firstLogin == true" [swal]="deleteSwal">
                            <mat-icon>delete</mat-icon>
                            <span>Padam</span>
                        </button>
                        <button mat-menu-item aria-label="Padam" *ngIf="row?.enabled == true" [swal]="deactivatetSwal">
                            <mat-icon>person_add_disabled</mat-icon>
                            <span>Nyah Aktif</span>
                        </button>
                        <button mat-menu-item aria-label="Padam" *ngIf="row?.enabled == false" [swal]="activateSwal">
                            <mat-icon>person_add_disabled</mat-icon>
                            <span>Aktifkan</span>
                        </button>
                    </mat-menu>

                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>

