<div id="lock" fxLayout="column" fusePerfectScrollbar>

    <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="lock-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="lock-form-header" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">

                <div class="avatar-container">
                    <img *ngIf="currentUser?.image" class="avatar big" src="data:image/JPEG;base64,{{currentUser?.image}}">
                    <img *ngIf="!currentUser?.image" class="avatar big" src="assets/images/avatars/profile.jpg">
                    <mat-icon class="s-36">lock</mat-icon>
                </div>

                <div>
                    <div class="title">{{'LOGIN.SESSION' | translate | uppercase}}</div>
                    <div class="subtitle">
                            {{'LOGIN.EXPIRED' | translate}}
                    </div>
                </div>

            </div>

            <form name="lockForm" [formGroup]="lockForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error *ngIf="lockFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <button (click)="login()" mat-raised-button class="submit-button" color="accent"
                        aria-label="UNLOCK" [disabled]="lockForm.invalid">
                        {{'LOGIN.UNLOCK' | translate}}
                </button>

            </form>

            <div class="message">
                <a class="link" [routerLink]="'/login'">{{'LOGIN.AREYOU' | translate}}&nbsp;{{currentUser?.name}}?</a>
            </div>

        </div>

    </div>

</div>