 <div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                <div class="title">General Information</div>
                <div class="info side-title"  *ngIf="rolesAdmin != 'Ahli'"> 
                    <button mat-raised-button (click)="editForm()" >{{ 'WALL.ABOUT.EDIT' | translate}}</button>
                    &nbsp; &nbsp;
                    <button mat-raised-button color="warn" (click)="deactiveDialog()">{{ 'WALL.PET.DEACTIVE' | translate}}</button>
                </div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.NAME' | translate }}</div>
                    <div class="info">{{nama}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.NAMASINGKATAN' | translate }}</div>
                    <div class="info">{{namaSingkatan}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.KETERANGAN' | translate }}</div>
                    <span class="info">{{keterangnan}}</span>   
                </div>

               
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.TUJUAN' | translate }}</div>
                    <div class="info">{{tujuan}}</div>
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.CATATAN' | translate }}</div>
                    <span class="info">{{catatan}}</span>
                </div>
        
                
            </div> 
            
        </div>
        <div class="profile-box info-box Agensi" fxLayout="column">
            
            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                    <div class="title">{{ 'WALL.ABOUT.AGENSI' | translate }}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.KEMENTERIAN' | translate }}</div>
                    <span class="info">{{kementerian}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.AGENSI' | translate }}</div>
                    <span class="info">{{agensi}}</span>   
                </div>

                <div class="info-line">
                    <div class="title">{{ 'WALL.ABOUT.BAHAGIAN' | translate }}</div>
                    <span class="info">{{bahagian}}</span>   
                </div>
            </div>
        </div>

        <div class="profile-box info-box Agensi" fxLayout="column">
            
            <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                    <div class="title">{{ 'WALL.ABOUT.CREATEDDATE' | translate }}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">{{createddate | date:'yyyy-MM-dd'}}</div>
                    <div class="title">{{createddate | date:'hh:mm'}}</div>
                </div>
            </div>
        </div>
          
           
    </div>

</div> 
