<h1 mat-dialog-title>{{ 'WALL.PET.TITLE' | translate }}</h1>
<div mat-dialog-content>
      <!-- REACTIVE FORM EXAMPLE -->
      <form class="p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="deactiveForm" [formGroup]="deactiveForm" novalidate (ngSubmit)="hantar()">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field fxFlex="200">

                  <textarea matInput placeholder="{{ 'WALL.PET.REMARK' | translate }}" formControlName="catatan"></textarea>

              </mat-form-field>

          </div>

          <div mat-dialog-actions>
            <button mat-raised-button mat-dialog-close color = "warn">{{ 'WALL.BTN.BACK' | translate }}</button>
            <button mat-raised-button mat-dialog-submit color = "accent" [disabled]="deactiveForm.invalid">{{ 'WALL.BTN.SUBMIT' | translate }}</button>
          </div>

      </form>
</div>