<div id="photos-videos" class="p-24">
    <div>

    <form name="versionForm" enctype="multipart/form-data" [formGroup]="versionForm" id="versionForm" novalidate>
        <div class="period-title" fxLayout="row wrap">
            <div class="page-layout blank p-24" fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-form-field mat-no-float class="m-0" floatLabel="never">
                    <input matInput (keyup)='updateFilter($event)' placeholder="Carian">
                </mat-form-field>
                <!-- <button mat-fab color="primary"><mat-icon matSuffix>file_upload</mat-icon></button> -->
                <label title="Upload New Version" for="file-upload" class="custom-file-upload">
                    <mat-icon matSuffix>file_upload</mat-icon>                  
                </label>
                <input id="file-upload" (change)="fileUploadChange($event)" #fileUpload type="file"/>
            </div>
        </div>
    </form>

        <div class="period-media" fxLayout="row wrap">
            <div class="page-layout blank p-24" fusePerfectScrollbar>

                <ngx-datatable
                    #myTable
                    class='material expandable'
                    headerClass="cust-header"
                    [rows]="rows"
                    [loadingIndicator]="loadingIndicator"
                    [columnMode]="'force'"
                    [headerHeight]="55"
                    [footerHeight]="56"
                    [rowHeight]="'auto'"
                    [externalPaging]="true"
                    [externalSorting]="true"
                    [scrollbarH]="true"
                    [reorderable]="reorderable"
                    [selectionType]="'checkbox'"
                    [limit]="page.size"
                    [count]="page.totalElements"
                    [offset]="page.pageNumber"
                    (page)='setPage($event)'
                    (sort)="onSort($event)">
                
                    
        
                    
                    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                            <ngx-datatable
                            class="dark"
                            headerClass="cust-header"
                            [rows]="rownew"
                            [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'"
                            [headerHeight]="0"
                            [footerHeight]="0"
                            [rowHeight]="'auto'"
                            [externalPaging]="true"
                            [externalSorting]="true"
                            [scrollbarH]="true"
                            [reorderable]="reorderable"
                            [selectionType]="'checkbox'"
                            [limit]="pagenew.size"
                            [count]="pagenew.totalElements"
                            [offset]="pagenew.pageNumber"
                            (page)='setPage($event)'
                            (sort)="onSort($event)">
                            <ngx-datatable-column
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                            </ngx-datatable-column>
                                <ngx-datatable-column name="Dokumen" prop="filename" ></ngx-datatable-column>
                                <ngx-datatable-column name="Jenis" prop="jenisKandungan" ></ngx-datatable-column>
                                <ngx-datatable-column name="Version" prop="version" ></ngx-datatable-column>
                                <ngx-datatable-column name="Pemilik" prop="createdby.name"></ngx-datatable-column>
                                <ngx-datatable-column name="Tarikh Kemaskini"
                                    [canAutoResize]="false"
                                    [sortable]="false">
                                    <ng-template let-row="row"
                                    ngx-datatable-cell-template>
                                        {{ row.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status">
                                    <ng-template let-row="row" ngx-datatable-cell-template >
                                        <mat-icon title="Locked" *ngIf="row.status == 2">lock</mat-icon>
                                        <mat-icon title="Open" *ngIf="row.status == 1">lock_open</mat-icon>
                                        <!-- <mat-icon title="Editable" *ngIf="row.status == 1 || row.status == 2">assignment</mat-icon> -->
                                        <mat-icon title="Final Locked" *ngIf="row.status == 3">https</mat-icon>
                                        <mat-icon title="Final" *ngIf="row.status == 3">assignment_turned_in</mat-icon>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Tindakan" [width]="240">
                                    <ng-template let-row="row" ngx-datatable-cell-template >
                                        <button title="Download" mat-icon-button (click)="download(row.instanceid)"> 
                                            <mat-icon>file_download</mat-icon> 
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <a 
                            *ngIf="!expanded"
                            href="javascript:void(0)"
                            [class.datatable-icon-right]="!expanded"
                            title="Expand/Collapse Row"
                            (click)="toggleExpandRow(row)">
                            </a>
                            <a 
                            *ngIf="expanded"
                            href="javascript:void(0)"
                            [class.datatable-icon-down]="expanded"
                            title="Expand/Collapse Row"
                            (click)="onCollapseRow()">
                            </a>


                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dokumen" prop="filename" ></ngx-datatable-column>
                    <ngx-datatable-column name="Jenis" prop="jenisKandungan" ></ngx-datatable-column>
                    <ngx-datatable-column name="Version" prop="version"></ngx-datatable-column>
                    <ngx-datatable-column name="Pemilik" prop="createdby.name"></ngx-datatable-column>
                    <ngx-datatable-column name="Tarikh Kemaskini"
                        [canAutoResize]="false"
                        [sortable]="false">
                        <ng-template let-row="row"
                        ngx-datatable-cell-template>
                            {{ row.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status">
                        <ng-template let-row="row" ngx-datatable-cell-template >
                            <mat-icon title="Locked" *ngIf="row.status == 2">lock</mat-icon>
                            <mat-icon title="Open" *ngIf="row.status == 1">lock_open</mat-icon>
                            <mat-icon title="Editable" *ngIf="row.status == 1 || row.status == 2">assignment</mat-icon>
                            <mat-icon title="Final Locked" *ngIf="row.status == 3">https</mat-icon>
                            <mat-icon title="Final" *ngIf="row.status == 3">assignment_turned_in</mat-icon>
                        </ng-template>

                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tindakan" [width]="240">
                        <ng-template let-row="row" ngx-datatable-cell-template >
                            <button title="Download" mat-icon-button (click)="download(row.instanceid)"> 
                                <mat-icon>file_download</mat-icon> 
                            </button>
                            <button title="Edit" mat-icon-button (click)="edit(row.instanceid, row.id)"> 
                                <mat-icon>mode_edit</mat-icon> 
                            </button>
                            <!-- <button title="Delete" mat-icon-button (click)="delete(row.id)"> 
                                <mat-icon>delete</mat-icon> 
                            </button> -->
                            <button title="Finalize" mat-icon-button (click)="finalized(row.id)"> 
                                <mat-icon>check_circle</mat-icon> 
                            </button>
                            <button title="Unlock File" mat-icon-button (click)="unlockFile(row.id)"> 
                                <mat-icon>lock_open</mat-icon> 
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
        
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
