<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PENGUMUMAN.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PENGUMUMAN.LIST' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'PENGUMUMAN.ADD' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'PENGUMUMAN.ADD' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- Form Starts here --> 
            <!-- <div class="content"> -->
            
                <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" novalidate name="pengumumanForm"  [formGroup]="pengumumanForm" id="pengumumanForm">

                    <div class="h2 mb-24">{{ 'PENGUMUMAN.DETAILS' | translate }}</div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="100">

                            <input matInput placeholder="{{ 'PENGUMUMAN.TITLE' | translate }}" formControlName="title"required name="title">

                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50">

                            <input readonly="" matInput [matDatepicker]="startDatePicker" placeholder="{{ 'PENGUMUMAN.STARTDATE' | translate }}" formControlName="startDatetime"  required name="startDatetime"> 
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>

                        </mat-form-field>

                        <mat-form-field fxFlex="50">

                            <input readonly="" matInput [matDatepicker]="endDatePicker" placeholder="{{ 'PENGUMUMAN.ENDDATE' | translate }}" formControlName="endDatetime" required name="endDatetime">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>

                        </mat-form-field>

                    </div>      

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        
                         <app-ngx-editor [config]="editorConfig" height="100px" minHeight="50px" formControlName="teksPengumuman"  required name="teksPengumuman"></app-ngx-editor>
                       
                    </div>

                
                    &#160;&#160;
           
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" type="rese" (click)="hantar()"
                        [disabled]="pengumumanForm.invalid">
                            {{ 'PENGUMUMAN.BTN.SUBMIT' | translate }}
                        </button>
                        &#160;&#160;
                        <button mat-raised-button color="warn" (click)="backButton()" >
                            {{ 'PENGUMUMAN.BTN.BACK' | translate }}
                        </button>
                    </div>

                </form>

            
        </div>
    </div>
    

</div>


