// bootstrap style toast
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

@import "~bootstrap/scss/_buttons.scss";

// Import Fuse core library
@import "@fuse/scss/core";

@import "font-awesome/css/font-awesome.css";


//custom css
.cust-add-btn {
    bottom: 25px !important;
    z-index: 999 !important;
}

.cust-m-n-t-30{
    margin-top: -30px !important;
}

.cust-header{
    background-color: #f4f5f8 !important;
}

.ngx-datatable.material {
    .datatable-header {
        background-color: #f4f5f8 !important;
    }
}

.fa-spin:hover {
-webkit-animation: fa-spin 2s infinite linear;
animation: fa-spin 2s infinite linear;
}
.fa-pulse {
-webkit-animation: fa-spin 1s infinite steps(8);
animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
@keyframes fa-spin {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}

.cust-material-icons {
    //font-size: 1.5rem;
    //color: white;
    //position: relative;
    //border-radius: 50%;
    //padding: 5px;
    //margin: 3px;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

.cust-material-icons:after {
    //content: "";
    //width: 100%;
    //height: 100%;
    //border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    //top: -2px;
    //left: -2px;
    //border-radius: 50%;
    //transition: all 0.3s ease;
}

.cust-material-icons:hover:after {
    transform: scale(1);
}

.cust-material-icons:hover {
    transform: rotate(90deg);
}


.rotate-45:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ngx-editor-button{
    font-size: 1.3rem;
}
.swal2-popup{
    font-size: 1.7rem !important;
}

.blue-snackbar {
    color: #ffffff
}

.red-snackbar {
    color: #ff0000
}

.swal2-confirm, .swal2-cancel {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 5px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.swal2-confirm, .swal2-cancel {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.cust-error{
    color: #f44336 !important;
}


