
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'BAHAGIAN.TITLE' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'BAHAGIAN.LIST' | translate }}</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">{{ 'BAHAGIAN.NEW' | translate }}</span>
            </div>
            <div class="h2 mt-16">{{ 'BAHAGIAN.NEW' | translate }}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="bahagianForm" [formGroup]="bahagianForm" novalidate (ngSubmit)="hantar()">

                <div class="h2 mb-24">{{ 'BAHAGIAN.DETAILS' | translate }}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'BAHAGIAN.NAME' | translate }}" formControlName="name"required>
                        <mat-error *ngIf="bahagianFormErrors.name.required">
                                {{ 'BAHAGIAN.FORMERROR.NAME' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errNameExist">{{ 'BAHAGIAN.FORMERROR.NAMEEXIST' | translate}}</mat-hint>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'BAHAGIAN.CODE' | translate }}" formControlName="code" required>
                        <mat-error *ngIf="bahagianFormErrors.code.required">
                                {{ 'BAHAGIAN.FORMERROR.CODE' | translate }}
                        </mat-error>
                        <mat-hint class="cust-error" *ngIf="errCodeExist">{{ 'BAHAGIAN.FORMERROR.CODEEXIST' | translate}}</mat-hint>
                    </mat-form-field>

                </div>


                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'BAHAGIAN.KEMENTERIAN' | translate }}" formControlName="kementerian">
                        <!-- <mat-select #kementerian (selectionChange)="setKementerian(kementerian.value)" placeholder="{{ 'BAHAGIAN.KEMENTERIAN' | translate }}" formControlName="kementerian" required>
                            <mat-option *ngFor="let kementerian of kementerianLs" [value]="kementerian.id">
                                {{kementerian.name}}
                            </mat-option> -->
                        <!-- </mat-select>
                        <mat-error *ngIf="bahagianFormErrors.kementerian.required">
                                {{ 'BAHAGIAN.FORMERROR.KEMENTERIAN' | translate }}
                        </mat-error> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="{{ 'BAHAGIAN.AGENCY' | translate }}" formControlName="agency">
                        <!-- <mat-select #agency (selectionChange)="setSBAgency(agency.value)" placeholder="{{ 'BAHAGIAN.AGENCY' | translate }}" formControlName="agency">
                            <mat-option *ngFor="let agency of agensiLs" [value]="agency.id">
                                {{agency.name}}
                            </mat-option>
                        </mat-select> -->
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT"
                    [disabled]="bahagianForm.invalid">
                            {{ 'BAHAGIAN.BTN.SUBMIT' | translate | uppercase}}
                    </button>
                    &#160;&#160;
                    <button type="reset" mat-raised-button color="warn" (click)="redirectBahagianPage()">
                            {{ 'BAHAGIAN.BTN.BACK' | translate | uppercase}}
                    </button>

                </div>

            </form>

            
        </div>
    </div>
    

</div>

