<h1 mat-dialog-title *ngIf="_type === 'komen'">{{ 'WALL.DELETE.KOMEN.DELETE' | translate }}</h1>
<h1 mat-dialog-title *ngIf="_type === 'post'">{{ 'WALL.DELETE.POST.DELETE' | translate }}</h1>
<div mat-dialog-content>
  <p *ngIf="_type === 'komen'">{{ 'WALL.DELETE.KOMEN.CONFIRM' | translate }}</p>
  <p *ngIf="_type === 'post'">{{ 'WALL.DELETE.POST.CONFIRM' | translate }}</p>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">

        <button mat-raised-button color="accent" (click)="confirmDelete()">
                {{ 'WALL.DELETE.DELETE' | translate | uppercase}}
        </button>

        <button mat-raised-button color="warn" [mat-dialog-close]="">
                {{ 'WALL.DELETE.BACK' | translate | uppercase}}
        </button>

    </div>
  </div>
