<h1 mat-dialog-title *ngIf="_type === 'komen'">{{ 'WALL.EDIT.KOMEN.EDIT' | translate }}</h1>
<h1 mat-dialog-title *ngIf="_type === 'post'">{{ 'WALL.EDIT.POST.EDIT' | translate }}</h1>
<form name="editForm" [formGroup]="editForm" novalidate (ngSubmit)="confirmEdit()" fxFlex>
        <mat-dialog-content>

                <textarea formControlName="editArea" placeholder="Write something.." style="width: 100%;
                height: 140px;"></textarea>

                <footer fxLayout="row" fxLayoutAlign="space-between center">

                        <mat-form-field *ngIf="_type === 'post'" class="w-100-p">

                                <mat-chip-list #tagListing name="tagInput">

                                        <mat-chip *ngFor="let tag of tagList" [removable]="true" 
                                        (removed)="removeTag(tag)">
                                        
                                        {{tag}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input placeholder="Tags"
                                                [matChipInputFor]="tagListing"
                                                [matChipInputAddOnBlur]="true"
                                                (matChipInputTokenEnd)="addTag($event)"/>

                                </mat-chip-list>

                        </mat-form-field>

                </footer>

                        
                                

                
        </mat-dialog-content>
        <div mat-dialog-actions>
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">
                        <button mat-raised-button color="accent" class="post-button" aria-label="SUBMIT"
                        [disabled]="editForm.invalid">
                                {{ 'WALL.EDIT.EDIT' | translate | uppercase}}
                        </button>

                        <button mat-raised-button color="warn" [mat-dialog-close]="">
                                {{ 'WALL.EDIT.BACK' | translate | uppercase}}
                        </button>
                </div>
        </div>

</form>