<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="page-layout blank p-24" fusePerfectScrollbar>

        <ngx-datatable
            class="material "
            headerClass="cust-header"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="55"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="page.size"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            (page)='setPage($event)'
            (sort)="onSort($event)">

            <ngx-datatable-column
                [width]="48"
                [canAutoResize]="false"
                [sortable]="false">

                <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                        <mat-checkbox
                            [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)">
                        </mat-checkbox>
                </ng-template>

                <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <mat-checkbox
                            [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)">
                        </mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nama Ahli" prop="user.name" ></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="user.email" ></ngx-datatable-column>
            <ngx-datatable-column name="No Phone" prop="user.phoneNo" ></ngx-datatable-column>
            <ngx-datatable-column name="Agensi" prop="user.agensi.code" ></ngx-datatable-column>
    
            <ngx-datatable-column name="Peranan" prop="petAuthorities.name" ></ngx-datatable-column>
                
            

        </ngx-datatable>
    </div>


</div>
