<div id="about" class="p-24" fxLayout="row wrap">

        <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
    
            <div class="profile-box info-box general" fxLayout="column">
    
                <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                    <div class="title">General Information</div>
                    <div class="info side-title"  *ngIf="rolesAdmin != 'Ahli'">
                        <button mat-raised-button (click)="editForm()" >{{ 'WALL.ABOUT.EDIT' | translate}}</button>
                    </div>
                </header>
    
                <div class="content">
                    <div class="info-line">
                        <div class="title">Name</div>
                        <div class="info">{{nama}}</div>
                    </div>
    
                    <div class="info-line">
                        <div class="title">Nama Singkatan</div>
                        <div class="info">{{namaSingkatan}}</div>
                    </div>
    
                    <div class="info-line">
                        <div class="title">Keterangan</div>
                        <span class="info">{{keterangnan}}</span>   
                    </div>
    
                   
                    <div class="info-line">
                        <div class="title">Tujuan</div>
                        <div class="info">{{tujuan}}</div>
                    </div>
                    
                </div> 
                
            </div>
            <div class="profile-box info-box Agensi" fxLayout="column">
                
                <header class="mat-accent-bg"fxLayout="row"  fxLayoutAlign="space-between none">
                        <div class="title">Agensi</div>
                </header>
    
                <div class="content">
                    <div class="info-line">
                        <div class="title">Kementerian</div>
                        <span class="info">{{kementerian}}</span>   
                    </div>
    
                    <div class="info-line">
                        <div class="title">Agensi</div>
                        <span class="info">{{agensi}}</span>   
                    </div>
    
                    <div class="info-line">
                        <div class="title">Bahagian</div>
                        <span class="info">{{bahagian}}</span>   
                    </div>
                </div>
            </div>
              
               
        </div>
    
    </div> 
    