       
    <ngx-datatable 
        class="material " 
        headerClass="cust-header" 
        [rows]="rows" 
        [loadingIndicator]="loadingIndicator" 
        [columnMode]="'force'" 
        [headerHeight]="55" 
        [footerHeight]="56" 
        [rowHeight]="'auto'" 
        [externalPaging]="true" 
        [externalSorting]="true" 
        [scrollbarH]="true" 
        [reorderable]="reorderable" 
        [selectionType]="'checkbox'" 
        [limit]="page.size" 
        [count]="page.totalElements" 
        [offset]="page.pageNumber" 
        (page)='setPage($event)' 
        [scrollbarH]="true"
        (sort)="onSort($event)"
        fusePerfectScrollbar> 
     
        <ngx-datatable-column 
            [width]="48" 
            [canAutoResize]="false" 
            [sortable]="false"
            > 
     
            <!--<ng-template  
               
                ngx-datatable-header-template  
                let-value="value"  
                let-allRowsSelected="allRowsSelected" 
                let-selectFn="selectFn"> 
                    <mat-checkbox  
                        [checked]="allRowsSelected"  
                        (change)="selectFn(!allRowsSelected)"
                        (ngModelChange)="onCheckboxChangeFn(id)"> 
                    </mat-checkbox> 
            </ng-template> -->
     
            <ng-template  
                let-row="row"
                ngx-datatable-cell-template  
                let-value="value"  
                let-isSelected="isSelected" 
                let-onCheckboxChangeFn="onCheckboxChangeFn"> 
                    <mat-checkbox
                    *ngIf="row.statusPermohonan == '0'"
                    [checked]="isSelected"
                    (ngModelChange)="onSelectedChange(row.id)"
                    (change)="onSelectedChange(row.id)"
                    (click)="$event.stopPropagation()"
                    >
                    </mat-checkbox> 
            </ng-template> 
        </ngx-datatable-column> 

        <ngx-datatable-column name="{{'MELULUS.USER' | translate}}" prop="pemohon.name"></ngx-datatable-column> 
        <ngx-datatable-column name="{{'MELULUS.AGENCY' | translate}}" prop="pemohon.kementerian.name" >            
            <ng-template let-row="row"
            ngx-datatable-cell-template>
                <div *ngIf="row.pemohon.agensi">
                    {{row.pemohon.agensi.name}}
                </div>
                <div *ngIf="!row.pemohon.agensi">
                    {{row.pemohon.kementerian.name}}
                </div>
            </ng-template>
        </ngx-datatable-column> 

        <ngx-datatable-column name="{{'PERMOHONAN.PET_NAME' | translate}}" prop="pet.nama" ></ngx-datatable-column> 
        <ngx-datatable-column name="{{'MELULUS.NOTES' | translate}}" prop="catatan"></ngx-datatable-column> 
        
        <ngx-datatable-column
            
            name="Tindakan" 
            [canAutoResize]="false" 
            [sortable]="false"
            *ngIf="page.status == '0'" > 
            <ng-template let-row="row" 
                ngx-datatable-cell-template > 
                <swal 
                    #approveSwal
                    title="Luluskan permohonan? " 
                    text="Tindakan ini tidak boleh diubah" 
                    type="warning" 
                    [showCancelButton]="true" 
                    cancelButtonClass="btn btn-danger" 
                    [focusCancel]="true" 
                    (confirm)="approve(row.id)"> 
                </swal> 
                <button mat-icon-button [swal]="approveSwal"
                *ngIf="row.statusPermohonan == '0'"
                       aria-label="Toggle important" fxHide.xs> 
                    <mat-icon class="green-fg" >check</mat-icon> 
                </button> 

                <swal 
                    #rejectSwal 
                    title="Tolak permohonan? " 
                    text="Tindakan ini tidak boleh diubah" 
                    type="warning" 
                    [showCancelButton]="true" 
                    cancelButtonClass="btn btn-danger" 
                    [focusCancel]="true" 
                    (confirm)="reject(row.id)"> 
                </swal> 
                <button 
                *ngIf="row.statusPermohonan == '0'"
                    mat-icon-button [swal]="rejectSwal" 
                    aria-label="Toggle star"  
                    fxHide.xs> 
                    <mat-icon class="red-fg" >clear</mat-icon> 
                </button>            
            </ng-template> 
        </ngx-datatable-column> 
        
        <ngx-datatable-column name="Status" *ngIf="page.status != '0'"> 
            <ng-template let-row="row" 
                ngx-datatable-cell-template > 
            <mat-chip-list>
                <mat-chip *ngIf="row.statusPermohonan == '1'">{{ 'MELULUS.APPROVE.APPROVE' | translate}}</mat-chip>
            </mat-chip-list>

            <mat-chip-list>
                <mat-chip *ngIf="row.statusPermohonan == '2'">{{ 'MELULUS.REJECT.REJECT' | translate}}</mat-chip>
            </mat-chip-list>
            </ng-template>
        </ngx-datatable-column>
        
    </ngx-datatable>