<mat-table #table [dataSource]="list" *fuseIfOnDom [@animateStagger]="{value:'50'}">
            
    <ng-container matColumnDef="select">
            <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <!-- <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle()"
                        [checked]
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th> -->
        <mat-cell *cdkCellDef="let row">
          <mat-checkbox (click)="cekid(row.instanceid)"
                        [checked]>
          </mat-checkbox>
        </mat-cell>
      </ng-container>
                <!-- Type Column -->
                <ng-container cdkColumnDef="icon">
                    <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxFlex="64px">
                        <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
                    </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container cdkColumnDef="filename">
                    <mat-header-cell *cdkHeaderCellDef>{{ 'MYBOX.NAME' | translate }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let row" (dblclick)="func2(row.id)"> 
                            {{row.filename}}
                        </mat-cell>
                </ng-container>
            
                <!-- Type Column -->
                <ng-container cdkColumnDef="type">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>{{ 'MYBOX.TYPE' | translate }}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.type}}</mat-cell>
                </ng-container>
            
                <!-- Owner Column -->
                <ng-container cdkColumnDef="createdby">
                    <mat-header-cell *cdkHeaderCellDef fxHide.xs>{{ 'MYBOX.OWNER' | translate }}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.createdby.name}} </mat-cell>
                </ng-container>
            
                <!-- Size Column -->
                <ng-container cdkColumnDef="fileSize">
                    <mat-header-cell *cdkHeaderCellDef fxHide.xs>{{ 'MYBOX.SIZE' | translate }}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxHide.xs>{{row.fileSize === '' ? '-': row.fileSize}}</mat-cell>
                </ng-container>
            
                <!-- Modified Column -->
                <ng-container cdkColumnDef="createddate">
                    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>{{ 'MYBOX.CREATEDDATE' | translate }}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.createddate | date : 'dd/MM/yyyy  hh:mm:ss a'}}</mat-cell>
                </ng-container>
            
                <!-- Detail Button Column -->
                <ng-container cdkColumnDef="detail-button">
                    <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
                        <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-right-sidenav">
                            <mat-icon class="secondary-text">info</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                         (click)="onSelect(row)"
                         [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                         matRipple
                         [@animate]="{value:'*',params:{y:'100%'}}"
                >
                </mat-row>
            </mat-table>
            